[2016-01-13 08:51] clement59 commented on #492
Yes et c'est la même chose dans les fiches !
Je suis d'avis d'enlever totalement les adresses mail pour le point que tu as énoncé qui est très pertinent et de deux pour qu'ils utilisent le communecter comme outil de premier contact !

[2016-01-13 09:05] Kgneo commented on #492
je suis d'accord.
Du coup ça veut dire qu'il faut mettre en place une messagerie privée.

[2016-01-13 09:07] clement59 commented on #492
+++++++++++++++++++++++++ blouiiiiii togepiiiiiiii

[2016-01-13 09:33] Kgneo opened #494 "Bug images marker"
![capture d ecran 2016-01-13 a 20 32 26](https://cloud.githubusercontent.com/assets/7578166/12290255/d7de63ce-ba34-11e5-8ce7-c8414842afe3.png)

[2016-01-13 09:51] Kgneo opened #495 "Bug filtre CP avec zéro"
j'ai regardé dans cities le CP est 5300
donc dans les formulaire quand on essaye de connecté a une ville dont le CP serait 05300 on trouve rien
et si on tape 5300, on a ce message d'eereur Please enter a value between 5 and 5 characters long.

[2016-01-13 09:54] #482 closed, assigned to Kgneo

[2016-01-13 10:11] #456 closed, assigned to Kgneo

[2016-01-13 10:30] #412 closed, assigned to sylvainbarbot

[2016-01-13 12:46] oceatoon opened #496 "login by username"

[2016-01-13 16:39] #496 closed, assigned to oceatoon

[2016-01-13 17:08] #455 closed, assigned to oceatoon

[2016-01-13 17:39] oceatoon opened #497 "mono input form"
on pourrait imaginer n'avoir qu'une porte d'entrée pour les ajouts d'éléments (formulaire)
on remplirait juste
- nom
- type (person, orga , event, project , besoin )
  en gros on aurait des formulaire qui se construirait au fur et mesure qu'on spécifie le type

ca ferait donc des formulaire ultra simple
qui grandissent avec les informations

c'est intéressant par exemple d'avoir un formulaire qui

[2016-01-13 20:48] #330 closed, assigned to oceatoon

[2016-01-13 21:39] oceatoon opened #498 "news : message simple , les tags ne devraient pas etre obligatoire"

[2016-01-13 21:40] #368 closed, assigned to oceatoon

[2016-01-13 21:41] #321 closed, assigned to oceatoon

[2016-01-13 21:51] oceatoon opened #499 "charte / spécificité : générer grace à un questionaire dynamique"
les propriété d'un projet ou d'une organisation pourrait etre generé suite à un questionnaire structuré aboutissant a des valeures qui ne serait pas modifiable par les administrateur mais par des changement
qui du coup obligent a modifier les reponse aux questions

à spécifier et construire l'arbre des possibilité

[2016-01-13 21:58] #461 closed, assigned to Kgneo

[2016-01-13 22:00] oceatoon commented on #464
par contre je penses que c'est pertinant d'ajouter le telephone et url , non ?
par obligatoire mais les avoir dans la 1ere fiche de remplissage
wdyt ?

[2016-01-13 22:02] oceatoon commented on #452
tu sais quelle image manquante creer le bug ?
https://www.communecter.org/#city.detail.insee.97414?isNotSV=1
est toujours down

[2016-01-14 00:21] Kgneo commented on #495
j'ai modifié le formulaire de création d'orga pour accepter les CP avec 4 ou 5 chiffres.
le filtre lieu dans le directory fonctionne bien avec le CP 5300

Je vais faire pareil sur projet et event

![capture d ecran 2016-01-14 a 11 19 42](https://cloud.githubusercontent.com/assets/7578166/12312143/f5463f78-bab0-11e5-8429-3a401f79fa24.png)

[2016-01-14 00:31] Kgneo commented on #495
voilà ça fonctionne sur projet et event.
A tester chez vous pour valider !

[2016-01-14 00:50] Kgneo opened #500 "En prod, changer la page d'accueil ?"
Actuellement quand on va sur www.communecter.org, la page d'accueil est toujours celle-ci :
![capture d ecran 2016-01-14 a 11 49 46](https://cloud.githubusercontent.com/assets/7578166/12312612/ef6d39c2-bab4-11e5-9939-4641f13b8aea.png)

est-ce qu'on est d'accord pour basculer sur la page de login ?
![capture d ecran 2016-01-14 a 11 53 01](https://cloud.githubusercontent.com/assets/7578166/12312672/

[2016-01-14 09:23] oceatoon opened #501 "lors de l'import , notification de positionner manuellement"
lors d'un import
si la geoloc n'est pas frutueuse
creer une notification a la personne associé
pour qu'elle fasse le positionnement manuellement

[2016-01-14 14:38] clement59 commented on #498
Ils ne le sont pas ... !?

[2016-01-14 14:51] clement59 commented on #464
La description était obligatoire juste pour organization. J'ai remove... A tester

[2016-01-14 14:52] clement59 commented on #464
Pour la question du telephone et de l'url je le switch sur une autre issue

[2016-01-14 14:54] clement59 opened #502 "Rajouter url et telephone dans le formulaire de base des organisations"
Tibor: par contre je penses que c'est pertinant d'ajouter le telephone et url , non ?
par obligatoire mais les avoir dans la 1ere fiche de remplissage
wdyt ?

[2016-01-14 15:00] clement59 commented on #502
Personnellement, je trouve que le form est déjà bien consistent... Cela alourdirait la lecture et la simplicité du formulaire. Sachant que par expérience le téléphone est représenté comme un signal d'alerte pour les utilisateurs

[2016-01-14 16:09] #60 closed, assigned to clement59

[2016-01-14 16:10] #464 closed, assigned to clement59

[2016-01-15 09:23] #498 closed, assigned to clement59

[2016-01-15 10:34] oceatoon opened #503 "not loggued access /admin/importData, should go to login instead of 403"

[2016-01-15 12:02] GDoukhan commented on #483
Pas tout à fait d'accord.
Je pense notamment aux collectivités qui peuvent être très tatillones sur ce genre de choses et qui peuvent co-organiser un événement par exemple Commune + Agglo + PNR ou avec le soutien d'une assoc. Sur certaines logiques le sous-événement mais sur d'autres ce sera très compliqué.

[2016-01-16 16:09] oceatoon commented on #483
Ah ok c'est pertinent
je le rajoute a la wishlist
merci

[2016-01-16 17:20] oceatoon commented on #500
c juste que la prod n'est pas a jour
je vais pushé aujourdhui
ou on attend de regler le bug sur les icones de la carto ?

[2016-01-16 17:21] #500 closed, assigned to oceatoon

[2016-01-16 17:25] oceatoon opened #504 "quand on recherche , cacher les autres panels"
![image](https://cloud.githubusercontent.com/assets/192076/12373586/4941daaa-bc7e-11e5-900b-2c416789f830.png)

[2016-01-18 12:10] RaphaelRIVIERE opened #505 "Création d'étapes pour l'import de données"
Améliorer l'import de données, avec un affichage par étape, pour une que l'utilisateur se retrouve plus facilement

[2016-01-18 16:10] clement59 opened #506 "LoadByHash à vérifier et mettre partout"
Menu droite vertical
Chaque rafraîchissement ou redirection

[2016-01-18 16:16] clement59 opened #507 "Like dislike - pouvoir revenir sur son choix"
Plugin à finir

[2016-01-19 01:01] Kgneo commented on #242
![capture d ecran 2016-01-19 a 12 01 20](https://cloud.githubusercontent.com/assets/7578166/12406781/631decc0-bea4-11e5-8b2b-609ed8ad08c7.png)

[2016-01-19 06:55] MathieuCoste opened #508 "Processing infini à la connexion"
![2016-01-19_0753](https://cloud.githubusercontent.com/assets/10626066/12411822/e943ef0c-be81-11e5-822f-e7116d516e91.png)

[2016-01-19 07:10] oceatoon opened #509 "Organisation : lister les outils de communication (liste de liens type Twitter, FB, blog ...)"

[2016-01-19 08:08] oceatoon opened #510 "recherche : Montreuil , il n'y a qu'une reponse alors qu'il y a 4 Montreuil dans cities"

[2016-01-19 09:25] oceatoon opened #511 "stats new stuff : une section activité pour visualiser l'activité quotidienne ou hebdomadaire sur communecter"

[2016-01-19 13:15] oceatoon opened #512 "News > nommé qlqun avec @Toto"

[2016-01-19 13:15] oceatoon opened #513 "News > ajouter un tag dans le text avec #unTag"

[2016-01-19 13:49] oceatoon opened #514 "recherche enlever les caracteres speciaux et Majuscule"
si on cherche jerome
on ne trouve pas jerôme

[2016-01-19 14:03] oceatoon opened #515 "News : si on post sur une Orga, on ne le voit pas sur le panel sur mon mur"
ca pourrait au niveau du scope
wdyt ?

[2016-01-19 14:10] oceatoon opened #516 "linkbook : repertoire de lien"
sur mon mur ou celui d'une association
on peut ajouter et tag des liens
le linkbook permet de visualiser / trier / trouver des liens publier
une sorte d'outil de bookmarking social
une facon simple de retrouver d'ancienne ressource integré
wdyt ?

[2016-01-19 14:17] oceatoon opened #517 "mettre l'email dans la recherche ?"

[2016-01-19 21:42] Kgneo commented on #510
j'ai regardé sur la prod, j'ai bien trouvé 4 montreuil

[2016-01-20 00:19] Kgneo commented on #494
bug résolu apparement, en local et en prod

[2016-01-20 00:19] #494 closed, assigned to Kgneo

[2016-01-20 00:21] Kgneo commented on #375
je pense qu'il faut reprendre globalement la disposition et le design de la page City
je dirais même que ça rentre dans le process de guidage des premiers pas des nouveaux utilisateurs, donc il faudrait qu'on y réfléchisse ensemble.

[2016-01-20 00:37] Kgneo commented on #514
on peut le faire dans l'autre sens :
=> recherche jerôme : trouve jerome (mais pas jerôme)

Dans le controller :
 $query = array( "name" => new MongoRegex("/".self::wd_remove_accents($search)."/i"));

mais comment le faire dans l'autre sens ? je ne sais pas

[2016-01-20 00:39] Kgneo commented on #510
en local aussi

[2016-01-20 00:40] Kgneo commented on #510
![capture d ecran 2016-01-20 a 11 39 48](https://cloud.githubusercontent.com/assets/7578166/12436563/89f5dd64-bf6a-11e5-8ff9-65abc6c01616.png)

[2016-01-20 00:44] Kgneo commented on #407
le design a été modifié depuis le signalement de ce bug
voilà ce que ça donne maintenant :
![capture d ecran 2016-01-20 a 11 44 06](https://cloud.githubusercontent.com/assets/7578166/12436640/3528c458-bf6b-11e5-9193-d91d54bb26ac.png)

[2016-01-20 00:57] Kgneo commented on #394
ok pour Facebook, Twitter, Github
Pour Skype, pas besoin d'un lien ? le pseudo suffit, et on l'ajoute manuellement sur son compte skype ?

[2016-01-20 07:22] BernardBrunet opened #518 "Bugs fréquents"
J'ai créé un groupe "assemblée des communs Toulouse" et je commence à rentre des projets que rattache au groupe en me disant que cela va dessiner progressivement la carto de l'assemblée toulousaine. Mais il m'arrive plusieurs fois par session de tomber sur le bug "processing" qui ne s'arrête pas. Seul moyen alors me déconnecter puis me reconnecter. De manière général l'accès aux différentes pages

[2016-01-20 08:30] Kgneo opened #519 "supprimer le chargement du directory après le login"
quand on se log, on arrive sur les news, donc désactiver le chargement des data directory

[2016-01-20 08:54] Kgneo opened #520 "bug modal"
sur Chrome la modal ne s'affiche pas correctement

[2016-01-20 09:01] Kgneo commented on #375
rajouter le pod "ma commune" du mod déconnecter, et mettre le pod acteur locaux en plus petit

[2016-01-20 09:06] oceatoon commented on #514
ok
a terme on etudiera elastic search
https://www.elastic.co/videos?camp=emea-france-search&src=adwords&mdm=cpc&trm=elastic%20search&gclid=CO3V27uEuMoCFSsKwwod7ekMbg

[2016-01-20 09:13] oceatoon commented on #413
en changeant le CP
le lien ma commune n'a pas changer
pour que ca prenne effet
il faut se delogguer

[2016-01-20 09:28] #510 closed, assigned to Kgneo

[2016-01-20 09:36] oceatoon opened #521 "en mode public > ouvrir un orga > on voit le btn devenir admin alors qu'on est pas loggué"

[2016-01-20 09:36] #504 closed, assigned to oceatoon

[2016-01-20 09:38] oceatoon opened #522 "mode deconnecté > ouvrir une orga > clicker fil d'actu , fait rien"

[2016-01-20 09:45] #394 closed, assigned to Kgneo

[2016-01-20 09:47] Kgneo commented on #407
mettre la ville et le cp en dessous du nom de l'item

[2016-01-20 09:53] oceatoon opened #523 "generateur de flux RSS"
RSS news
RSS sur un hashtag
RSS sur une personne

[2016-01-20 10:19] #521 closed, assigned to oceatoon

[2016-01-20 11:33] oceatoon commented on #518
merci Bernard pour ce feedback
est ce que par hasard tu as prit du temps entre les actions que tu as pu faire
car si c'est le cas c'est une tache que je dois faire aujourdhui meme
et sinon je suis preneur d'une session pour le voir avec toi sur Hangout si tu as un petit temps a me consacré

[2016-01-20 11:37] oceatoon opened #524 "fonctionalité existante + system de wishlist"
peut etre sur la fiche projet ?
ca peut servir a d'autre
c'est un peu ressource et besoin , reforumler autrement
wdyt ? @clement59

[2016-01-20 11:57] oceatoon opened #525 "gerer les cedex et CP alternatif"

[2016-01-20 12:03] oceatoon commented on #525
je ne retrouve plus la source @sylvainbarbot
il me semble que tu avais mis la main sur une source listant tous les codes alternatifs
tu l'as mis de coté ?

[2016-01-20 12:17] oceatoon opened #526 "menu onclick ex une orga > utiliser suelement LoadByHash"
pour que ce soit prit en compte dans la barre d'url
et que l'historique back fonctionne

[2016-01-20 13:21] RaphaelRIVIERE opened #527 "Erreur d'affichage"
Tristant, tu peux me dire où je peux regarder dans le code, pour corriger l'erreur qui apparaît sur l'image "[object] [Object]", je pense que ça vient du format du Téléphone, qui est du type :
{ "téléphone" : { "fixe" = [], "mobile" = [] } }

![capture du 2016-01-20 16 19 20](https://cloud.githubusercontent.com/assets/8775448/12449748/da8064ce-bf98-11e5-8d6c-f90b4ed91c29.png)

[2016-01-20 13:36] oceatoon commented on #527
j'ajouterais que ce nouveau format vient en plus de l'ancien
ya telephone a la racine quiserait le numero principale
mais il peut y en avoir plusieurs qui sont alors listé comme le decrit Raph

[2016-01-20 15:59] oceatoon opened #528 "importer les zone iris pour les quartier"
http://public.opendatasoft.com/explore/dataset/contours-iris-2014/?sort=depcom&q=974&refine.nom_dept=LA+REUNION&location=10,-21.22666,55.67871&basemap=mapquest

[2016-01-20 18:06] BernardBrunet commented on #518
Salut Tibor,
Je suis dispos demain jeudi après-midi à partir de 16h pour un hangout.
Ca irait pour toi ?
A bientôt. Bernard.

Bernard BRUNET
06 77 90 14 08

Le 20 janvier 2016 à 12:33, Tibor Katelbach notifications@github.com a
écrit :

[2016-01-21 00:21] Kgneo commented on #407
![capture d ecran 2016-01-21 a 11 20 46](https://cloud.githubusercontent.com/assets/7578166/12467641/0e707e48-c031-11e5-83b1-a84be583f680.png)

[2016-01-21 01:02] Kgneo commented on #526
j'ai rajouté loadByHash dans le floopDrawer : sur les item et les bouton "+ ajouter" ,
et dans les bulles info sur la carte.
Je pense qu'il faudra aussi le faire pour les sous-menu
![capture d ecran 2016-01-21 a 12 02 01](https://cloud.githubusercontent.com/assets/7578166/12468341/d1775f38-c036-11e5-9e0f-c79ae8fda64e.png)

[2016-01-21 06:26] RaphaelRIVIERE opened #529 "Gestion des adresses pour l'import de données"
Certaines adresses comportent des informations sur l'appartement, le quartier si c'est un numéro bis ou ter etc ...
Mais Nominatim et Google Maps ont du mal à gérer ça, pour la géolocalisation .

Est-que je dois modifier l'adresse depuis le fichier source ? Ou alors je dois procéder autrement ?

[2016-01-21 06:57] RaphaelRIVIERE opened #530 "Création d'une Organisation"
J'arrive à créer une organisation sans qu'elle est une information sur son adresse (code postal et ville inclues)

![capture du 2016-01-21 10 43 31](https://cloud.githubusercontent.com/assets/8775448/12473578/ce246b3c-c02c-11e5-827e-30d60e81b339.png)

Pour faire cela il suffit juste de mettre le nom et le pays de l'organisation et le code postal et d'enregistrer avant que les villes apparaissent à

[2016-01-21 07:06] oceatoon commented on #529
oui je pense que le mieux c'est de modifier l'address
pense a te mettre un message d'erreur explicite dans error.json

[2016-01-21 07:33] oceatoon opened #531 "news : pouvoir partager une news"

[2016-01-21 08:19] oceatoon opened #532 "sur le projet communecter en prod je ne peux plus passer les membres en admin ?"

[2016-01-21 08:48] Kgneo commented on #375
- inverser les pod en mod déconnecté
- réduire la hauteur des boutons directory
- mettre à jour le pod dans la bulle carto
- réparer les bouton recherche déconnectés

[2016-01-21 08:59] #413 closed, assigned to Kgneo

[2016-01-21 09:37] oceatoon commented on #407
tip top

[2016-01-21 09:37] #407 closed, assigned to Kgneo

[2016-01-21 09:57] oceatoon opened #533 "friend suggestion"
système d'analyse d'affinité pour retrouver les personnes
susceptible d'etre une connaissance

[2016-01-21 13:55] oceatoon opened #534 "clean up et documentation"

[2016-01-21 13:57] oceatoon commented on #436
inviter qlq un a un event
 inviter qlq un a une orga
creer un projet
 inviter qlq un a un projet
enorme la crea d'orga

[2016-01-21 16:50] oceatoon commented on #512
https://github.com/yuku-t/jquery-textcomplete

[2016-01-22 00:06] #526 closed, assigned to Kgneo

[2016-01-22 01:39] Kgneo opened #535 "sécuriser le champ de recherche"
quand on tape des caractères spéciaux comme ( ; " ça provoque des erreurs pas cool du tout

![capture d ecran 2016-01-22 a 12 38 03](https://cloud.githubusercontent.com/assets/7578166/12500221/387b98ba-c105-11e5-97b2-55d64639cbdc.png)
![capture d ecran 2016-01-22 a 12 39 14](https://cloud.githubusercontent.com/assets/7578166/12500212/2f43fb3e-c105-11e5-9b52-99fef50ccbd6.png)

[2016-01-22 08:19] oceatoon commented on #535
ah j'ai vu ce bug depuis hier
mais c'est direct au chargement
ce n'edst pas que lier a la recherche

[2016-01-22 10:08] oceatoon opened #536 "annuaire region, departement, quartier"

[2016-01-22 12:19] oceatoon opened #537 "multi design de l'annuaire, pouvoir choisir parmi plusieur proposition"
exemple d'un nouveau design aimé par Clem
![image](https://cloud.githubusercontent.com/assets/192076/12510203/8d9b2272-c108-11e5-9e35-bac8878fc394.png)

[2016-01-22 15:06] oceatoon opened #538 "use case interoperabilité : openAgenda pour les evennements ou ESS"

[2016-01-23 14:54] oceatoon opened #539 "add HTML5 desktop notifiaction"
https://codeforgeek.com/2014/10/desktop-notification-like-facebook-using-html5/
http://jolicode.com/blog/desktop-notification-in-php

[2016-01-25 05:15] oceatoon opened #540 "carto filter menu by category"
http://geo.lillemetropole.fr/geoportail/flash/
![image](https://cloud.githubusercontent.com/assets/192076/12542996/b9c058f8-c32a-11e5-909a-adc1064002f4.png)

[2016-01-25 11:08] oceatoon opened #541 "check Box chez moi , pour les localité des elements ajouté"
permet d'aller plus vite

[2016-01-25 11:13] oceatoon opened #542 "form localisation d'une entité mettre un ti spinner aprés avoir tapé le CP pour montrer que ca cherche"

[2016-01-25 13:51] aboire opened #543 "editing place qui saute en ecran reduit"
solution au probléme

la https://github.com/pixelhumain/communecter/blob/0fd51cc899469e5a050954e5c1d1fb8b1e152d7c/views/project/pod/ficheInfo.php#L177 faut rajouter col-sm-12
et la pareil https://github.com/pixelhumain/communecter/blob/5fc28081e06fa16352f92213bb5b5249727216bc/views/pod/ficheInfo.php#L169

[2016-01-25 13:57] clement59 opened #544 "Creation des préférences pour le fil d'actu du citoyen"
Settings: scope + tags + network

[2016-01-25 14:03] clement59 opened #545 "Probleme pour les codeInsee vs codePostal"
Use case:
Je me suis enregistré avec le cp "59260" qui retourne la ville "HELLEMMES LILLE" et le codeInsee "59350"
Or quand je filtre par localité avec le codeInsee il me donne LILLE cp 59000

La question est que la méthode avec le codeInsee m'éloigne de ma localité en considérant que j'appartiens à tout Lille alors que le cp est plus précis... Affaire à suivre !!!

[2016-01-25 19:06] Kgneo commented on #545
je viens de regarder en db, apparement ces 2 villes ont le même code insee.
Les code insee ne sont pas censés être uniques ?!

[2016-01-25 19:16] Kgneo commented on #460
Fonctionnement du filtre par localité cityName / postalCode / departement (champ de texte en dessous du champs principal de recherche)
+
modif design
![capture d ecran 2016-01-26 a 06 13 05](https://cloud.githubusercontent.com/assets/7578166/12561384/00534e3c-c3f4-11e5-9ee6-5251b667e6a5.png)

[2016-01-25 19:38] oceatoon commented on #544
+1

[2016-01-26 07:36] MathieuCoste opened #546 "partage de geolocalisation pas correct"
avant connexion mon navigateur me demande si je veux partagé ma géoloc. Je dis ok mais en fait ça ne me place pas ou j'habite.

![2016-01-26_0833](https://cloud.githubusercontent.com/assets/10626066/12574848/e296e610-c407-11e5-9b66-2d74ad57d39f.png)

[2016-01-26 11:46] sylvainbarbot opened #547 "Erreur affichage date d'event sur carto d'une ville"
Affichage dans le détail de l'event :
![capture d ecran 2016-01-26 a 15 31 22](https://cloud.githubusercontent.com/assets/2662262/12579726/8a62fc9a-c443-11e5-9c6e-ee606850fa05.png)
Affichage dans la carto de la commune (et seulement celle là) :
![capture d ecran 2016-01-26 a 15 33 07](https://cloud.githubusercontent.com/assets/2662262/12579727/8b659a08-c443-11e5-9d49-61a3c9c6a795.png)

[2016-01-26 13:25] Kgneo commented on #460
![capture d ecran 2016-01-27 a 00 24 17](https://cloud.githubusercontent.com/assets/7578166/12581690/6c174266-c48c-11e5-9448-263a20e39d58.png)

[2016-01-26 13:31] Kgneo commented on #460
![capture d ecran 2016-01-27 a 00 30 41](https://cloud.githubusercontent.com/assets/7578166/12581830/3b126e6a-c48d-11e5-9f4c-47f9693419b8.png)
![capture d ecran 2016-01-27 a 00 30 21](https://cloud.githubusercontent.com/assets/7578166/12581831/3b23b288-c48d-11e5-854f-8ad8c94292d3.png)

[2016-01-26 14:47] oceatoon commented on #546
et c'est pas pret de chez toi ?
en quand HTML5 geolocalise il prend la position de ton FAI
l'antenne la plus proche
donc ce sera jamais tres precis , mais est ce que moins le bon village ?

[2016-01-26 14:59] oceatoon commented on #460
cool je crois que je préfère la version sombre contrasté

[2016-01-26 15:35] MathieuCoste commented on #546
c'est pas le bon village ... c'est à plus de 50km

https://www.google.fr/maps/dir/Vichel/Saint-G%C3%A8nes-Champanelle/@45.5882626,2.8509932,10z/data=!3m1!4b1!4m13!4m12!1m5!1m1!1s0x47f651904bf76dd7:0x4c811e85b11cfc0d!2m2!1d3.241925!2d45.427822!1m5!1m1!1s0x47f71019fd39ab7b:0x4093cafcbe5b790!2m2!1d3.018367!2d45.72031

[2016-01-26 17:08] clement59 opened #548 "Date / heure des posts sur news remplacer par il y a ---- min / heure / jours / semaines / months"
Tout le monde est partant ?

[2016-01-26 17:33] clement59 opened #549 "Bug on news city -- on firefox"
Jump on stream

[2016-01-26 17:34] #219 closed, assigned to sylvainbarbot

[2016-01-26 18:42] oceatoon commented on #548
oui mais il faut qu'il y ai un process JS qui met a jour si tu reste lgtps
sur la page
pour que ce soit coherent

[2016-01-27 07:27] oceatoon opened #550 "creer un wiki like dans communecter pour pouvoir ecrire des docs directement dans les pages"
on pourrait utiliser le feature Edit in place de HTML5
avoir un role d'editeur

type de doc
comme devenir communecteur
comment se communecter

@SimonSarazin me demandait ce genre de feature pour les differentes association qui voudrait rajouter des pages a panel detail

[2016-01-27 11:43] clement59 opened #551 "bug news tags accent firefox"
Error: Syntax error, unrecognized expression: .sigModuleBg #item_panel_map_Étudesenéconomied'énergie

[2016-01-27 11:46] clement59 commented on #551
Features idea pour les tags ...
Il serait intéressant de mettre en clé le mot tout en minuscule sans spécial caractère et sans espace comme ça on évite les doublons aussi entre ce écrit en majuscule etc

[2016-01-27 12:10] oceatoon commented on #551
on va avoir beson d'un bonne outil et d'un bon system
pour uniformiser les tags

[2016-01-27 13:34] oceatoon opened #552 "my news news sur une autre commune"
![image](https://cloud.githubusercontent.com/assets/192076/12614916/0eb403e4-c51c-11e5-8038-5a9e1f591722.png)

tu remarqueras que je suis sur MA COMMUNE : Villeneuve-d'Ascq
et que j'ai mes post dans l'actu

[2016-01-27 13:35] oceatoon opened #553 "moteur de recherche > 59650 > Villeneuve D'ascq > click sur le btn voir les Orgas > boom bug"
erreur JS
SyntaxError: unterminated string literal
...sNotSV=1&tpl=directory2&type=organizations&insee=59009", "Commune : Villeneuve-

[2016-01-27 13:37] oceatoon commented on #553
aussi click MapView > puis revient sur commune vient
le nouveau panel du haut a disparue

je pense que celui ci concerne un peu plus @clement59
car j'ai l'impression que les panneaux sont derriere le panel news

[2016-01-27 13:45] RaphaelRIVIERE opened #554 "Bug affichage : page "ma commune""
Tout cette partie est caché par le file d'actualité quand ton passe en mode carto et qu'on revient en mode normal
![capture du 2016-01-27 17 42 33](https://cloud.githubusercontent.com/assets/8775448/12615147/7822adb6-c51d-11e5-806d-5ed0965ad6aa.png)

![capture du 2016-01-27 17 44 36](https://cloud.githubusercontent.com/assets/8775448/12615196/aa1263de-c51d-11e5-9cd1-91ceec3ec00c.png)

[2016-01-27 17:51] oceatoon opened #555 "btn action dans loomio : ergonomie interressante"
le bouton est rond et en bas a droite
voici les 2 etats
![image](https://cloud.githubusercontent.com/assets/192076/12622661/e274a04e-c53f-11e5-8fa2-662899aac111.png)
et onclick
![image](https://cloud.githubusercontent.com/assets/192076/12622670/eaed4c9e-c53f-11e5-853f-c130aceca521.png)

[2016-01-27 18:11] Kgneo commented on #460
![capture d ecran 2016-01-28 a 05 08 56](https://cloud.githubusercontent.com/assets/7578166/12623309/993390b4-c57d-11e5-8917-4bc4fe3e60d9.png)

[2016-01-27 18:12] Kgneo commented on #460
![capture d ecran 2016-01-28 a 05 09 29](https://cloud.githubusercontent.com/assets/7578166/12623319/a53fa9ba-c57d-11e5-8ffa-57b3bfc5bb8e.png)

[2016-01-27 18:17] oceatoon commented on #460
intéressant
idée : dans le dernier screen pourquoi pas retourner l'arbre vers le bas
comme s'il était le resultat

inquiétude : n'est on pas entrain de revenir à une interface trop complexe

[2016-01-28 08:23] clement59 commented on #554
Bien vu !! J'avais pas vu !!

[2016-01-28 08:24] clement59 commented on #553
Yes c'est le bug juste au-dessus created by @RaphaelRIVIERE

[2016-01-28 08:25] clement59 commented on #552
Bien bien il faut que j'affine tout ça

[2016-01-28 08:48] sylvainbarbot opened #556 "Bug affichage sur recherche de ville (alternate name)"
Lors d'une recherche sur "Lille", toutes les communes affichent le nom "Villeneuve d'Acq" en altername.
![capture d ecran 2016-01-28 a 12 40 51](https://cloud.githubusercontent.com/assets/2662262/12639246/83d78b50-c5bc-11e5-9f35-402864bf340a.png)

[2016-01-28 09:07] sylvainbarbot opened #557 "Recherche sur "La Possession" - Divers bugs"
- Pas de retour en résultat de recherche pour rechercher "La Possession". Le city name dans la base est "Possession". Le alternate name est La Possession.
  2 Solutions : faire une recherche sur alternate name ou faire une recherche sur plusieurs mots séparés ?
- En prod : Affichage de la ville de la Possession => erreur 500
  Log :

[code]

[2016-01-28 09:34] oceatoon opened #558 "show comments > Can Reply | Nominatively | No limit ..."
![image](https://cloud.githubusercontent.com/assets/192076/12640511/ae8fee3a-c5c3-11e5-996e-7734713fa047.png)

[2016-01-28 10:44] FlorentLivin opened #559 "CGU ?"
Il n'y a pas de CGU consultable ou "règles de confidentialité" sur le formulaire d'inscription (case à cocher). Sont-ils également consultable par la suite ?

[2016-01-28 10:59] oceatoon commented on #559
bien vu je les redemande a notre avocat

[2016-01-28 11:50] oceatoon opened #560 "email admin pour les ajout de bug ou idée sur le panel news communecter"

[2016-01-29 04:59] oceatoon opened #561 "plugguer openAgenda API"

[2016-01-29 05:04] oceatoon commented on #561
https://openagenda.zendesk.com/hc/fr/articles/201874942-Structure-des-donn%C3%A9es
https://openagenda.zendesk.com/hc/fr/articles/203222571-Get-event-data-through-the-API

[2016-01-29 07:15] oceatoon opened #562 "optim Carto : ne pas chargé les lib carto tant que l'affichage n'a pas été demandé"
une grosse optim surtout pour les zones a faible connection (retour de Sylvain a mada)
l'appli marche mal notament a cause de toute les lib chargées notament les lib carto
qui peuvent parfaois meme pas servir
ce serait donc bien de les activer à la demande
et pourquoi pas mettre une image avant qu'elle le soit

[2016-01-29 08:07] clement59 commented on #552
Normalement tu devrais plus avoir tes news sur le fil de villeneuve

[2016-01-29 09:09] clement59 commented on #532
C'est dév ça non??

[2016-01-29 09:54] #529 closed, assigned to nobody

[2016-01-29 09:59] #528 closed, assigned to RaphaelRIVIERE

[2016-01-29 11:58] RaphaelRIVIERE commented on #473
https://docs.google.com/document/d/1LDtEKwfcSNxT_PCUVc5V_1Sd4Gad0Tb2S_xDsbhOk8Q/edit#

[2016-01-29 12:57] Kgneo commented on #460
![capture d ecran 2016-01-29 a 23 55 47](https://cloud.githubusercontent.com/assets/7578166/12676139/f6f8de04-c6e3-11e5-834b-d319e8846fa9.png)

[2016-01-29 13:04] RaphaelRIVIERE opened #563 "Importer des projets"
https://docs.google.com/document/d/1ffvf93dzs670IInNBRLa0WwXuuBgvJfRQ2LrAWweD_I/edit#heading=h.qy4aybj16ljj

http://www.jsoneditoronline.org/?id=0f3fceb5add5cf884f9b1b080d18d989

[2016-01-29 14:19] oceatoon commented on #460
sous Mon profil
Mes Association
Mes Projets
Mes ...

ou alors
je me disais onclick ou meme hover du btn annuaire (a gch)
ca pouvait faire apparaitre nos sous elements pour acceder au page
correspondante

[2016-01-29 14:20] #552 closed, assigned to clement59

[2016-01-29 14:31] Kgneo commented on #460
ouep c'est une bonne idée
je pensais aussi remettre le "floopDrawer" sur la droite de la page, pour avoir accès à mes contacts sans passer par la vue directory, comme sur l'autre design

[2016-01-31 06:24] Kgneo commented on #556
testé chez moi : le altername ne s'affiche pas
![capture d ecran 2016-01-31 a 17 19 39](https://cloud.githubusercontent.com/assets/7578166/12700644/5aba7aae-c83f-11e5-9a35-c17d143b67ec.png)

[2016-02-01 05:51] #532 closed, assigned to clement59

[2016-02-01 10:28] clement59 commented on #560
j'ai mis l'email "contact@pixelhumain.com" comme on avait dit

[2016-02-01 11:36] RaphaelRIVIERE opened #564 "Cancel : Devenir admin"
Lorsque que je clique sur le bouton pour devenir admin d'une organisations, et qu'on a la demande pour confirmer, si on clique sur "Cancel", la demande d'admin est quand même effectuer

[2016-02-01 11:44] RaphaelRIVIERE commented on #564
ET aussi lorsqu'on deviens admins , on est pas redirection sur la page de l'organisme en question mais  on redirectionner vers la page précédente à la demande d'admin

[2016-02-01 13:46] clement59 commented on #560
Yes je l'ai finis ce matin

[2016-02-01 13:49] clement59 commented on #549
Sur firefox, il y avait un décalage dans le chargement des news au scroll que j'ai corrigé ...
Et il y a toujours une imperfection dans la gestion des scrolls sur cette page (à voir si c'est vraiment perceptible à l'utilisation dans quel cas pour faire simple on le fera avec le bouton "activités" comme sur les autres espaces et non dans la la page que city/detail

[2016-02-01 13:49] clement59 commented on #548
D'accord sur les points. Va pour 0.2 !

Le 1 février 2016 à 14:21, sylvainbarbot notifications@github.com a écrit
:

##

Clément Damiens
Co-fondateur de l'association Livin'Coop
Diplomé de la formation ITEEM
Département de l'École Centrale de Lille codirigée avec la SKEMA Business
School
_+33-6-98-27-67-24_

_http://youtu.be/dERtXwNjgic http://youtu.be/dERtXwNjgic_

[2016-02-01 13:51] oceatoon commented on #560
d

[2016-02-01 13:51] #560 closed, assigned to clement59

[2016-02-01 14:01] clement59 commented on #506
Quel bouton "Back" ... C'est lié aussi au reload qui renvoit pas sur les bonnes fiches !!

[2016-02-01 14:38] clement59 commented on #564
Ok I don't know qué passa en rajoutant le use case ou l'admin pour ajouter des admins ... j'ai fais péter le reste !!!! Bien vu , je le prends sylvain !! il faut refaire une bonne passe dessus

[2016-02-01 14:46] #480 closed, assigned to oceatoon

[2016-02-01 15:08] #459 closed, assigned to Kgneo

[2016-02-01 15:31] Kgneo commented on #556
j'ai réglé pas mal de bug de la recherche de ville sur la nouvelle interface.
La recherche se fait aussi sur les alternateName

[2016-02-01 15:49] #410 closed, assigned to sylvainbarbot

[2016-02-01 15:52] RaphaelRIVIERE commented on #564
J'ai remarquer aussi que quand tu n'est plus admin , l'orga reste dans la liste sur le menu de gauche , il faut recharger la page pour ne plus la voir

[2016-02-01 15:52] Kgneo commented on #458
une modif à tester en prod :

cookie.js l.24
if(location.hostname.indexOf("localhost") >= 0) path = "/ph/";

[2016-02-01 16:08] #381 closed, assigned to sylvainbarbot

[2016-02-01 16:09] #379 closed, assigned to nobody

[2016-02-01 16:20] sylvainbarbot opened #565 "Fist stepper : Prise en main de communecter et alimentation du réseau"
Objectif:
- Aider le nouvel utilisateur à prendre en main l'interface de communecter
- L'inciter à alimenter son réseau
- L'inciter à créer de la valeur territoriale (creer du contenu sociétal).
  Détail dans le google doc : https://docs.google.com/document/d/1KE5QrKSeW4dqXXFFpH66qKUrq53xXbNlwppJXmL4Z9Y/edit#heading=h.a8ipt16qw6rj

Lié aux issues : #451, #373, #296
On attend la nouvelle interface

[2016-02-01 16:21] clement59 opened #566 "Zoom trop zoomé quand on est click [map]"
Ce serait bien de dézoomer un tit peu trop zoomé lorsqu'on clique sur un rond. Ce serait de voir encore les rues ... Pour le momen tc'est comme ça:
![capture d ecran 2016-02-01 a 17 19 44](https://cloud.githubusercontent.com/assets/6576514/12723064/1c97e3be-c908-11e5-8561-c5025c5abca3.png)
Et ce serait bien d'être à cette échelle (à peu près):
![capture d ecran 2016-02-01 a 17 20 12](https://cloud

[2016-02-01 16:26] #360 closed, assigned to clement59

[2016-02-01 16:36] #337 closed, assigned to sylvainbarbot

[2016-02-01 16:39] #329 closed, assigned to Kgneo

[2016-02-01 16:51] oceatoon commented on #473
oui dans cities
il faudra definir a l'entrée le pays c'est tout
et etre smarties

[2016-02-01 16:58] RaphaelRIVIERE commented on #475
- Changement de type "group" à "association"  . C'est fait
- J'ai rajouter la locality pour les organismes qui n'en n'avez pas
- J'ai remis ceux qui ont été mis au Port  à la Possession

En rechange je pense que il y a une erreur dans la géoShape : je prend exemple de l'association Focus Circus qui se situe au "12, rue Jacques Duclos, 97419  La Possession" hors d'après les geoShape la rue Jacques

[2016-02-01 17:00] RaphaelRIVIERE commented on #476
J'ai modifier les 2 orga qui n'avez pas de locality

[2016-02-01 17:03] RaphaelRIVIERE opened #567 "Bug , changement de code postal - Orga"
Quand on change le code postal d'une orga , le nom de la rue est supprimer lorsqu'on recharger la fiche d'info de l'orga en question

[2016-02-01 17:05] RaphaelRIVIERE opened #568 "Ajout d'une Orga"
On peut ajouter une organisation sans qu'on lui donne un Pays

[2016-02-01 18:14] #502 closed, assigned to oceatoon

[2016-02-01 19:09] clement59 commented on #477
A tester, ça a été complétement refactoré depuis ! To test et close !
Sinon je close ?

[2016-02-01 19:13] clement59 commented on #463
agree avec Sylvain ! Avançons avec les acteurs de terrain qui n'attendent
qu'à essaimer et sensibiliser
N'oublions pas qu'il y a une communauté engagé et motivé sur le terrain ;)

[2016-02-01 19:15] clement59 commented on #453
Je comprends pas ! point en scrum pour éclaircir ... c'est le fil d'actu non?

[2016-02-01 19:52] clement59 commented on #448
A l'enregistrement d'un projet, ça utilise la méthode getAdressSchemaLikeByCodeInsee() de la class SIG
qui ne retourne le pays ... @Kgneo, une idée ?

[2016-02-01 19:55] clement59 commented on #422
En static, je l'avais retravaillé mais ya un besoin de l'intégrer en ajax !!
Du coup je l'avais en 0.2

[2016-02-01 20:00] clement59 commented on #408
Yes normalement réglé !! c'est un pb de découpage de la description en HTML ... @Kgneo tu confirme??? Où c'est encore à faire ?

[2016-02-01 20:03] #398 closed, assigned to clement59

[2016-02-01 20:07] clement59 commented on #385
Je ferme celui là. Le positionnement n'était pas mise à jour lors de la modification de l'adresse...
Mais il me semble qu'il ne repositionne pas automatiquement au changement d'adresse simple. Il faut forcément repositionner sur la carto.

[2016-02-01 20:10] clement59 commented on #363
Je l'avais corrigé y'a un moment

[2016-02-01 20:10] clement59 commented on #363
Je le close

[2016-02-01 20:10] #363 closed, assigned to Kgneo

[2016-02-01 20:13] clement59 commented on #346
Toujours d'actu !! Aucun lien !
Il y a un problème dans l'enregistrement des images type_SLIDER ...

[2016-02-01 20:15] clement59 commented on #318
Même problème pour event que pour le problème sur projet #346 ...
Le premier dév du projet incluait le critère IMG_SLIDER. Il y a une bonne passe à refaire dessus !!

[2016-02-01 20:19] clement59 commented on #344
Nop, on peut mettre une url type media, type image mais l'ajout d'image non .... Sachant qu'il y a un bon travail à refaire sur les images car pas stables pour à mon goût (cf projet et event)

[2016-02-01 20:20] clement59 commented on #315
+1

2016-02-01 17:50 GMT+01:00 sylvainbarbot notifications@github.com:

##

Clément Damiens
Co-fondateur de l'association Livin'Coop
Diplomé de la formation ITEEM
Département de l'École Centrale de Lille codirigée avec la SKEMA Business
School
_+33-6-98-27-67-24_

_http://youtu.be/dERtXwNjgic http://youtu.be/dERtXwNjgic_

[2016-02-01 20:22] clement59 commented on #303
Bah je kifferais bien supprimer ... Mais on était resté sur un consensus de
laisser juste disabled. J'étais pas vraiment pour cette solution idem pour
projet ...
Affaire à suivre !!

2016-02-01 17:56 GMT+01:00 sylvainbarbot notifications@github.com:

##

Clément Damiens
Co-fondateur de l'association Livin'Coop
Diplomé de la formation ITEEM
Département de l'École Centrale de Lille codirigée avec la

[2016-02-01 20:23] #302 closed, assigned to sylvainbarbot

[2016-02-02 04:57] oceatoon commented on #35
on remis le panel selection de scope a plus tard
la selection de scope a été désactivé , il ne reste plus que public ou mon reseau
à l'époque je l'avais testé ca marchait plutot pas mal
mais il faudra l'intégrer plus globalement

[2016-02-02 05:25] RaphaelRIVIERE opened #569 "Bug : Notification : Time"
La durée pour les notifications ne change pas est reste bloqué à 1 minute
![capture du 2016-02-02 09 22 32](https://cloud.githubusercontent.com/assets/8775448/12740665/c726cbd4-c98e-11e5-99bb-a1aaa66b0cd1.png)

[2016-02-02 09:48] RaphaelRIVIERE opened #570 "Visualiser sur la carto les données importer"
Pour le module d'import, après avoir géolocalisé les données, avoir la possibilité de switch sur la carto ou afficher une mini carte pour voir si les données sont bien géolocaliser

[2016-02-02 12:39] oceatoon opened #571 "editeur de geoshape pour les communes adhérentes"

[2016-02-02 17:47] oceatoon opened #572 "bug pour un user jsute apres son login email : ￼fildeschamps @"
![image](https://cloud.githubusercontent.com/assets/192076/12758586/66d66c0e-c9f6-11e5-8094-c105249953a0.png)

[2016-02-02 17:56] clement59 opened #573 "LoadByHash pas mis à jour dans la recherche en haut à droite"

[2016-02-02 18:28] oceatoon commented on #570
+1

[2016-02-02 18:35] oceatoon commented on #303
peut etre pas supprimé mais archiver
car je vois bien le use case arriver
euh c'est jeanot qui a fait une connerie , comment on fait pour remettre notre association qui a cumulé des chose depuis 3ans ????

[2016-02-02 18:37] #408 closed, assigned to clement59

[2016-02-02 18:43] oceatoon commented on #453
en fait c'est un bouton
qui ouvre une page structuré comme l'actualité
mais listant que les entrées activitys

On Mon, Feb 1, 2016 at 11:16 PM, clement59 notifications@github.com wrote:

##

Tibor Katelbach – Senior Developer
http://oceatoon.org
..·><((((º>·´¯`·.¸¸..><((((º>.¸¸..·.¸¸..><((((º>.¸¸..
La Riviere, La Reunion
e-mail : oceatoon@gmail.com
skype : oceatoon
Fixe : +262+262343686
Mobile : +

[2016-02-02 18:56] oceatoon commented on #448
je l'ai fait , mais n'avais pas commité comme le disais Thomas

public static function getAdressSchemaLikeByCodeInsee($codeInsee) {
        .....
                        "addressCountry" => isset($city['country']) ? $city['country'] : "" );

[2016-02-02 18:56] #448 closed, assigned to oceatoon

[2016-02-02 19:23] oceatoon opened #574 "refactor ACtion orga/getbyid to orga/get"

[2016-02-02 19:48] #395 closed, assigned to clement59

[2016-02-02 19:53] oceatoon commented on #375
comme il y a 3 type d'orga
ca avait plus de sens de le faire comme cela
Proposition (dans l'ordre) :
Citoyens                 Projets                 Evenements
Associations           Groupes              Entreprises

[2016-02-03 04:25] oceatoon opened #575 "ne faire qu'un seul updateField generique"

[2016-02-03 04:38] oceatoon commented on #448
le péi est récupéré par la méthode
pas par la saisie
on pourrait presque pré remplir le péi
au pays d'origine du user ?

[2016-02-03 04:40] oceatoon opened #576 "orga detail : mettre des section privé pour admin , ex information banquaire"
section d'information seulement visible et editable par les admin

[2016-02-03 05:02] oceatoon commented on #554
non il reste un effet avec un gros espace @clement59

[2016-02-03 05:03] oceatoon commented on #556
la methode php derriere la recherche est la meme
sur les 2 interface , non ?

[2016-02-03 05:18] #266 closed, assigned to oceatoon

[2016-02-03 05:21] sylvainbarbot opened #577 "Positionner les commentaires sous le message dans le wall."
Suite à la bonne idée de @Kgneo dans #263, les commentaires peuvent être positionner en dessous du message sur le wall.
Prévoir peut être une sélection des meilleurs messages quand le fil de commentaire est trop long.

[2016-02-03 05:21] #263 closed, assigned to sylvainbarbot

[2016-02-03 05:29] #231 closed, assigned to sylvainbarbot

[2016-02-03 05:30] #225 closed, assigned to nobody

[2016-02-03 05:31] #220 closed, assigned to nobody

[2016-02-03 05:34] #208 closed, assigned to sylvainbarbot

[2016-02-03 05:37] #195 closed, assigned to Kgneo

[2016-02-03 05:42] #187 closed, assigned to oceatoon

[2016-02-03 05:43] #183 closed, assigned to sylvainbarbot

[2016-02-03 05:48] oceatoon commented on #188
+1 c fait

[2016-02-03 06:24] RaphaelRIVIERE commented on #285
Yep c'est bon

[2016-02-03 06:24] #285 closed, assigned to RaphaelRIVIERE

[2016-02-03 06:30] RaphaelRIVIERE opened #578 "import data for spain"

[2016-02-03 06:40] RaphaelRIVIERE opened #579 "Importer les services publics"
http://www.ideeslibres.org/service-public-fr-annuaire-de-ladministration-base-de-donnees-locales-v2/

[2016-02-03 06:48] oceatoon opened #580 "panel contributeur(projet) ou member(orga) ajouter un bouton ajouté sur le directory"
le directory est top
mais on a envie d'ajouter des gens via l'interface
mais il n'y a aucun bouton

[2016-02-03 06:51] oceatoon commented on #307
normalement ce pb est réglé

[2016-02-03 08:05] clement59 commented on #580
Yes je suis plein travail sur les bouton du haut même parfois qui marche pas dans certaines vues.
Je généralise un peu tout

[2016-02-03 08:09] clement59 commented on #549
Je relance !

[2016-02-03 08:16] clement59 commented on #572
Ok c'est remis fixé! j'ai supprimé la news !
C'est du à l'ancien vue de l'activity stream ...
Pour éviter que ça se reproduise, quelqu'un peu commenter en prod dans le model du CTK needs.php ligne 66 la méthode Notification::createdObjectAsParam

[2016-02-03 08:36] Kgneo commented on #396
oui ça c'est terminé. Je ferme la tache

[2016-02-03 08:36] #396 closed, assigned to Kgneo

[2016-02-03 08:37] Kgneo commented on #314
oui terminé aussi

[2016-02-03 08:37] #314 closed, assigned to Kgneo

[2016-02-03 08:41] Kgneo commented on #566
ça serait bien, mais il me semble que la lib leaflet-cluster ne permet pas de paramétrer le zoom qui ouvre le cluster. Par défaut, le cluster s'ouvre quand on est au zoomMax.
ça m'aurait facilité la tâche pour afficher à coup sûr toutes les popup quand on clique dans la liste de droite, il me semble que j'avais déjà cherché à paramétrer ça... sans succès...

A mon avis c'est pas une prio V1, on pe

[2016-02-03 08:46] Kgneo commented on #572
j'ai commenté la ligne et commité

[2016-02-03 08:46] #572 closed, assigned to sylvainbarbot

[2016-02-03 08:49] Kgneo commented on #556
oui exact. le controller qui gère la recherche est le même

[2016-02-03 08:54] clement59 opened #581 "Nom trop long fait sauter le design de la recherche"
![capture d ecran 2016-02-03 a 09 53 16](https://cloud.githubusercontent.com/assets/6576514/12777263/0e53543c-ca5c-11e5-8ece-247b0a739829.png)

[2016-02-03 09:41] Kgneo opened #582 "bug scroll dans News sur nouveau design"
réparer le scroll

[2016-02-03 10:03] oceatoon opened #583 "convert design alpha tango into theme"

[2016-02-03 10:17] oceatoon opened #584 "mettre les btn connection et inscritpion dans le panel focus Menu (effet survole)"

[2016-02-03 11:59] #181 closed, assigned to nobody

[2016-02-03 12:09] oceatoon opened #585 "ajouter sur tout element , post , news , déclarer un abus"

[2016-02-03 13:29] clement59 commented on #585
++++++++++++++

2016-02-03 13:10 GMT+01:00 Tibor Katelbach notifications@github.com:

##

Clément Damiens
Co-fondateur de l'association Livin'Coop
Diplomé de la formation ITEEM
Département de l'École Centrale de Lille codirigée avec la SKEMA Business
School
_+33-6-98-27-67-24_

_http://youtu.be/dERtXwNjgic http://youtu.be/dERtXwNjgic_

[2016-02-03 13:29] clement59 commented on #182
yes à fermer

2016-02-03 12:57 GMT+01:00 sylvainbarbot notifications@github.com:

##

Clément Damiens
Co-fondateur de l'association Livin'Coop
Diplomé de la formation ITEEM
Département de l'École Centrale de Lille codirigée avec la SKEMA Business
School
_+33-6-98-27-67-24_

_http://youtu.be/dERtXwNjgic http://youtu.be/dERtXwNjgic_

[2016-02-03 13:30] clement59 commented on #156
Euh on pourra le fermer à la fin de cette journée je pense

2016-02-03 12:55 GMT+01:00 sylvainbarbot notifications@github.com:

##

Clément Damiens
Co-fondateur de l'association Livin'Coop
Diplomé de la formation ITEEM
Département de l'École Centrale de Lille codirigée avec la SKEMA Business
School
_+33-6-98-27-67-24_

_http://youtu.be/dERtXwNjgic http://youtu.be/dERtXwNjgic_

[2016-02-03 13:55] oceatoon commented on #566
je passe en wishlist

[2016-02-03 17:04] oceatoon commented on #196
ouaip ce bouton ira en 0.2 probablement dans l'espace notification
ya un autre bug pour ca
je close

[2016-02-03 17:04] #196 closed, assigned to clement59

[2016-02-03 19:05] oceatoon commented on #341
j'avais géré la connection par token
mais pas un Basic HTTP Auth pour les appels REST

[2016-02-03 19:14] oceatoon commented on #304
partons de templates structurés
https://www.sendwithus.com/resources/templates/neopolitan

[2016-02-04 03:52] #182 closed, assigned to clement59

[2016-02-04 06:21] #369 closed, assigned to oceatoon

[2016-02-04 07:25] RaphaelRIVIERE commented on #579
Assignation :  CSV / orga

codeinsee  :  insee
nom : name
codepost : adress.postalCode
lat : geo.latitude
lon : geo.longitude
tel : telephone.fixe
fax : ??? On ne prend pas en comte les fax ???
mail : email
site : url
mobile : telephone.mobile
horaire : description

[2016-02-04 07:27] RaphaelRIVIERE commented on #579
J'aurai besoin de créer un script ou dans trouver un qui me décompose une adresse de ce type :"4 chemin des rues, 97400, Ville "  en
rue : 4 chemin des rues
cp : 97400
commune : Ville

[2016-02-04 07:29] oceatoon commented on #328
oui on continue avec la vision de tous les acteurs de toutes les regions
par contre ce serait cool de tirer ca de la DB ; par exemple prendre les contributeurs du projet "Communecter" ? ou de l'orga PH ? ce serait plus dynamique

[2016-02-04 07:31] RaphaelRIVIERE opened #586 "Format Téléphone"
Dans le fichier  qui regroupe  [les services publique](http://www.ideeslibres.org/service-public-fr-annuaire-de-ladministration-base-de-donnees-locales-v2/) , le format des téléphones est de ce type
"+33 4 71 23 47 82"
Je pense que ça peut être bien généralisé tout les téléphones dans ce formats quand on va prendre en compte les autres pays

[2016-02-04 07:42] oceatoon commented on #586
a mettre directement dans le Wiki comme une preference de format

[2016-02-04 07:42] oceatoon commented on #579
@Kgneo
t'avais pas fait un truc comme ca ?

[2016-02-04 09:28] RaphaelRIVIERE commented on #579
Ok mais à la limite c'est pas ça le problème parce que il me le fournir aussi le code postal dans le fichier dans une colonne a part, mais moi je veux pouvoir extraire le nom de la rue ainsi que le numéro

[2016-02-04 10:53] Kgneo opened #587 "News communectées"
Masquer le form création de News quand on est pas connecté

[2016-02-04 12:31] RaphaelRIVIERE commented on #561
Correspondance : Open Agenda  / Communecter
- title.fr / name
- description.fr ou longDescription.fr / description
- timings.start / startDate (enregistrer en ISODate() )
- timings.start / endDate (enregistrer en ISODate() )
- latitude / geo.latitude
- longitude / geo.longitude
- tags.0.label / tags.0 (non gérer dans Communecter )
- registrationUrl / url (non gérer dans Communecter )
- telephone :

[2016-02-04 14:30] oceatoon opened #588 "search : afficher le nombre de resultat sur une recherche"

[2016-02-04 15:03] clement59 opened #589 "Bug on follow citizen"
Le lien ce fait que d'un sens ... l'autre ne sais même pas qu'il est suivi...
Fin si mais rechercher dans toute la DB dc extrêmement coûteux !

[2016-02-04 15:06] clement59 opened #590 "Develop fonction follow()"
Link qui se fera citoyens à citoyens, citoyens to orga, citoyens to projects, citoyens to events !
Dès lors qu'il devient membre, contributor, attendee, le lien follow disparait et devient un des liens présent aujourd'hui

[2016-02-04 16:06] #580 closed, assigned to clement59

[2016-02-04 16:31] clement59 commented on #506
ok j'ai fixé dans le search le loadByHash
Tib je te laisse vérifier pour les back

[2016-02-04 16:32] clement59 commented on #429
Bah je pense qu'il est finis ;)

[2016-02-04 16:35] clement59 commented on #491
Je peux fermer? A tester si vous recevez bien le mail

[2016-02-04 17:47] clement59 opened #591 "News bug on tags"
C'est un peu embétant, ca me fait sauter mon fil d'actu sur firefox
Error: Syntax error, unrecognized expression: .sigModuleBg #item_panel_map_Étudesenéconomied'énergie

[2016-02-04 18:01] oceatoon opened #592 "réactiver le module Fluidlog"

[2016-02-04 18:52] oceatoon opened #593 "setScopeValue("Villeneuve-d plante avec les '"
a la frappe ca marche pas
et si on recherche  59650
ona une erreur
setScopeValue("Villeneuve-d
qui te parlera mieux que moi

[2016-02-04 19:01] oceatoon opened #594 "page cassé mode déloggué"
se délogguer
aller ici : http://127.0.0.1/ph/communecter/search#main-col-search

[2016-02-04 19:30] oceatoon opened #595 "en mode Carto : il manque un menu a gauche"
ou on peut y mettre le bouton retour a la page (icon liste)
![image](https://cloud.githubusercontent.com/assets/192076/12826752/00f6de72-cb96-11e5-9f8c-ffa93d3c53c2.png)

[2016-02-05 06:14] oceatoon commented on #35
soit dans la droite down cities du design A.T
soit en bas a gauche
https://docs.google.com/presentation/d/1-6_Rc4FR0uMuuIpB-JiKFOyMNdBn8YwIxE1Q0-09Ugg/edit#slide=id.ge077bb18b_0_5

[2016-02-05 06:20] oceatoon commented on #535
ca semble etre bon

[2016-02-05 06:43] sylvainbarbot opened #596 "Design global - page detail (citoyens, organisation, projets...)"
Je trouve que les boutons d'action ne sont pas assez visibles lorsqu'on ne passe pas la souris dessus.
Difficile de comprendre que ce sont des boutons du coup.
![capture d ecran 2016-02-05 a 10 38 36](https://cloud.githubusercontent.com/assets/2662262/12839642/e4625ea8-cbf4-11e5-8738-0ec44b961cf3.png)

Parfois, le titre de la page disparait. Là on est perdu.
A droite du titre dans cette barre, on

[2016-02-05 07:04] oceatoon commented on #592
Maia le demandait
je lui ait dit qu'on l'avait mais désactivé
elle a apprécié

[2016-02-05 07:04] oceatoon commented on #491
contact@pixelhumain.com pour le moment

[2016-02-05 07:08] oceatoon commented on #596
l'icone carto à coté du titre vient de disparaitre
peut etre remplacer par un burger , activant comme le fait le hover menu gche , tout les bouton d'action enfin pour les boutons actions on a une bonne piste
mais ca reste a peaufiner
quelle synchronicité :)

[2016-02-05 07:14] oceatoon opened #597 "Pixels : participez au projet : ajouter btn trouver des referant / devenir référant local"

[2016-02-05 09:30] RaphaelRIVIERE opened #598 "Facebook et Yahoo dans l'inviteSV.php"
Faire comme pour  Google+ et Gmail :

Facebook : Possibilité de publier sur ton mur ou celui d'un groupe.
Yahoo : Récupérer les emails des contacts

[2016-02-05 09:55] #535 closed, assigned to oceatoon

[2016-02-05 11:58] clement59 commented on #522
Voici l'erreur : Uncaught ReferenceError: typesLabels is not defined [présent dans views/default/index.php]
var typesLabels = {
  "<?php echo Organization::COLLECTION ?>":"Organization",
  "<?php echo Event::COLLECTION ?>":"Event",
  "<?php echo Project::COLLECTION ?>":"Project",
};

Dans le new design, views/search/index.php ça marche ....

[2016-02-05 12:24] clement59 commented on #587
Du coup je l'ai pas caché... car ça pétait tout le design mais si non connecté ça redirige sur la box - login

[2016-02-05 12:25] RaphaelRIVIERE opened #599 "Bug : NomPrenom > mon Répertoire > +Ajouter"
Cette page ne s'affiche pas dans le design AlphaTango
![capture du 2016-02-05 16 24 16](https://cloud.githubusercontent.com/assets/8775448/12846267/05ffa9e6-cc25-11e5-9ddb-dd19634e4798.png)

Je clique sur mon Nom en haut a gauche, puis sur "Mon répertoire" . Et sur le répertoire je clique sur le bouton "+Ajouter"

[2016-02-05 12:28] clement59 opened #600 "Intégrer la variable isSearchDesign dans le url de news (orga, project, etc)"
Pour que le design soit bon dans toutes les vues

[2016-02-05 15:10] oceatoon commented on #599
je crois qu'elle jsute pas encore cablé

[2016-02-05 16:10] clement59 commented on #582
Ok Tristan, ça fonctionne ! je t'ai fais une petite pass de variable isSearchDesign ! pour pixels, city et citoyens.. Par contre pour orga et projet, il faut injecter la variable dans la barre de menu

[2016-02-05 16:12] clement59 opened #601 "Barre de menu orga citoyen project event pas très claire"
On ne voit pas que ceux sont des boutons.
Il faudrait les intégrer à la barre fix du haut ...

[2016-02-05 16:58] clement59 commented on #515
it is done to test

[2016-02-05 16:59] clement59 commented on #411
Je pense que c'est bon

[2016-02-05 17:00] oceatoon commented on #597
ajouter un texte explication

[2016-02-05 17:41] numahell opened #602 "Confidentialité et informations personnelles"
Les infos comme l'adresse mail, le vrai non si on l'indique, le téléphone, l'adresse postale, les contacts ... bref les données personnelles sont toutes visibles aux autres communecters : pour préserver notre vie privée, ce serait pas mal de pouvoir ne pas les diffuser.

Et sinon, on devrait avoir la possibilité de ne pas saisir d'informations personnelles : l'adresse postale est par exemple oblig

[2016-02-07 09:10] #522 closed, assigned to oceatoon

[2016-02-07 09:18] oceatoon commented on #293
le system de badget serait un controller
pour presenter le niveau et les differents badge de chaque citoyen
sur divers thematique :
- les liens dans la plateforme
- s'il est contributeur
  -- financeur
  -- pixel actif bénévole
  -- pixel actifs rémunéré
  -- pixel actils admin
  ...

ce type de classification devrait pouvoir aussi s'appliquer pour les contributeur d'un projet , ou d'un organisati

[2016-02-07 09:19] oceatoon commented on #468
@MathieuCoste tu pourras nous dire si c'est toujours le cas
normalement ca devrait etre bon

[2016-02-07 09:21] oceatoon opened #603 "mouliner les projets de Imagination Social et d'enCommuns"
http://www.jsoneditoronline.org/?id=0f3fceb5add5cf884f9b1b080d18d989

@SimonSarazin : peux tu nous coller toutes les URLs pour accéder à l'open data pouf ?

[2016-02-07 09:29] oceatoon commented on #603
{
  "files": [],
  "cover": null,
  "id": 832,
  "baseline": "Tiers-lieux ouvert et partagé à Lille",
  "created_on": "2015-01-13T09:08:35.472627",
  "data": "{}",
  "description": "<p>D’abord bureaux mutualisés, puis espace de travail collaboratif... </p>",
  "language_code": null,
  "location": {
    "address": {
      "address_locality": "Lille",
      "address_region": "",
      "country": "FR

[2016-02-07 09:29] oceatoon commented on #603
@SimonSarazin est ce que tu as pu faire l'export ?

[2016-02-07 14:22] #556 closed, assigned to Kgneo

[2016-02-07 14:30] Kgneo commented on #520
problème réglé sur les deux design
ajout dans le css :

.modal{
    background-color: rgba(0, 0, 0, 0.55) !important;
    padding-top: 40px !important;
}
.modal-backdrop{
  display:none !important;
}

[2016-02-07 14:30] #520 closed, assigned to Kgneo

[2016-02-07 14:33] Kgneo commented on #591
à quel endroit et quel moment ça se produit ?

[2016-02-07 14:41] Kgneo commented on #458
testé en prod : ça marche bien sur firefox et chrome

[2016-02-07 14:41] #458 closed, assigned to Kgneo

[2016-02-07 14:50] Kgneo commented on #601
est-ce que ce serait mieux comme ça ?
![capture d ecran 2016-02-08 a 01 49 49](https://cloud.githubusercontent.com/assets/7578166/12872988/4fcda860-ce06-11e5-9c1f-6bb9c9bf38c3.png)

[2016-02-07 15:02] Kgneo commented on #584
j'ai rajouté "s'inscrire", mais si je met aussi "connexion" les bouton vont se chevaucher.
Il y a un tooltip sur le bouton s'inscrire et les bouton en haut à droite qui restent toujours afficher même pendant le scroll
![capture d ecran 2016-02-08 a 01 57 53](https://cloud.githubusercontent.com/assets/7578166/12873038/df2048f0-ce07-11e5-90ed-915f9cb3fc3a.png)
![capture d ecran 2016-02-08 a 02 01 11

[2016-02-07 15:03] Kgneo commented on #584
serait-il plus judicieux de remplacer le bouton "se connecter" par un mini formulaire de connexion placé au même endroit ? (en haut à droite)

[2016-02-07 15:05] #555 closed, assigned to Kgneo

[2016-02-07 15:19] Kgneo commented on #546
le nouveau process sur le nouveau design :
une modal s'affiche avec la liste des 15 villes les plus proches de la position trouvée, dans un rayon de 50km.

[2016-02-07 15:19] Kgneo commented on #546
à tester chez vous pour voir si c'est plus efficace :)

[2016-02-07 15:21] Kgneo commented on #546
sur le nouveau design en mode recherche :
![capture d ecran 2016-02-08 a 02 19 55](https://cloud.githubusercontent.com/assets/7578166/12873155/7bdea720-ce0a-11e5-8bcf-0072bb2c4cb3.png)
ou sur la page d'accueil :
![capture d ecran 2016-02-08 a 02 21 02](https://cloud.githubusercontent.com/assets/7578166/12873167/ae934b58-ce0a-11e5-916a-97c2be278219.png)

[2016-02-07 15:22] #460 closed, assigned to Kgneo

[2016-02-07 16:20] oceatoon commented on #584
bonne idée
 comme le panel menu est persistant a présent c'est pas bete d'y mettre le
login
+1

[2016-02-07 17:42] oceatoon commented on #492
on vient de me remonter ce point via les acteurs des communs de Toulouse
c'est critique d'exposer toute les données utlisateurs
par contre il nous faudra le retirer du public Data et tous nos JSON
sinon  c trop facil

pour les regles d'affichage je propose pour chaque champs  3 possibilités
public
private (only my firends)
always hide

[2016-02-07 18:27] oceatoon opened #604 "person/dash/profil pourquoi on rappel $user ?"
l.14 $user = Person::getById(Yii::app()->session['userId']);
alors qu'on a deja $person en params ?

[2016-02-07 18:33] oceatoon opened #605 "non logguer : url http://127.0.0.1/ph/communecter/search#person.detail.id.520931e2f6b95c5cd3003d6c"
s'ouvre mais elle est vide

[2016-02-07 18:37] oceatoon opened #606 "mes contacts : click une personne recharge tjrs mon profile"

[2016-02-08 01:38] Kgneo commented on #606
je viens de tester mais je ne peux pas reproduire ce bug.
Quand tu dis mes contacts, tu parles de "Mon répertoire" ?
Moi quand je click j'ai bien le profil demandé qui s'ouvre

[2016-02-08 01:45] Kgneo commented on #604
$user = Moi (pour mise à jour de mes cookies)
$person = la personne à afficher

[2016-02-08 01:46] Kgneo commented on #605
chez moi ça marche

[2016-02-08 02:00] Kgneo opened #607 "News : intégrer les commentaires directement dans la news"
![capture d ecran 2016-02-08 a 12 58 27](https://cloud.githubusercontent.com/assets/7578166/12877195/b537a752-ce63-11e5-973b-96485d7e5aaf.png)

[2016-02-08 02:19] Kgneo opened #608 "Ou est passé le bouton de sous-menu "News" sur les person ?"
Il y avait un bouton pour accéder au news avant non ?
![capture d ecran 2016-02-08 a 13 18 22](https://cloud.githubusercontent.com/assets/7578166/12877377/78ec3d0a-ce66-11e5-8dbd-d0ccbc3e3608.png)

[2016-02-08 02:29] #600 closed, assigned to Kgneo

[2016-02-08 02:32] Kgneo commented on #599
bien vu.
J'ai supprimé ce bouton du menu puisqu'on a maintenant le bouton "ajouter" en bas à droite de la fenêtre, qui reste toujours affiché

[2016-02-08 02:34] Kgneo commented on #594
même chose pour la connexion ?
est-ce qu'on passe définitivement sur le nouveau design ?

[2016-02-08 02:53] Kgneo commented on #593
réparé

[2016-02-08 03:00] Kgneo commented on #582
ok, je suis repassé sur orga et projet.
Le scroll marche bien sur "Mon fil d'actu",
par contre il ne marche pas sur "L'actu communectée" : /ph/communecter/search#search.news

[2016-02-08 03:01] #599 closed, assigned to Kgneo

[2016-02-08 05:44] #604 closed, assigned to Kgneo

[2016-02-08 05:59] MathieuCoste commented on #468
non pas de mon côté

![2016-02-08_0654](https://cloud.githubusercontent.com/assets/10626066/12879310/80d71c40-ce31-11e5-88f7-823afa710a7a.png)
![2016-02-08_0655](https://cloud.githubusercontent.com/assets/10626066/12879311/80dc4d46-ce31-11e5-94f7-a42b84e9fdb8.png)

[2016-02-08 06:02] RaphaelRIVIERE opened #609 "Need Tester : Inviter des contacts"
J'ai besoin de testeur , pour la page "inviter des contacts" : tester les différentes fonctionnalités et me faire des retours pour je modifie ça au plus vites

![capture du 2016-02-08 10 01 15](https://cloud.githubusercontent.com/assets/8775448/12879333/eea09e90-ce4a-11e5-8ad5-6e18a38026e0.png)

[2016-02-08 06:03] oceatoon commented on #468
tu peux screenshoté le panel Contributeurs STP

[2016-02-08 06:08] MathieuCoste commented on #468
ben c'est pas le 1er screenschot  proposé ?

[2016-02-08 06:28] oceatoon commented on #468
nop , c'est jsute un pod
click contributeur stp

[2016-02-08 06:52] MathieuCoste commented on #468
![2016-02-08_0751](https://cloud.githubusercontent.com/assets/10626066/12879761/d30e2970-ce38-11e5-8149-0125400a161c.png)

[2016-02-08 06:52] oceatoon commented on #492
j'ai ajouté sur la map person.preferences
il y aura des champs qui seront visible par default
les autres sont en allwaysHide par default mais configurable par l'utilisateur
ca donne ca dans la map json d'une person
"preferences" : {
        "publicFields" : [
            "name"
        ],
        "privateFields" : [
            "email",
            "phoneNumber"
        ],

l'affichage des autres

[2016-02-08 07:12] Kgneo commented on #596
est-ce que ce serait mieux comme ça ? comme des onglets collé à la barre de menu (mais qui disparaissent quand on scroll)
![capture d ecran 2016-02-08 a 01 49 49](https://cloud.githubusercontent.com/assets/7578166/12880000/6dfe6e76-ce8f-11e5-8562-76ef85921ab4.png)

[2016-02-08 07:15] RaphaelRIVIERE commented on #596
+1 Moi j'aime bien comme ça

[2016-02-08 07:53] oceatoon commented on #596
moi aussi

[2016-02-08 08:04] oceatoon commented on #468
donc le resultat est normal
Mathieu Coste , est toujours present dans le panel carto
ya les contributeurs du projet
et ya les projet en lui meme

[2016-02-08 08:22] Kgneo opened #610 "bug publication new scope city"
sur la page actu communecté : changer le scope quand on change de ville

[2016-02-08 08:46] MathieuCoste commented on #468
je trouve cela confusant... mais si je suis le seul alors... tout va bien

[2016-02-08 09:31] oceatoon opened #611 "cryptage des données personnelles avec la fonction mongo"

[2016-02-08 10:29] oceatoon opened #612 "creer un user demo / demo , pour tester l'application"

[2016-02-08 10:46] oceatoon opened #613 "reduire peut etre en 1 ligne le titre et retirer communectez vous qd on est loggué"
![image](https://cloud.githubusercontent.com/assets/192076/12881278/fcc16470-ce61-11e5-8c4c-2f711a392c41.png)

[2016-02-08 10:49] oceatoon commented on #468
on le garde ouvert
j'avais aussi émis que c t bizarre de se retrouver tjrs dans la map
et l'argument pas mal en plus
c'est pour voir si tu es loin des autres
tu pourrais en faire un loomio

[2016-02-08 12:42] pepone31 opened #614 "Recherche collectivité"
un petit bug sur la recherche, qd on cherche 97419, ou Possession on ne tombe plus sur la commune mais sur le mur d'expression

[2016-02-08 13:31] oceatoon commented on #614
tu veux dire on trouve bien la commune mais quand on click ca sur news et pas la page commune

[2016-02-08 13:49] pepone31 commented on #614
oui c'est ça....
je clik il trouve la possession, je fais entrer il dirige vers le mur d'expression

[2016-02-08 14:52] clement59 commented on #601
Yep c'est mieux comme ça je trouve

[2016-02-08 14:53] clement59 commented on #608
il n'y en a jamais eu

[2016-02-08 14:55] clement59 commented on #596
+1

[2016-02-08 14:56] clement59 commented on #601
passé dans l'issue #596

[2016-02-08 14:56] #601 closed, assigned to Kgneo

[2016-02-08 14:58] clement59 commented on #582
Moi ça marche correctement

[2016-02-08 15:22] clement59 opened #615 "Problème dans la recherche par name dans l'annuaire"
En local dans ma recherche quand je tape le nom d'un projet il me le trouve pas

[2016-02-08 15:23] clement59 opened #616 "Barre de recherche moins accessible"
Ce serait bien de réintéger la barre recherche en haut quand même. Je la trouvais pratique

[2016-02-08 15:57] clement59 commented on #591
Enfaite ce bug était du à un mot clé rentré dans une association. On l'a réglé à la main si je ne me trompe pas. Tib tu confirme?

[2016-02-08 15:58] clement59 commented on #606
J'ai réglé le problème. Il manquait un égal a la condition ligne 20 dans person/DetailAction

[2016-02-08 16:25] sylvainbarbot opened #617 "Redirect à la création d'un événement"
Lorsque je créée un événement avec succès (en particulier sur un projet ou sur une organisation), le redirect devrait partir sur la page de l'événement et pas le directory de l'utilisateur connecté.

[2016-02-08 16:37] oceatoon opened #618 "import data pour la tunisie"

[2016-02-08 17:14] clement59 commented on #607
Je suis d'accord ... De même il y a un bug sur les commentaires car pas de scroll

[2016-02-08 17:14] #606 closed, assigned to Kgneo

[2016-02-08 17:16] oceatoon commented on #616
elle est prévu, ou peut etre jsute le bouton rond qui se deplie comme sur la page d'acceuil actuel

[2016-02-08 17:22] oceatoon commented on #608
effectivement la question est intéressante
est ce qu'on aurait le droit de regarder le news des autres ?
je dirais que non au debut et plus tard l'utilisateur pour configurer son mur public

[2016-02-08 17:25] clement59 commented on #593
Ok c'est bon...
Par contre au click du bouton Villeneuve d'ascq dans la vue search/news ca plante !

[2016-02-08 17:49] clement59 opened #619 "Champ de recherche caractère spéciaux"
Deux points:
. Pour les villes avec des tirets du 6 "-", il serait bien que les espaces soient interprétés comme des "-". Pour l'expérience utilisateur c'est tout de même plus top
. L'apostrophe fait sauter la recherche dans l'annuaire, etc

[2016-02-08 17:52] clement59 opened #620 "Affichr les notifications - new design"

[2016-02-08 18:46] oceatoon opened #621 "retraiter les point flottant en mer sur la prod"

[2016-02-08 19:18] clement59 commented on #608
Cette question est intéressante aussi pour retrouver toutes ces news aussi ou le mur des personnes.
On peut déjà le faire avec le mode public/private qu'il faut que je finisse.
Ce mode est très intéressant car pour les murs orga et projet, ça pourrait permettre dans un premier temps d'avoir des discussions ou des posts qui soient visible que par les membres du parent.
Aufaite on peut poster dans l

[2016-02-08 19:22] clement59 opened #622 "Activer le lien vers les formulaires - btn en bas à gauche"

[2016-02-08 19:25] #617 closed, assigned to clement59

[2016-02-08 19:42] oceatoon opened #623 "integré les 2 derniere sections du site vitrine dans /search"
on va abandonner le site vitrine pour tout mettre dans home.search

on va garder qlqs bricolles
- les 2 sections du bas
- la verte pour le crowdfunding
- contact pour faire le footer
- on va ajouter une section screenshot pour promouvoir les interface
- faire un mur de mots clefs comme on a dit avec les explacation
- les pensées des gens dans un slider
- rapatrier les qlqs brique du crowdfunding

[2016-02-08 19:58] oceatoon commented on #591
oui mais on a pas comprit pourquoi ca faisait bugguer
le panel tags sur le mode carto
on l'avait réduit a une asso "jeunesse" qlq chose
à étudier avec Tango pour le régler

[2016-02-09 05:22] RaphaelRIVIERE commented on #621
Ce n'est pas du a mon module d'import, il y a 3 orga créer par d'autre personnes. sinon le reste se sont des citoyens qui sont mal géolocalisé

[2016-02-09 05:24] RaphaelRIVIERE commented on #621
@oceatoon "Latitude Fruitière " est mal géolocaliser en prod et tu es admin de l'orga

[2016-02-09 05:29] RaphaelRIVIERE opened #624 "Mode carto : N'affiche plus les fiches Orga/Citoyens/Events"
![capture du 2016-02-09 09 25 20](https://cloud.githubusercontent.com/assets/8775448/12908336/585d66fa-cf0f-11e5-8311-85c9293cc827.png)
En mode carto, quand on clique sur "En Savoir +" la fiche d'information n’apparaît pas, il faut basculer dans l'autre mode pour la voir

[2016-02-09 05:32] RaphaelRIVIERE commented on #624
Toujours le même problèmes avec [Object Object]

[2016-02-09 06:36] oceatoon commented on #594
oui je penses c'est definitif

[2016-02-09 06:45] oceatoon commented on #492
![image](https://cloud.githubusercontent.com/assets/192076/12909415/2bfab2b0-cf1a-11e5-927b-8b62163a45e9.png)

tu l'as commité @Kgneo ?

[2016-02-09 06:48] sylvainbarbot opened #625 "Devenir member d'une organisation - undefined"
Lorsque je demande à devenir membre d'une organisation, le message est incorrect
![capture d ecran 2016-02-09 a 10 45 40](https://cloud.githubusercontent.com/assets/2662262/12909474/9c73c824-cf1a-11e5-9625-f296ca62f792.png)

[2016-02-09 08:36] #625 closed, assigned to clement59

[2016-02-09 08:53] oceatoon opened #626 "faire des types de menu pour differents niveau d'utilisateur"
menu type debutant : avec les panel explication
menu type intermediate : le menu devient un dashboard
menu advanced : pour les communecteur
menu commune : avec une vision commune

[2016-02-09 10:43] clement59 commented on #587
Ok je le mets en 0.2

[2016-02-09 10:45] clement59 commented on #587
Enfaite cela rejoint une feature ... Est-ce que on laisse n'importe qui écrire dans les murs ?
wdyt? @Kgneo @sylvainbarbot @oceatoon @raphael_riviere@yahoo.fr

[2016-02-09 10:50] clement59 opened #627 "Barre du haut non présente sur toutes les vues notamment le principale"
![capture d ecran 2016-02-09 a 11 47 10](https://cloud.githubusercontent.com/assets/6576514/12914144/f8de9618-cf22-11e5-9e4b-4c30ac1fd4da.png)
Je mettrais bien la barre dans la vue annuaire, agenda, actualité de search pour garder une cohérence dans le design... En plus sur ces pages je trouve du coup l'appel à l'action pour les notifs et le menu utilisateur un peu isolé.
Wdyt?

[2016-02-09 11:01] oceatoon commented on #627
+1
ou alors le passer dans la couche focus menu , ce qui donnerait encore plus de place
rejoignant un peu cette feature evolutive
https://github.com/pixelhumain/communecter/issues/626
@clement59 tu n'aurais pas fait une faute de frappe SEED FROM DAMS ? c'est ton fournisseur de graine ?

[2016-02-09 11:03] clement59 commented on #627
BAS tu as vraiment l'esprit mal tourné Mr Katelbach

[2016-02-09 11:04] oceatoon opened #628 "faire une version dégradé bas debit fonctionnelle de communecter"

[2016-02-09 11:05] sylvainbarbot opened #629 "Améliorations pour news postées depuis une page orga/projet/event"
Lorsque je post une news depuis le fil d'actu d'une orga/projet/event, le post est afficher sur le mur d'actu (voir screen shot)
![capture d ecran 2016-02-09 a 15 01 29](https://cloud.githubusercontent.com/assets/2662262/12914510/08a7a2b8-cf3e-11e5-8eef-6adb928101d8.png)
Voici qq propositions d'amélioration (à débattre) :
- Est ce qu'il serait possible de mettre l'icône Organisation/Projet/Evéneme

[2016-02-09 11:06] oceatoon commented on #627
@RaphaelRIVIERE vient de proposer aussi de la rendre fixe
et donc de ne pas disparaitre en scrollant
raison de plus de la mettre dans le focus menu panel

[2016-02-09 11:54] RaphaelRIVIERE opened #630 "Bug affichage : File d'actualité d'une commune"
En cliquant sur "L'annuaire", j'ai recherché un commun et lorsqu'on clique sur la commune, le pod du file d'actualité dépasse du cadre :

Vue d'ensemble  :
![capture du 2016-02-09 15 54 11](https://cloud.githubusercontent.com/assets/8775448/12915523/6244dc4e-cf45-11e5-875d-f14148d11e72.png)

Zoom :

![capture du 2016-02-09 15 50 33](https://cloud.githubusercontent.com/assets/8775448/12915467/f5689

[2016-02-09 12:00] #411 closed, assigned to clement59

[2016-02-09 13:31] clement59 commented on #520
Il n'est plus d'actu pour le moment car caché ! C'est le modal qui permettait de selectionner les murs cibles pour l'actu... Caché avec le refactor sur les news. Et ce bug était tout de même bel et bien réglé.

[2016-02-09 13:34] clement59 commented on #262
Je relance ce bug toujours d'actu. Pour le moment, il y a aussi un bug en plus de celui là. Si j'ai beaucoup de commentaires, on ne peut pas tous les voir car cachés et fix.

[2016-02-09 13:35] clement59 commented on #262
d'ailleurs je l'avais dans la foulée #294

[2016-02-09 13:36] clement59 commented on #180
Il me semble que c'est bon je close !

[2016-02-09 13:36] #180 closed, assigned to sylvainbarbot

[2016-02-09 13:37] #118 closed, assigned to sylvainbarbot

[2016-02-09 13:37] #93 closed, assigned to sylvainbarbot

[2016-02-09 14:11] Kgneo commented on #520
c'était un bug sur les 2 versions. J'ai rajouté d'autres modal depuis (en plus du scope news qu'on utilise plus) par exemple à la fin du process de geoloc HTML si vous voulez tester.

[2016-02-09 14:48] clement59 opened #631 "probleme de longueur avec es titre comme dans l'ancien design"
![capture d ecran 2016-02-09 a 15 47 51](https://cloud.githubusercontent.com/assets/6576514/12919487/8f082b56-cf44-11e5-8934-d434dffcce21.png)

[2016-02-09 15:03] clement59 commented on #620
ok Tib je les ai réaffiché ... dc mtn elles sont en js dans le doc layouts/notifications2.php
Il reste une bonne passe de design à faire...
Et il reste un truk vraiment bizare... Sur la vue de l'agenda par exemple j'ai deux menu différents ce qui donne cela au scroll (une fois c'est bon l'autre non)
![capture d ecran 2016-02-09 a 15 59 14](https://cloud.githubusercontent.com/assets/6576514/1291994

[2016-02-09 15:12] clement59 commented on #620
Alors un autre point, c'est difficile de s'y retrouver car les méthodes sont assez différentes...
Une plus en php l'autre js. Des docs dupliqués et de l'appel et/ou du render de notification un peu partout (MainSearch/MainSimple, search/index, default/index, communecterController et j'en oublis). De quoi perdre la tête .. Y'a un bon nettoyage à faire en 0.2 sur ce point

[2016-02-09 16:22] #605 closed, assigned to Kgneo

[2016-02-09 18:19] oceatoon opened #632 "un fois creer , pouvoir connecter un projet à une orga"

[2016-02-09 18:50] phildu opened #633 "impossible de "participer" à un événement"
"something went wrong!! please try again." quand je clique sur participer

[2016-02-09 18:50] phildu commented on #633
https://www.communecter.org/#event.detail.id.56ba2ab1dd0452f732fa1549

[2016-02-09 18:51] phildu commented on #632
trés bon idée

[2016-02-09 19:02] clement59 commented on #632
Oui c'est une bonne idée. Donc si une orga est contributeur d'un projet. On peut retrouver ce lien dans le panel projet de orga...

[2016-02-10 04:30] sylvainbarbot opened #634 "Supprimer les variables d'URL utilisées pour rediriger sur les anciens design"
IsNotSV => à supprimer
isSearchDesign => à supprimer (une fois le nouveau design basculé)

[2016-02-10 04:48] #607 closed, assigned to nobody

[2016-02-10 05:14] RaphaelRIVIERE commented on #621
Dans la partie Admin, je peux créer une interface , qui vous sort la liste des entités qui sont mal géolocalisé , si vous voulez ?

[2016-02-10 07:27] RaphaelRIVIERE opened #635 "Menu "Mon Répertoire" ne s'actualise pas à la création d'un projet"
Je suis obliger d'actualiser ma page pour apercevoir le projet, que je viens de crées, dans le menu "Mon Répertoires

![capture du 2016-02-10 11 24 37](https://cloud.githubusercontent.com/assets/8775448/12941160/33f88e72-cfe9-11e5-933d-13f8580be2e8.png)

[2016-02-10 10:25] RaphaelRIVIERE opened #636 "L'image de profil ne s'enregistre pas dans projet"
Quand je mets une image pour le projet, ça me dit que le document a bien été enregistré , mais quand j'actualise la page l'image n’apparaît pas dans la fiche d'info du projet

[2016-02-10 11:34] oceatoon commented on #621
je me demande comment vous pensez automatiser le process de detection
qu'une entité est mal geoloc, a part manuellement ??
et dansl e cas ou il n'y a pas de

[2016-02-10 12:34] oceatoon commented on #621
hmmm c'est trop dependant des geoshape
on a deja vu que c'est pas fiable
perso je ne suis pas fan de cette solution

[2016-02-10 16:50] clement59 commented on #636
Pourras-tu event, il me semble que c'est le même comportement..

[2016-02-10 18:08] clement59 commented on #636
Ok j'ai débug ! A tester sur les pages orga et event aussi où il y avait le même comportement

[2016-02-10 18:09] clement59 commented on #633
ok ca devrait etre bon

[2016-02-10 18:11] clement59 commented on #515
ok je close

[2016-02-10 18:11] #515 closed, assigned to clement59

[2016-02-10 18:33] phildu commented on #633
bah non toujours pas

[2016-02-10 22:01] clement59 commented on #633
Oui oui c'est pas encore mise en ligne ... C'est pour que la team de développeurs le test avant !

[2016-02-11 02:00] Kgneo commented on #631
ok c'est rectifié
![capture d ecran 2016-02-11 a 12 59 58](https://cloud.githubusercontent.com/assets/7578166/12967930/6b60335c-d0bf-11e5-8300-a986c33ce046.png)
![capture d ecran 2016-02-11 a 13 00 08](https://cloud.githubusercontent.com/assets/7578166/12967931/6b685690-d0bf-11e5-9bc9-61fd8191636a.png)

[2016-02-11 02:00] #631 closed, assigned to Kgneo

[2016-02-11 02:07] #624 closed, assigned to Kgneo

[2016-02-11 02:42] Kgneo commented on #619
je suis d'accord, mais si on remplace les espace par des "-", les villes qui ont des noms avec des espaces ne seront plus trouvées...
si on peut le faire en regex c'est cool, mais je suis nul en regex !

Dans globalAutocompleteAction, on a des recherches du genre :
$queryLocality = array("address.addressLocality" => new MongoRegex("/".$locality."/i"));

Est-ce que quelqu'un sait comment inclure ce

[2016-02-11 02:43] Kgneo commented on #619
pour le bug de l'apostrophe, j'ai fait quelque test, apparemment maintenant ça marche

[2016-02-11 02:49] Kgneo commented on #616
1 - je propose de rajouter un bouton "loupe" à côté du bouton notification, qui ferait tomber l'input de recherche global comme une dropdown sous la barre de menu.
![capture d ecran 2016-02-11 a 13 45 59](https://cloud.githubusercontent.com/assets/7578166/12968454/3c64ee42-d0c6-11e5-9d93-fde1ea55e97d.png)

2 - pour ne pas faire doublon, je propose que ce bouton de recherche soit masqué sur les pag

[2016-02-11 03:04] Kgneo commented on #615
c'était un problème de prise en compte des accents.
Du coup j'ai fait les réglages pour que ça ne pose plus de problème pour une recherche "mot-clé" ou "#tag"

[2016-02-11 03:13] Kgneo commented on #615
ça serait bien de tester un peu chez vous avant de clôturer la tâche

[2016-02-11 03:15] Kgneo commented on #614
exact, j'ai trouvé ce bug aussi, c'est réparé.
Quand on click sur le nom d'une ville, on relance une recherche avec le nom de la ville dans le scope.
Si on click sur son CP, on relance une recherche avec le CP

ça permet de gérer le problème des villes qui ont le même nom, mais pas le même CP, et inversement.

[2016-02-11 04:52] oceatoon opened #637 "external data : pouvoir ajouter un flux RSS , ical , json"
ajouter un flux RSS pourrait ajouter des entrées externes au flux de News
ex : plugguer le RSS du site lde la mairie a l'orga Mairie dans communecter

ou perso , n'avoir qu'un seul lecteur de flux

[2016-02-11 05:05] oceatoon commented on #616
+1

[2016-02-11 05:07] oceatoon commented on #621
je comprends mais je demande sur quelle critère ?

[2016-02-11 05:10] RaphaelRIVIERE commented on #616
+1

[2016-02-11 05:40] RaphaelRIVIERE commented on #636
Nickel l'image apparaît bien
![capture du 2016-02-11 09 36 17](https://cloud.githubusercontent.com/assets/8775448/12970060/17e2b05e-d0a3-11e5-921b-6922d444757e.png)

En revanche, quand j'ajoute une image , j'ai plus de confirmation comme quoi l'image a était uploadé et en plus il continue de charger, alors qu'il a bien enregistré l'image
![capture du 2016-02-11 09 36 46](https://cloud.githubuserco

[2016-02-11 05:49] RaphaelRIVIERE opened #638 "Bug affichage : Fil d'actu - Tags"
Quand il y a trop de tags , le code postal et le nom de la ville passe à la ligne
![capture du 2016-02-11 09 46 09](https://cloud.githubusercontent.com/assets/8775448/12970161/899239f8-d0a4-11e5-875b-7ab04b91c980.png)

[2016-02-11 07:15] sylvainbarbot opened #639 "Menu bouton "+" inactif"
Rien ne se passe au clic sur les menus "Inviter quelqu'un", "Une organisation"... qui pop lors du passage de souris sur le bouton "+" en bas à droite.
![capture d ecran 2016-02-11 a 11 13 31](https://cloud.githubusercontent.com/assets/2662262/12971104/ab8a62a4-d0b0-11e5-9a92-1abdbb1c200e.png)

[2016-02-11 07:42] sylvainbarbot opened #640 "Je peux m'ajouter en tant que contact"
Dans les résultats de recherche, je peux m'ajouter moi même à mon réseau
![capture d ecran 2016-02-11 a 11 36 44](https://cloud.githubusercontent.com/assets/2662262/12971391/2e2d4ba6-d0b4-11e5-8149-1e6d2d4a4a99.png)
A supprimer de l'interface et à contrôler dans le model.

[2016-02-11 07:44] sylvainbarbot opened #641 "Résultat de recherche : erreur lors de la suppression d'un contact de mon réseau"
Unlink depuis les résultats de recherche affiche le message
![capture d ecran 2016-02-11 a 11 42 59](https://cloud.githubusercontent.com/assets/2662262/12971457/bb8e9a22-d0b4-11e5-834c-597a1bcdd424.png)
Et ensuite plante : Something went wrong

[2016-02-11 07:54] sylvainbarbot opened #642 "Error in path : affichage d'une zone avec préférences"
Profil d'une personne :
![capture d ecran 2016-02-11 a 11 49 19](https://cloud.githubusercontent.com/assets/2662262/12971536/95819f18-d0b5-11e5-8b42-436f0aa12765.png)
Pour info je n'ai pas de street address sur ce user.

[2016-02-11 08:00] RaphaelRIVIERE opened #643 "Inviter des utilisateurs a rejoindre une Orga via un fichier CSV"
Dans la fiche d'une orga, l'admin peut import un ficher CSV avec des emails et cela va  :
- Si l'email n'est pas dans communecter :
  - Inviter la personne en question
  - Lier cette personne a l'orga
- Si la personne existe :
  - Liée la personne a l'orga ou envoie une notification a rejoindre l'orga

[2016-02-11 10:21] sylvainbarbot opened #644 "Page d'accueil - Boite de connexion non visible"
Sur la page d'accueil, lorsque je slide vers le bas (jusqu'au crowdfunding par exe) pour lire des infos sur communecter et que je suis convaincu de m'inscrire, en utilisant le bouton m'inscrire en haut, la page se grise et rien.
Il faut slider vers le haut pour la trouver.
![capture d ecran 2016-02-11 a 14 21 22](https://cloud.githubusercontent.com/assets/2662262/12974104/c1a8183c-d0ca-11e5-8a54-7

[2016-02-11 10:50] phildu opened #645 "scroller dans l'import des contacts google"
l'import est ok mais impossible de scroller dans la llste

[2016-02-11 10:56] oceatoon commented on #643
ok mais  V.0.2 prio 1

[2016-02-11 11:57] sylvainbarbot opened #646 "Résultat de recherche annuaire : clic sur icone ouvre un onglet vide"
![capture d ecran 2016-02-11 a 15 56 11](https://cloud.githubusercontent.com/assets/2662262/12975778/fee23428-d0d7-11e5-8713-121a571f13b0.png)
Quand je clique sur l'icone verte => Ouverture onglet vide.
Pareil pour tout les types d'entités.

[2016-02-11 12:03] sylvainbarbot opened #647 "Résultat de recherche : si on scroll pas pour afficher plus de résultat on ne les voit pas sur la carte"
Lors que j'affiche l'annuaire de Trois Bassins et qu'il y a des résultats en plus à voir en scrollant, ils ne sont pas affichés sur la carto non plus.
Ca fait bizarre mais j'ai pas forcement de solution.
Y a que moi que ça dérange ?

[2016-02-11 12:14] sylvainbarbot opened #648 "Concordance Résultat recherche - carte"
En mode déconnecté, je recherche une commune (37210 Parçay Meslay) et je clique dessus.
![capture d ecran 2016-02-11 a 16 07 28](https://cloud.githubusercontent.com/assets/2662262/12975935/92df144c-d0d9-11e5-81ff-d20d7ecf3cdb.png)
Je passe en mode carto => Pas de positionnement sur Parçay Meslay de la carte et pas de geoshape.
![capture d ecran 2016-02-11 a 16 08 47 2](https://cloud.githubusercont

[2016-02-11 12:17] sylvainbarbot opened #649 "Trier les résultats du menu 'Mon répertoire' par ordre alpha"
Trier les entrées de mon répertoire par type et ensuite trier par ordre alpha.
![capture d ecran 2016-02-11 a 16 16 19](https://cloud.githubusercontent.com/assets/2662262/12976094/f11c3afc-d0da-11e5-9df1-a9ed1cce5421.png)

[2016-02-11 13:42] Kgneo commented on #648
pour l'instant le geoshape d'une ville est affichée seulement au chargement de la page City.
Mais ce serait sûrement une bonne idée de l'afficher aussi quand on fait une recherche avec un code postal.
Je le verrais bien en V2 ?

[2016-02-11 17:02] Kgneo commented on #613
modifié comme ça :
![capture d ecran 2016-02-12 a 04 01 56](https://cloud.githubusercontent.com/assets/7578166/12983441/6788da58-d13d-11e5-8cbc-7f0c36c5b2a6.png)

[2016-02-11 17:08] Kgneo commented on #613
j'ai trouvé une erreur quand on va sur http://localhost:8888/ph/communecter/search#city.detail.insee.98805
(pareil pour tous les codes insee)

![capture d ecran 2016-02-12 a 04 06 54](https://cloud.githubusercontent.com/assets/7578166/12983639/3b02c420-d13e-11e5-9a2c-23c0d7f39d3e.png)

ensuite, on est redirigé vers :

![capture d ecran 2016-02-12 a 04 08 33](https://cloud.githubusercontent.com/ass

[2016-02-11 17:24] clement59 commented on #636
Je n'arrive pas à reproduire le bug du chargement ...

[2016-02-12 03:16] Kgneo commented on #646
bien vu. C'est réparé

[2016-02-12 03:16] #646 closed, assigned to Kgneo

[2016-02-12 03:29] Kgneo commented on #649
ok

[2016-02-12 03:31] Kgneo commented on #588
- affichage au scroll : ok
- les tags sont clickable (colone de gauche dans les résultats) : ok
- bouton filtres par type : ok
- résultats par ordres alpha : ok

[2016-02-12 03:31] #588 closed, assigned to Kgneo

[2016-02-12 03:38] Kgneo opened #650 "image profil des City ?"
quand on a des villes sur la carte, quelle image de profil pourrait-on leur mettre dans la liste de droite ?
Actuellement elles ont une image par défaut qui ne correspond pas vraiment.
![capture d ecran 2016-02-12 a 14 36 49](https://cloud.githubusercontent.com/assets/7578166/12998300/37c0fb6c-d196-11e5-9e87-7791d241e0d5.png)

[2016-02-12 05:11] Kgneo commented on #639
les boutons sont activés

[2016-02-12 05:11] #639 closed, assigned to Kgneo

[2016-02-12 05:16] oceatoon commented on #648
il me semble qu'on l'avait fait ca
le focus sur une commune dans la version bleu
je trouve ce feature trop important
sinon ca casse le lien entre ce qui se passe sur le panel de recherche et
la carto
faut vraiment qu'ils soient synchro pour la V.0.1
tu avais deja tout il me semble , non ?

[2016-02-12 05:34] oceatoon commented on #613
+1

[2016-02-12 05:34] #613 closed, assigned to Kgneo

[2016-02-12 06:09] oceatoon commented on #650
bonne question
on a viré le module photo temporairement , mais a terme les ville en auront un où elles pouront éditer
pour le moment jmettrais une image par defaut avec l'université peut etre
pas celle avec la tete

[2016-02-12 07:18] RaphaelRIVIERE commented on #609
Mets à jours communecter et pixelhumain

Inviter qqun :
- Problème d'affichage : Réglés
- Ajoute , d'un bouton "Cancel" pour revenir sur la recherche.

Gmail :
- Problème token : a Test
- Liste des contacts : J'ai pas trouvé pourquoi ta pas la même liste,  Est-ce que par hasard les emails que tu a en plus se sont des emails que tu aurez envoyé un message sans enregistrer le contact ?
- Il faudrait

[2016-02-12 07:30] RaphaelRIVIERE commented on #645
Corriger, on test entre Développeur puis après sa partira en prod

[2016-02-12 08:56] clement59 opened #651 "Désactiver pop up info"
Il serait bien d'avoir un petit bouton pour désactiver ces popup car au bout d'un moment, ça vient polluer le champs de vision ...

[2016-02-12 08:57] clement59 commented on #651
![capture d ecran 2016-02-12 a 09 56 47](https://cloud.githubusercontent.com/assets/6576514/13002465/009496c0-d16f-11e5-98a9-f71f01c0690e.png)

[2016-02-12 09:09] #622 closed, assigned to clement59

[2016-02-12 09:09] clement59 commented on #622
Tango done

[2016-02-12 09:10] clement59 commented on #582
par contre attention mtn ca marche plus sur l'ancien design ....

[2016-02-12 09:11] clement59 commented on #346
c'est bon

[2016-02-12 09:48] oceatoon commented on #651
+1

On Fri, Feb 12, 2016 at 12:57 PM, clement59 notifications@github.com
wrote:

##

Tibor Katelbach – Senior Developer
http://oceatoon.org
..·><((((º>·´¯`·.¸¸..><((((º>.¸¸..·.¸¸..><((((º>.¸¸..
La Riviere, La Reunion
e-mail : oceatoon@gmail.com
skype : oceatoon
Fixe : +262+262343686
Mobile : +262-693918532

Save a tree...please don't print this e-mail unless you really need to.

[2016-02-12 10:42] Kgneo commented on #636
je viens de tester, ça marche bien.
on peut cloturer cette tâche?

[2016-02-12 10:47] Kgneo commented on #633
ok c'est bon pour moi.
je ferme la tache

[2016-02-12 10:47] #633 closed, assigned to clement59

[2016-02-12 10:48] #615 closed, assigned to clement59

[2016-02-12 10:49] #614 closed, assigned to pepone31

[2016-02-12 10:50] #593 closed, assigned to oceatoon

[2016-02-12 10:50] #582 closed, assigned to clement59

[2016-02-12 10:55] #635 closed, assigned to Kgneo

[2016-02-12 11:00] #554 closed, assigned to clement59

[2016-02-12 11:04] Kgneo commented on #549
le scroll marche bien chez moi
je ferme la tache

[2016-02-12 11:04] #549 closed, assigned to clement59

[2016-02-12 11:06] Kgneo commented on #507
c'est bon ça marche

[2016-02-12 11:06] #507 closed, assigned to clement59

[2016-02-12 11:10] Kgneo commented on #477
le publication fonctionne bien maintenant, mais il faudrait vérifier tous les fils d'actus, sur les différentes pages : actu communectée, mon fil d'actu, le fil d'actu d'une commune.
Il faut terminer le scopes city sur l'actu communectée, il faut que ce soit synchro avec le scope de communexion

[2016-02-12 11:11] #452 closed, assigned to sylvainbarbot

[2016-02-12 11:12] #636 closed, assigned to clement59

[2016-02-12 11:13] #542 closed, assigned to Kgneo

[2016-02-12 11:14] #418 closed, assigned to sylvainbarbot

[2016-02-12 11:15] #346 closed, assigned to clement59

[2016-02-12 11:20] Kgneo commented on #378
la page admin fonctionne
le bouton est bien dans le menu principal à gauche
![Uploading Capture d’écran 2016-02-12 à 22.20.12.png…]()

[2016-02-12 11:26] sylvainbarbot opened #652 "Résultat de recherche : villes polluant les résultats"
Je viens de mettre la ville de Saint-Paul comme de communection.
Et dans l'annuaire il me sort des villes de toute la France.
Alors que je voudrais seulement les entités de ma ville.
Rien à faire des autres villes dans ce cas là.
![capture d ecran 2016-02-12 a 15 23 29](https://cloud.githubusercontent.com/assets/2662262/13005679/dbf47f3c-d19c-11e5-8baf-ac19a3707e8a.png)

[2016-02-12 11:34] sylvainbarbot opened #653 "Impossible d'afficher l'actualité de sa ville"
![capture d ecran 2016-02-12 a 15 32 56](https://cloud.githubusercontent.com/assets/2662262/13005830/2209b5c2-d19e-11e5-8d06-944da37debab.png)

[2016-02-12 11:35] Kgneo opened #654 "réparer la page actu"
![capture d ecran 2016-02-12 a 22 34 24](https://cloud.githubusercontent.com/assets/7578166/13005831/cf7c94d8-d1d8-11e5-9569-e004655db273.png)

[2016-02-12 11:36] #654 closed, assigned to Kgneo

[2016-02-12 11:37] #376 closed, assigned to sylvainbarbot

[2016-02-12 11:40] #318 closed, assigned to sylvainbarbot

[2016-02-12 11:41] #289 closed, assigned to sylvainbarbot

[2016-02-12 11:42] #274 closed, assigned to sylvainbarbot

[2016-02-12 11:47] Kgneo opened #655 "Au changement de mon image profil : l'image de mon marker n'est pas mis à jour"

[2016-02-12 11:47] #267 closed, assigned to sylvainbarbot

[2016-02-12 11:48] Kgneo commented on #655
Le marker ne peut pas se mettre à jour à cause du cache, car le nom de l'image du marker ne change pas.
Sylvain, serait-il possible, au moment de la génération du marker, de lui donner un nom différent à chaque fois (reprendre le nom de l'image) ?

[2016-02-12 11:50] #256 closed, assigned to sylvainbarbot

[2016-02-12 11:50] sylvainbarbot opened #656 "Fil d'actu - Post d'une vidéo"
**1/ Erreur d'ajout de vidéo**
Si je mets une vidéo avec un "-" dans l'url j'ai une erreur : "Le traitement de l'url retourne une erreur!"
`<h1>PHP Error [2]</h1>
<p>file_get_contents(https://www.youtube.com/watch?v=M): failed to open stream: HTTP request failed!
 HTTP/1.0 404 Not Found`
Alors que j'ai posté l'URL : https://www.youtube.com/watch?v=M-SUT4ddfuo
Tester d'autres caractères spéciaux (e

[2016-02-12 11:52] #156 closed, assigned to clement59

[2016-02-12 12:13] sylvainbarbot opened #657 "Message de vote"
Trop de message d'info sur like/dislike + traduction
![capture d ecran 2016-02-12 a 16 08 22](https://cloud.githubusercontent.com/assets/2662262/13006527/e57c8210-d1a2-11e5-8abc-b6a0b1c1a9b3.png)

[2016-02-12 12:52] sylvainbarbot opened #658 "Création d'événement - divers bug"
A la création d'événement,

1/ Tri des organisateurs par ordre alphabétique + traduction (Person / Project)
![capture d ecran 2016-02-12 a 16 32 22](https://cloud.githubusercontent.com/assets/2662262/13006984/5435dff0-d1a6-11e5-9003-69d29fb28e56.png)
![capture d ecran 2016-02-12 a 16 34 40](https://cloud.githubusercontent.com/assets/2662262/13007016/8862cab8-d1a6-11e5-87e0-083bd1205571.png)
![capt

[2016-02-12 13:04] sylvainbarbot opened #659 "Fil d'actu : erreur de ville à la création d'event ?"
J'ai créé un événement à "Bois de Nefle" et il m'affiche une news à "Trois Bassins".
Pour info, "Trois Bassins" c'est ma ville de communection.
![capture d ecran 2016-02-12 a 17 00 48](https://cloud.githubusercontent.com/assets/2662262/13007530/688a223c-d1aa-11e5-93ca-32e36c01011c.png)
![capture d ecran 2016-02-12 a 17 02 48](https://cloud.githubusercontent.com/assets/2662262/13007543/774cd4e0-d1a

[2016-02-12 13:22] oceatoon commented on #652
+1 peut etre pouvoir
ajouter une checkbox ?

[2016-02-12 13:29] RaphaelRIVIERE commented on #527
Je vous relance les ga, si l'un d'entre vous peut me dire qu'elle fichier je peux modifier pour corriger l'affichage
@oceatoon @sylvainbarbot  @Kgneo  @clement59

[2016-02-14 13:13] Kgneo opened #660 "affichage des bouton submenu sur le formulaires d'événement"
supprimer le submenu sur le formulaire d'ajout d'événement

[2016-02-15 04:44] #660 closed, assigned to Kgneo

[2016-02-15 04:44] #581 closed, assigned to Kgneo

[2016-02-15 04:45] Kgneo commented on #546
le process a été complètement revu.
Merci de ré-ouvrir une tache si vous trouvez des bug sur le nouveau process

[2016-02-15 04:45] #546 closed, assigned to Kgneo

[2016-02-15 04:45] #623 closed, assigned to Kgneo

[2016-02-15 04:46] #596 closed, assigned to Kgneo

[2016-02-15 05:49] RaphaelRIVIERE commented on #642
![capture du 2016-02-15 09 49 12](https://cloud.githubusercontent.com/assets/8775448/13040748/686b46f2-d3c9-11e5-91bc-b36661bcd667.png)

Le numéro de téléphone s'affiche alors qu'il ne devrait pas

[2016-02-15 05:51] RaphaelRIVIERE commented on #527
Man, ça na pas l'aire de bon fichier tout les modification ne sont pas pris en compte

[2016-02-15 06:35] Kgneo commented on #527
effectivement, c'est bien dans communecter/assets/js/sig/map_popupContent.js
fait une recherche du mot "telephone" dans tous les fichier, et remplace tout les data["telephone"] par ton format

[2016-02-15 07:16] oceatoon opened #661 "home (vitrine) : click mapEnd > montre les acteurs du projet sur la carte"
on pourrait voir
- developpeurs
- graphistes
- communecteurs
- communes
- contributeurs

[2016-02-15 16:56] Kgneo commented on #616
j'ai réintégré la barre de recherche global, dans le menuTop
![capture d ecran 2016-02-16 a 03 56 05](https://cloud.githubusercontent.com/assets/7578166/13055062/4d618df6-d461-11e5-8753-7017779e262d.png)

[2016-02-15 17:10] clement59 opened #662 "Bug add Attendee in Event with apostrophe and design"
![capture d ecran 2016-02-15 a 18 09 38](https://cloud.githubusercontent.com/assets/6576514/13055394/5b405378-d40f-11e5-860f-86b17573a406.png)

[2016-02-15 17:13] clement59 commented on #652
+1 !!
C'est pareil pour l'Agenda

[2016-02-15 17:30] oceatoon commented on #616
commité ?

[2016-02-15 17:50] oceatoon opened #663 "evennement type libre et event online"

[2016-02-15 17:51] clement59 commented on #662
Globalement le design des pod addAttendee, addMember, addProject sont à uniformiser....
D'ailleurs ça pourrait faire l'objet d'une généralisation des pods dans un fichier pod/addUsers ? 0.2?

[2016-02-15 18:20] oceatoon commented on #662
c pas con
mais oui on va le laisser pour la 0.2

[2016-02-16 05:18] oceatoon opened #664 "menu personnel"
à propos du menu personnel
 pourquoi pas faire tomber la barre du haut
 avec les éléments personel
plus grand que la dropdown
on gagnerait en place

[2016-02-16 05:27] oceatoon commented on #664
ca fonctionnerait aussi pour les sous menu orga, event, project

[2016-02-16 13:34] RaphaelRIVIERE opened #665 "Bug : Affichage : Personne invité non Communecté"
Les personnes que j'invite a rejoindre communecter , sont liée a moi , mais n'ont pas signe distinctif pour dire qu'ils n'ont pas encore rejoint "Communecter";
![capture du 2016-02-16 17 28 58](https://cloud.githubusercontent.com/assets/8775448/13077546/d75928cc-d4d2-11e5-9ffc-2276c2b0bacf.png)

Et lorsque je clique sur leurs fiches, il n'y a pas le nom, ni même une info pour dire qu'il n'a pas re

[2016-02-16 13:40] RaphaelRIVIERE opened #666 "Bug : Affichage Logo"
Le logo ne s'affiche pas dans différents endroits :
- Menu du haut
  ![capture du 2016-02-16 17 36 36](https://cloud.githubusercontent.com/assets/8775448/13077743/29456d3e-d4d4-11e5-9a88-10c7d96aa6ed.png)
- Fil d'actu

![capture du 2016-02-16 17 36 44](https://cloud.githubusercontent.com/assets/8775448/13077749/323d1018-d4d4-11e5-8e8c-cd0a988cf6a9.png)

Voici l'URL appelé pour les images :
/ph/com

[2016-02-16 13:45] clement59 commented on #666
Tu n'es plus connecté?? ...

[2016-02-16 16:22] clement59 commented on #659
Tu as le droit à un mars pour la question ^^

[2016-02-16 17:26] RaphaelRIVIERE commented on #666
Je l'ai déclarer pour sylvain, il m'a dit , sauf erreur de ma part, que l'url n'est pas le bon , on utilise plus "resized"

[2016-02-17 03:02] Kgneo commented on #581
j'ai essayé de tester la recherche global sur l'ancien design mais ça ne marchait plus. Donc je ne pouvais pas le réparer.
Et comme sur le nouveau design, la recherche global marche bien, il n'y a plus ce problème quand le nom est trop long, j'ai fermé la tache.
Je rajoute le label wontfix.

[2016-02-17 05:36] oceatoon opened #667 "pouvoir importer des source Umap"
qu'une personne puisse facilement avoir ces carte Umap dans communecter
ex : http://umap.openstreetmap.fr/en/user/RichardHitier/

[2016-02-17 06:40] RaphaelRIVIERE commented on #609
Changement d'interface , pour sélectionner les personnes a inviter
Récupérer tous les contacts Gmail et faire le trier en fonction de leur date de mise a jour

[2016-02-17 07:02] RaphaelRIVIERE opened #668 "Impossible de s'inscrire lorsqu'on est invité"
J'ai invité une personne("Didier") a rejoindre communecter

![capture du 2016-02-17 09 57 50](https://cloud.githubusercontent.com/assets/8775448/13101145/46cf8108-d55d-11e5-97a0-6e430f41731e.png)

Lorsque Didier essaye de rejoindre la plateforme, il a un erreur comme quoi sont compte est déjà utiliser.

![capture du 2016-02-17 09 59 21](https://cloud.githubusercontent.com/assets/8775448/13101160/6

[2016-02-17 07:05] RaphaelRIVIERE opened #669 "Bug : Home : FireFox"
A la page d'accueil j'ai ça sur firefox :
![capture du 2016-02-17 11 01 13](https://cloud.githubusercontent.com/assets/8775448/13102286/33a75066-d566-11e5-985c-5c6823191758.png)

Voici ce que j'ai dans firebug :

![capture du 2016-02-17 11 05 18](https://cloud.githubusercontent.com/assets/8775448/13102298/5960a47e-d566-11e5-8678-41501de7c9fc.png)

[2016-02-17 07:18] RaphaelRIVIERE opened #670 "Bug : Mot passe oublié"
J'ai un message d'erreur quand j'essaye de récupérer mon mot de passe

![capture du 2016-02-17 11 08 45](https://cloud.githubusercontent.com/assets/8775448/13102436/e0e0faf6-d567-11e5-9f6f-2e62671dd9be.png)

De plus le bouton reste bloquer , on ne peut plus l'utiliser , il faut recharger la page.

![capture du 2016-02-17 11 08 11](https://cloud.githubusercontent.com/assets/8775448/13102430/d777aa6

[2016-02-17 08:09] oceatoon opened #671 "carto : quantité de data chargées, optimisation et ergonomie"

[2016-02-17 09:33] RaphaelRIVIERE commented on #669
Problème réglé

[2016-02-17 09:33] #669 closed, assigned to nobody

[2016-02-17 20:16] MathieuCoste opened #672 "changer le message à l'ouverture d'un compte en avant beta"
voici le mail que je reçois:

Nb le site fonctionne t-il ?
J’essaie et voilà ce que j’ai comme si c’était en cours de devpt …
![2016-02-17_2114](https://cloud.githubusercontent.com/assets/10626066/13123249/a28757d8-d5bb-11e5-9b2e-5ffd9282d71d.png)

[2016-02-18 05:42] oceatoon opened #673 "recherche global > si en mapEnd > afficher directement l'element en mode carto"

[2016-02-18 07:09] Kgneo commented on #652
comment je fais pour savoir quel St-Paul tu veux ?
si tu veux une ville particulière => click sur le code postal qui t'intéresse dans la liste :
la recherche sera relancée automatiquement avec ce code postal.

Pour l'instant, je ne sais pas comment gérer le process de recherche par codeInsee.
Pour l'instant, on peut rechercher par code postal, nom de ville, ou numéro de département.

Pour simplifi

[2016-02-18 10:21] RaphaelRIVIERE opened #674 "Need Tester : Ajouter des membres"
J'ai besoins que vous testiez la partie import fichier dans ajouter un membre pour une orga

[2016-02-18 10:25] RaphaelRIVIERE commented on #621
Du coup je me lance la dedans ou pas ? @oceatoon @sylvainbarbot

[2016-02-18 10:53] RaphaelRIVIERE commented on #568
Problèmes réglés, si c'est bon chez vous je ferme

[2016-02-18 11:02] RaphaelRIVIERE opened #675 "Bug : Affichage Menu Répertoire"
Si je m'ajoute en tant que membre d'une organisation  et que je la quitte  et je redeviens membres , l'organisme s'accumules dans le menu du répertoire
![capture du 2016-02-18 14 58 54](https://cloud.githubusercontent.com/assets/8775448/13141369/698d2f4e-d650-11e5-9cc4-aeab575cb9b7.png)

Faudrait que lorsque l'on quitte l'orga , le menu s'actualise pour l'enlever

[2016-02-18 11:08] RaphaelRIVIERE commented on #564
Toujours le problème de redirection. Je crée une orga en tant que "Citoyens qui veut faire connaitre l'orga". J'arrive sur la fiche de l'orga est que je fais devenir membre

![capture du 2016-02-18 15 05 15](https://cloud.githubusercontent.com/assets/8775448/13141550/5e854108-d651-11e5-9a1e-4947cb7cfc2b.png)

Si je dit oui je suis redirection sur Ajouter une orga

[2016-02-18 11:28] RaphaelRIVIERE commented on #530
Problèmes réglé, si c'est bon chez vous je ferme

[2016-02-18 11:29] RaphaelRIVIERE commented on #527
Problème réglé je close

[2016-02-18 11:29] #527 closed, assigned to RaphaelRIVIERE

[2016-02-18 11:47] #645 closed, assigned to RaphaelRIVIERE

[2016-02-18 11:51] RaphaelRIVIERE opened #676 "Follow : Menu Mon Répertoire"
Lorsque je follow une personne celui si ne s'ajoute pas dans le "menu mon répertoire" , même si on actualise la page.

![capture du 2016-02-18 15 50 42](https://cloud.githubusercontent.com/assets/8775448/13142580/78a52ba6-d657-11e5-9fd4-4188cf613c99.png)

![capture du 2016-02-18 15 51 10](https://cloud.githubusercontent.com/assets/8775448/13142585/7d87c4b2-d657-11e5-8678-0a719d8b33bd.png)

[2016-02-18 11:52] #568 closed, assigned to sylvainbarbot

[2016-02-18 11:55] #530 closed, assigned to sylvainbarbot

[2016-02-18 12:04] RaphaelRIVIERE commented on #621
#454

[2016-02-18 12:06] RaphaelRIVIERE commented on #449
Le problème existe toujours ? Sinon on close

[2016-02-18 12:10] RaphaelRIVIERE commented on #442
Je pense qu'on peut close ici, non ? ça fonctionne bien.

[2016-02-18 12:12] RaphaelRIVIERE commented on #378
Le bouton est de nouveau la et fonctionne  , je close

[2016-02-18 12:20] RaphaelRIVIERE commented on #249
On peut close Non ?

[2016-02-18 13:26] Kgneo commented on #547
est-ce que ce bug se produit toujours ? @sylvainbarbot

[2016-02-18 13:32] #591 closed, assigned to Kgneo

[2016-02-18 13:36] clement59 commented on #594
Les modal de connexion et de register ne s'affiche plus lorsqu'on vient d'un email (type: invitation, confirmation de compte, etc)

[2016-02-18 13:37] oceatoon commented on #594
c'est pas le meme bug

[2016-02-18 13:37] #594 closed, assigned to Kgneo

[2016-02-18 13:37] oceatoon opened #677 "Les modal de connexion et de register ne s'affiche plus lorsqu'on vient d'un email (type: invitation, confirmation de compte, etc)"

[2016-02-18 13:39] clement59 commented on #677
Je viens de me casser les dents dessus !
Je n'ai pas une assez bonne vue d'ensemble sur les redirect... et comment ça marchait avant

[2016-02-18 13:42] Kgneo commented on #644
c'est bon

[2016-02-18 13:42] #644 closed, assigned to Kgneo

[2016-02-18 13:51] oceatoon commented on #652
ca marche comme ca
donc je decalle en 0.2
mais je penses que les villes ne devraient pas s'afficher dans le retours de recherches
seulement sur des resultats de recherche provenant de l'input ma ville

[2016-02-18 13:53] #442 closed, assigned to sylvainbarbot

[2016-02-18 15:16] clement59 commented on #641
Ok man, d'ou faisais tu l'action ? Du person.detail c'est ok !

[2016-02-18 17:12] clement59 opened #678 "bug titre long toujours présent"
![capture d ecran 2016-02-09 a 15 47 51](https://cloud.githubusercontent.com/assets/6576514/13151593/1ef91b12-d66b-11e5-9b1c-ffa8fdd2cb07.png)

[2016-02-18 19:40] oceatoon opened #679 "actu : je suis comunecté, mais on me propose toujours une liste de ville a lire ?"
![image](https://cloud.githubusercontent.com/assets/192076/13155784/ce6e5b16-d698-11e5-90f4-5a5fa0123c74.png)

[2016-02-19 06:00] RaphaelRIVIERE commented on #665
Vous avez commité ?

[2016-02-19 06:18] oceatoon commented on #527
ya plein d'endroit a cleaner les emails et les telephones avec ce feature
comme le directory par ex, d'ailleurs faut qu'on finisse le parametrage personnel avec l'interface

[2016-02-19 06:21] RaphaelRIVIERE commented on #668
J'ai regarder dans cron , il n'y pas de lien dans le mail d'invitation.
Pour le process moi je trouve ça bien

[2016-02-19 06:22] #616 closed, assigned to Kgneo

[2016-02-19 06:27] sylvainbarbot opened #680 "Résultat de recherche barre du haut - divers erreurs"
Pas de tri, à première vue, surtout pour les villes
![capture d ecran 2016-02-19 a 10 23 02](https://cloud.githubusercontent.com/assets/2662262/13168144/51203264-d6f3-11e5-9604-fad6961db2b4.png)

[2016-02-19 06:30] RaphaelRIVIERE commented on #249
Quelqu'un a modifier la manière de faire
![capture du 2016-02-19 10 29 28](https://cloud.githubusercontent.com/assets/8775448/13168203/c26faf12-d6f3-11e5-9575-ba9a11d9a939.png)

Du coup ça marche maintenant

[2016-02-19 06:31] RaphaelRIVIERE commented on #621
ça marche je commence a le faire

[2016-02-19 06:36] oceatoon commented on #449
je ne sais plus , j'ai meme un doute que c'est réglé
faudrait revoir avec Thomas
mais oui c'est l'histoire du Camel Case mal formé
pas unifrome

[2016-02-19 06:41] oceatoon commented on #652
+1

[2016-02-19 06:44] oceatoon commented on #449
les batch DB sont simple a ecrire (check devlog) , si on le fait pas
maintenant on va se le trainer a vie​

[2016-02-19 06:57] Kgneo commented on #647
je propose de paramétrer la pagination sur 100 éléments par page.
ça permettra dans les premier mois d'avoir quasiment toutes les données au premier chargement, dans la liste ET sur la carte. En attendant de prendre une décision

[2016-02-19 06:58] oceatoon commented on #249
nop les ecrans details n'ont pas été touché dans le fond

[2016-02-19 07:09] oceatoon commented on #647
+1

[2016-02-19 07:13] oceatoon commented on #449
ouaip
 il faut que ce soit category+ la clef
donc il vaut mieux changer le nom de la categorie
plutot que changer la clef partout

[2016-02-19 07:14] oceatoon commented on #642
tu viens de le tester ?
car j'avais pas commité hier , mais c'est fait
tu n'as plus le error in path @sylvainbarbot ?

[2016-02-19 07:23] oceatoon commented on #249
strange
un merge qui aurait chier ?

[2016-02-19 07:44] sylvainbarbot opened #681 "Chargement de la librairie facebook connect !"
En regardant les javascripts chargés sur la page d'accueil, il y en a un qui devrait être interdit : c'est le facebook connect !
Celui là envoie toute les données de navigation de l'utilisateur à facebook qui derrière va les revendre. Autant dire que quand on fait "un réseau social citoyen LIBRE", on veut pas de ça et qu'on va se faire allumer par n'importe quel dev qui va regarder les libs.
A sup

[2016-02-19 08:37] oceatoon commented on #681
je te laisse l'efface comme un grand :-)
fait toi plaisir mon ami

[2016-02-19 10:01] clement59 commented on #661
+1

[2016-02-19 11:53] sylvainbarbot opened #682 "Blocage de contenu non sécurisé"
En prod, il y a du contenu non sécurisé (sur http et pas https) qui est distribué.
Et du coup Firefox le bloque.
![capture d ecran 2016-02-19 a 15 51 01](https://cloud.githubusercontent.com/assets/2662262/13174996/d510fb08-d720-11e5-83fb-4437a5ce5a76.png)

[2016-02-19 13:00] Kgneo commented on #680
ok c'est corrigé
![capture d ecran 2016-02-19 a 23 59 45](https://cloud.githubusercontent.com/assets/7578166/13176266/e3d99174-d764-11e5-9051-140802857f54.png)

[2016-02-19 13:00] #680 closed, assigned to Kgneo

[2016-02-19 13:19] Kgneo commented on #679
ça c'est le comportement normal actuel.
Il n'y a pas de bug à proprement parler.

Le champs de texte "communexion" est rempli sur "la rivière", donc le système recherche d'abord toutes les villes qui correspondent à "la rivière". Ensuite il faut choisir la ville que l'on souhaite.
=> Pour l'instant, le fil d'actu fonctionne grâce à un code INSEE. Mais la communexion se fait par code postal ou nom

[2016-02-19 13:27] Kgneo commented on #678
j'ai modifié.
ça marche jusqu'à une certaine taille, quand l'écran devient trop petit ça pète, mais il faudra s'en occuper pendant une grosse passe responsive je pense (tout le site est cassé sur les petits écran)
![capture d ecran 2016-02-20 a 00 27 06](https://cloud.githubusercontent.com/assets/7578166/13176774/b3e56232-d768-11e5-8f67-124136601efc.png)

[2016-02-19 13:27] #678 closed, assigned to Kgneo

[2016-02-19 13:29] Kgneo commented on #678
![capture d ecran 2016-02-20 a 00 29 12](https://cloud.githubusercontent.com/assets/7578166/13176808/fdda50c8-d768-11e5-8eaa-2e19b41189b5.png)

[2016-02-19 13:30] clement59 commented on #679
Yes bonne idée Tristan !
Comme discuter hier je vais stocker les Cp l'Insee et la géo dans le scope de chaque news ... Ainsi ce sera déjà dispo

Envoyé de mon iPhone

Le 19 févr. 2016 à 14:19, Tristan Goguet notifications@github.com a écrit :

[2016-02-19 13:30] Kgneo commented on #661
si on a les tag sur les bonne personnes en bases de données, ya pas de soucis

[2016-02-19 13:35] oceatoon commented on #679
quand qlqun est communecter on a bien citoyen.address.codeInsee
je ne comprends pas pourquoi la carte changera qlq chose ?
à l'inscription on a direct son nom de ville et donc son insee
tu veux dire qu'on le recupere pas dans l'interface news ?

là on a l'impression de devoir se communecter a chaque lecture de news :(

[2016-02-19 13:38] oceatoon commented on #661
j'y suis presque mais j'arrive pas a faire marcher
Sig.showFilterOnMap

[2016-02-19 13:48] Kgneo commented on #584
bonne idée Sylvain, j'ai enlevé le bouton "deconnexion" en haut à gauche, il faisait doublon.
ça allège le menu principal, surtout quand on est pas encore communecté.
Le bouton +ajouter n'est plus affiché quand on n'est pas connecté, ça règle le problème des 3 boutons vers. On en a plus que 1 en haut à droite.
Perso, je mettrais de côté le formulaire de connexion dans le menuTop pour l'instant.
De

[2016-02-19 13:53] Kgneo commented on #547
je n'arrive pas à le reproduire, j'ai créé plusieurs nouveau événement et ça marche bien.
On a dû le corriger depuis.

[2016-02-19 13:53] #547 closed, assigned to Kgneo

[2016-02-19 13:55] Kgneo commented on #661
fait plutot Sig.showMapElements

[2016-02-19 14:31] clement59 commented on #564
C'est qu'il n'y a pas le loadByHash à la création et tjrs un ShowAjaxPanel !
C'est pas le meme problème...
Si tu crées l'orga et que tu recharge simplement ça aura le mm comportement

Le 18 février 2016 à 12:08, RaphaelRIVIERE notifications@github.com a
écrit :

##

Clément Damiens
Co-fondateur de l'association Livin'Coop
Diplomé de la formation ITEEM
Département de l'École Centrale de Lille codir

[2016-02-19 14:50] clement59 opened #683 "Probleme nom de projet avec " à l'affichage de detail"

[2016-02-19 14:56] clement59 commented on #679
A yeah man ! j'ai configuré les news scope comme on a dit !!
A toi de tester ;)

[2016-02-19 15:32] phildu commented on #672
j'ai eu les même remarque de la part des gens à qui j'ai proposé de s'inscrire , pour la beta ... voir la 0.1
il sont dèjà dérouté à ce niveau ... et t'il possible d’améliorer le message.afficher et/ou "mailer"...
"Nous avons bien pris en compte votre préi-inscription nous débloquons prochainement votre compte"

[2016-02-19 15:57] Kgneo commented on #679
je n'ai plus le champ de text pour publier une news !
pourtant je suis bien connecté.
De mon côté j'ai réparé le chargement du fil d'actu, avec le bon code insee (choisi au click)
mais là je ne peux plus publier ...

[2016-02-19 16:24] Kgneo commented on #679
ok j'ai rien dit !
le champ de texte est revenu, et la publication de news fonctionne :)
juste un détail : dans le coin droit d'une news, on a le codePostal + cityName de l'auteur qui s'affiche
=>
![capture d ecran 2016-02-20 a 03 19 23](https://cloud.githubusercontent.com/assets/7578166/13181396/1241941e-d781-11e5-9316-89b59a88cc20.png)

perso, je trouve que ça porte à confusion, rien n'indique q

[2016-02-19 16:25] Kgneo commented on #679
ou alors on rajoute juste un label "publié depuis" - juste avant le cp/name (98835 Dumbea)

[2016-02-19 18:59] clement59 commented on #679
Nop tu as raison ! Je voulais le cacher ... Je vais le faire car pour une ville, ça ser pas a grand chose! Il reste juste le Cp d'une ville a récupérer lors de l'enregistrement !

Envoyé de mon iPhone

Le 19 févr. 2016 à 17:25, Tristan Goguet notifications@github.com a écrit :

[2016-02-20 03:12] Kgneo commented on #679
le Cp d'une ville a récupérer lors de l'enregistrement  ?

[2016-02-22 04:46] #681 closed, assigned to sylvainbarbot

[2016-02-22 06:12] #642 closed, assigned to oceatoon

[2016-02-22 06:12] oceatoon commented on #642
bien vu , c'est réglé

[2016-02-22 07:02] Kgneo commented on #679
on est encore en V1...
Pour se baser sur le code insee, il faut encore améliorer le process.
Pour l'instant, j'ai surtout géré la partie "hors connexion", puisqu'on a dit qu'on ne pouvait pas encore se connecter au système (à part les beta testeur)
Quand on est pas connecté, c'est plus simple d'utiliser seulement les CP/nom de ville, parce qu'on peut les modifier facilement (pratique quand on veut

[2016-02-22 07:55] oceatoon commented on #679
ce que je comprends pas c'est que si tu as le CP + nom , alors tu as l'insee dans cities ?
ou 'ai je raté un truc ?
l'utilisateur ne manipule jamais son code Insee, c'est juste pour nous
on a utilisé le codeInsee depuis le debut comme clef unique  ("cityId" à terme)

yes pour le sprint là dessus

[2016-02-22 08:26] Kgneo commented on #679
oui ,mais on n'a jamais les 2 en même temps. On a cp OU nom. A moins de passer par une étape de plus pour sélectionner la ville précisément...

[2016-02-22 08:43] oceatoon commented on #679
tu veux ca c'est quand on est pas encore communecter ?
mais quand on est communecter , on a tout ,non ?

[2016-02-22 09:33] clement59 commented on #589
Je ferme cette issue avec la fonction follow

[2016-02-22 09:33] #589 closed, assigned to clement59

[2016-02-22 09:56] #653 closed, assigned to Kgneo

[2016-02-22 11:07] clement59 commented on #656
Bonne proportion rajoutée et bug d'url fixé

[2016-02-22 18:19] clement59 commented on #641
Yep c'était pas les bon boutons!
Pour l'annuaire, j'ajoute que la notion de follow car le reste me semble un peu précipité pour devenir membre etc ... wdyt? @Kgneo @sylvainbarbot @oceatoon @RaphaelRIVIERE

[2016-02-23 05:12] #378 closed, assigned to oceatoon

[2016-02-23 06:41] oceatoon commented on #620
bon je veux bien faire un tour aujourd'hui a 2
si t'es dispo ?

[2016-02-23 09:25] #656 closed, assigned to clement59

[2016-02-23 11:14] oceatoon opened #684 "hidden personnal information : add a request btn"

[2016-02-23 11:17] clement59 opened #685 "Notifications intelligentes"
Use case:
1. Si je follow et je unfollow, on remove la notification follow - si non vu // Sinon on met xx ne vous suit plus (dupliquable à membre contributor, attendee, etc)
2. Si X follow OrgaLiCOUCOU et Y follow après et Z follow encore après => rajouter à la première notification (3 personnes suivent OrgaLiCOUCOU) - (dupliquable à membre contributor, attendee, etc)
3. Ajouter les images du(es)

[2016-02-23 11:53] sylvainbarbot opened #686 "Code mort du répertoire views/search"
Si les views du répertoire communecter/views/search ne sont plus utiliser, il faut les supprimer.
![capture d ecran 2016-02-23 a 15 52 41](https://cloud.githubusercontent.com/assets/2662262/13250808/86057f02-da45-11e5-996a-96572a991d39.png)

[2016-02-23 12:47] #451 closed, assigned to clement59

[2016-02-23 12:47] clement59 commented on #451
Plus d'actualité

[2016-02-23 12:49] #65 closed, assigned to clement59

[2016-02-23 12:49] #66 closed, assigned to clement59

[2016-02-23 12:49] #217 closed, assigned to clement59

[2016-02-23 12:50] #235 closed, assigned to clement59

[2016-02-23 12:52] clement59 commented on #630
Je pense que c'est bon...

[2016-02-23 12:52] clement59 commented on #657
A tester ! pour moi c'est bon !

[2016-02-23 12:53] clement59 commented on #676
Je viens de le pusher à tester !

[2016-02-23 13:28] RaphaelRIVIERE commented on #676
ça fonctionne ;) je close

[2016-02-23 13:28] #676 closed, assigned to clement59

[2016-02-23 16:36] oceatoon commented on #553
j'ai testé ca m'a l'air bon dans les differentes input de recherche

[2016-02-23 16:36] #553 closed, assigned to oceatoon

[2016-02-23 19:06] oceatoon opened #687 "mapEnd : view city > on click categories > filter on map"
![image](https://cloud.githubusercontent.com/assets/192076/13263180/f43a090c-da81-11e5-8b80-a8d9171fefef.png)

[2016-02-23 19:11] #620 closed, assigned to oceatoon

[2016-02-24 09:07] #657 closed, assigned to clement59

[2016-02-24 09:12] clement59 commented on #641
ok à tester et à closer

[2016-02-24 10:10] clement59 opened #688 "Problème vidéo site vitrine en prod"
GDoukhan
Salut tout le monde, plein de courage pour la dernière ligne droite. Petit retour sur le site communecter.org/vitrine, la vidéo n'est toujours pas fonctionnelle.

[2016-02-24 10:11] clement59 opened #689 "Problème avec les fiches contacts (je pense que c'est réglé en local)"
Et depuis hier j'ai des bugs au chargement des fiches contacts et autres (carrément inaccessibles) avec le message loadByHashMap. Testé avec Chrome et Firefox.

[2016-02-24 10:12] clement59 opened #690 "Bouton facebook site vitrine renvoie sur l'ancienne page (groupe fermé)"

[2016-02-24 12:20] oceatoon commented on #690
il faudrait que tu te mette a jour , ca marche mieux , il a 3j celui ci ;)

[2016-02-24 12:20] #690 closed, assigned to RaphaelRIVIERE

[2016-02-24 12:35] oceatoon commented on #689
sur la PROD ?

[2016-02-24 19:01] #688 closed, assigned to sylvainbarbot

[2016-02-24 20:48] #686 closed, assigned to Kgneo

[2016-02-24 20:48] Kgneo commented on #686
répertoire search vidé

[2016-02-25 06:00] #682 closed, assigned to sylvainbarbot

[2016-02-25 08:17] Kgneo commented on #652
maintenant qu'on fait la communexion via le codeInsee, j'ai retiré les villes dans les résultats de l'annuaire, l'agenda, et le fil d'actu.

[2016-02-25 08:17] #652 closed, assigned to Kgneo

[2016-02-25 08:19] Kgneo commented on #649
ok pour la différence minuscule, majuscule, dans Mon répertoire, et dans les résultats de recherche

[2016-02-25 08:25] Kgneo commented on #648
Le process de ce bug a changé depuis son signalement.
Je pense qu'on peut le fermer.
J'ai rajouté les geoShapes sur la carto quand on affiche des communes (page commune, et process de communexion).

![capture d ecran 2016-02-25 a 19 20 53](https://cloud.githubusercontent.com/assets/7578166/13313821/e902f57a-dbf4-11e5-90e7-bd293423eaf1.png)
![capture d ecran 2016-02-25 a 19 23 12](https://cloud.git

[2016-02-25 08:25] #648 closed, assigned to Kgneo

[2016-02-25 08:27] Kgneo commented on #610
ok

[2016-02-25 08:27] #610 closed, assigned to Kgneo

[2016-02-25 08:28] Kgneo commented on #640
bug corrigé (pas par moi)
je ne peux plus m'ajouter à mes propres contact
![capture d ecran 2016-02-25 a 19 28 40](https://cloud.githubusercontent.com/assets/7578166/13313953/0aadcde8-dbf6-11e5-9582-49cbf79b329b.png)

[2016-02-25 08:28] #640 closed, assigned to Kgneo

[2016-02-25 08:34] Kgneo commented on #242
Si je clic sur afficher plus de détail dans la nouvelle pop-up => ça plante + affichage de Json
c'est good

[2016-02-25 08:34] #242 closed, assigned to Kgneo

[2016-02-25 08:34] #584 closed, assigned to Kgneo

[2016-02-25 08:35] #647 closed, assigned to Kgneo

[2016-02-25 08:36] Kgneo commented on #679
le fil d'actu est maintenant basé sur le codeInsee, donc le pb est réglé :)

[2016-02-25 08:36] #679 closed, assigned to Kgneo

[2016-02-25 13:14] Kgneo opened #691 "Rajouter un message d'information permanent, sur toutes les pages, pour annoncer le crowdfounding"
voici le premier jet :
![capture d ecran 2016-02-26 a 00 10 43](https://cloud.githubusercontent.com/assets/7578166/13320491/8afae3d8-dc1d-11e5-8ac9-84d9f74dbdac.png)

Je dirais que ce message ne doit pas rester visible en permanence (lisibilité des pages).
On pourrait l'afficher après chaque rechargement (loadByHash) et le masquer après 5/10/15 secondes.

Qu'en pensez-vous ?

[2016-02-25 15:51] clement59 commented on #691
+1 !! 5 secondes si c'est à chaque chargement

Le 25 février 2016 à 14:14, Tristan Goguet notifications@github.com a
écrit :

##

Clément Damiens
Co-fondateur de l'association Livin'Coop
Diplomé de la formation ITEEM
Département de l'École Centrale de Lille codirigée avec la SKEMA Business
School
_+33-6-98-27-67-24_

_http://youtu.be/dERtXwNjgic http://youtu.be/dERtXwNjgic_

[2016-02-25 17:13] clement59 commented on #677
ok super je viens de tester ! impeccable !

[2016-02-25 17:13] clement59 commented on #651
ok à tester !!

[2016-02-25 17:46] clement59 commented on #662
Ok j'ai fixé le bug sur les inviteAttendee avec la méthode connect

[2016-02-25 22:33] clement59 commented on #658
Oké pour les modifs ! A tester !

[2016-02-25 22:34] clement59 commented on #672
En local c'est bon pour moi !

[2016-02-25 22:56] clement59 commented on #641
ok good for me

[2016-02-25 22:58] clement59 commented on #630
En faite c'est dans la redirection quand il y une erreur ... mais cela ne devrait plus être d'actualité
Concernant  isSearchDesign on peut l'enlever partout!?

[2016-02-25 23:02] clement59 commented on #385
Pour moi ca persiste en Local:
Quand je suis sur une organization, je change l'adresse, puis je repositionne le marker sur la carte et au reload de la carte le marker revient au centre de Lille

[2016-02-25 23:04] clement59 commented on #63
Du coup, j'ai pas l'impression que la notif et réalisée?

[2016-02-25 23:09] clement59 opened #692 "au survole des boutons communectez-moi et le bouton city (rentrer un cp), pas de explanations"
Ce serait bien de mettre une explication pour ces boutons non?
Ou sinon caché la div d'explication. En effet si on vient de survoler le btn annuaire ou autre, l'explication reste alors qu'on survole "communectez-moi"
wdyt? @sylvainbarbot @oceatoon @Kgneo @RaphaelRIVIERE

[2016-02-25 23:11] clement59 opened #693 "En mode déconnecté, problème avec $me"
undefined variable: me

/Applications/MAMP/htdocs/modules/communecter/views/default/index.php(116)
 <?php $this->renderPartial("menuSmall", array("me"=>$me,"urlPhotoProfil"=>$urlPhotoProfil)); ?>

[2016-02-25 23:15] clement59 commented on #693
Ok je l'ai réglé.
Par contre en mode déconnecté, il n'y a plus les boutons ... dc plus possible de s'inscrire ni de se connecter

[2016-02-25 23:16] clement59 commented on #693
![capture d ecran 2016-02-26 a 00 15 23](https://cloud.githubusercontent.com/assets/6576514/13337867/3f36c524-dc1e-11e5-96fb-c57c63805cef.png)

[2016-02-26 04:34] oceatoon commented on #693
si tu as ces bugs c'est que tu n'es pas a jour

On Fri, Feb 26, 2016 at 3:16 AM, clement59 notifications@github.com wrote:

##

Tibor Katelbach – Senior Developer
http://oceatoon.org
..·><((((º>·´¯`·.¸¸..><((((º>.¸¸..·.¸¸..><((((º>.¸¸..
La Riviere, La Reunion
e-mail : oceatoon@gmail.com
skype : oceatoon
Fixe : +262+262343686
Mobile : +262-693918532

Save a tree...please don't print this e-mail unl

[2016-02-26 04:35] oceatoon commented on #692
+1 je m'en charge​

[2016-02-26 04:36] oceatoon commented on #63
ya rien dans Validation Action

[2016-02-26 06:44] RaphaelRIVIERE commented on #665
Ok nickel ça fonctionne

[2016-02-26 06:45] #665 closed, assigned to RaphaelRIVIERE

[2016-02-26 07:40] clement59 commented on #63
J'ai vu .... Par contre je viens de refaire le validateInvitation et le
modal de register s'est plus affiché ... snif snif

Le 26 février 2016 à 08:39, sylvainbarbot notifications@github.com a
écrit :

##

Clément Damiens
Co-fondateur de l'association Livin'Coop
Diplomé de la formation ITEEM
Département de l'École Centrale de Lille codirigée avec la SKEMA Business
School
_+33-6-98-27-67-24_

_http

[2016-02-26 07:53] oceatoon opened #694 "World Wide Web People and Territories"
![image](https://cloud.githubusercontent.com/assets/192076/13345995/bb6195ee-dc7c-11e5-9fe5-be61f0f16efb.png)

ca pourrait etre cool de faire
WORLD WIDE WEB PEOPLE & TERRITORY
donc l'image commence par le classique ecran responsive
on rajouterais un cerveau
un groupe de personne
et une notion de territoire
tu vois l'idée ?
de la personne > au mobile > au web > à la carto > au territoire > au group

[2016-02-26 08:21] clement59 commented on #662
a tester !

[2016-02-26 09:00] oceatoon commented on #662
<p>Undefined variable: typeOfConnect (/home/oceatoon/dev/modules/citizenToolKit/models/Notification.php
:190)</p>

il ne devrait pas y avoir de type sur event ?
Name : matte l'eau
email: matte@eau.test

[2016-02-26 10:27] clement59 opened #695 "Problème internet explorer - pas de ville lors de l'inscription"

[2016-02-26 11:17] oceatoon commented on #506
je ferme ce point , il est trop global
si jamais vous trouvez des bug de chargement je prendrais au cas par cas

[2016-02-26 11:17] #506 closed, assigned to oceatoon

[2016-02-26 11:33] #677 closed, assigned to sylvainbarbot

[2016-02-26 11:40] RaphaelRIVIERE opened #696 "Bug Affichage Mon Répertoire"
![capture du 2016-02-26 15 39 53](https://cloud.githubusercontent.com/assets/8775448/13351315/429adc10-dc9f-11e5-8f2a-79af81028475.png)

[2016-02-26 13:02] #692 closed, assigned to oceatoon

[2016-02-26 13:15] clement59 commented on #696
C'est du au fiche évènements qui sont plus grande que le reste

[2016-02-26 13:22] clement59 commented on #662
type n'est que citoyen !! on avait les organizations pour le remettre en 0.2

[2016-02-26 13:37] #662 closed, assigned to clement59

[2016-02-26 13:38] #693 closed, assigned to oceatoon

[2016-02-26 13:44] oceatoon commented on #651
le message s'affiche pas mais ya tjrs la check box dedans

[2016-02-26 14:18] clement59 commented on #651
Ok à retester !
Pour réactiver le process de panel d'info chez les users, nh'ésitez pas à balancer cette url:
communecter/test/addexplain

[2016-02-26 14:20] clement59 commented on #689
c'est guillaume Doukhan qui l'avait relevé mais je pense qu'on peut le close

[2016-02-26 14:20] #689 closed, assigned to clement59

[2016-02-26 14:39] #650 closed, assigned to oceatoon

[2016-02-26 14:39] oceatoon commented on #650
j'ai intégré ton image sylvain

[2016-02-26 15:02] clement59 commented on #683
bug fixé !

[2016-02-26 15:27] #683 closed, assigned to clement59

[2016-02-26 15:27] clement59 commented on #658
Reste plus que l'admin .. hummmm délicat

[2016-02-26 16:47] clement59 commented on #619
Ok pour moi ... pour les tirets c'est pour les villes (plus présent dans l'annuaire donc peut close)

[2016-02-26 16:48] clement59 commented on #120
plus d'actualités

[2016-02-26 16:49] clement59 commented on #120
Plus d'actu ! ça fait bizarre de voir l'ancien design

[2016-02-26 16:49] #120 closed, assigned to oceatoon

[2016-02-26 16:50] clement59 commented on #135
Ok c'est good ! Global a voir dans le détail

[2016-02-26 16:50] #135 closed, assigned to oceatoon

[2016-02-26 16:53] clement59 commented on #551
Je close

[2016-02-26 16:53] #551 closed, assigned to oceatoon

[2016-02-26 16:53] clement59 commented on #534
Ce thème est plutot en bonne voie

[2016-02-26 16:54] clement59 commented on #478
Trop global maintenant ! On a fait une bonne passe dessus !
A remettre mais dans le détail

[2016-02-26 16:54] #478 closed, assigned to oceatoon

[2016-02-26 16:55] clement59 commented on #466
Lé bon maintenant ! je close

[2016-02-26 16:57] clement59 commented on #439
je close ca avance et à relever de façon ciblée

[2016-02-26 16:57] #439 closed, assigned to oceatoon

[2016-02-26 16:58] clement59 commented on #457
impeccable ! je close

[2016-02-26 16:58] #457 closed, assigned to oceatoon

[2016-02-26 17:00] clement59 commented on #569
Je suis passé dessus ! je close

[2016-02-26 17:00] #569 closed, assigned to oceatoon

[2016-02-26 17:00] clement59 commented on #559
On a tjrs rien sur ce point à voir rapidement

[2016-02-26 17:01] clement59 commented on #64
Ok pour ces notifications je close

[2016-02-26 17:01] #64 closed, assigned to oceatoon

[2016-02-26 17:01] clement59 commented on #36
Ya un bon debut ! on close ?

[2016-02-26 17:02] clement59 commented on #102
Qu'est-ce qu'on fait de celle-ci?

[2016-02-26 17:16] clement59 commented on #675
Ca devrait être bon ce bug ! A vérifier chez vous !

[2016-02-26 17:18] clement59 opened #697 "Roles["superAdmin] add in Authorization.php create a bug for menu Btn"
Si je suis super admin, je ne plus suivre une organization ou devenir membre !
Méthode isOrganizationAdmin utilisée aussi dans le Menu...

[2016-02-26 17:21] clement59 commented on #668
Ok pour moi !!! A tester quand même chez d'autres

[2016-02-26 17:22] clement59 commented on #508
je close ! c'est vieux

[2016-02-26 17:22] #508 closed, assigned to sylvainbarbot

[2016-02-26 17:23] clement59 commented on #404
Ok je close

[2016-02-26 17:24] clement59 commented on #384
Alors ca en est ou ce bug?

[2016-02-26 17:25] clement59 commented on #271
Avec le new design lé bon

[2016-02-26 17:25] #271 closed, assigned to sylvainbarbot

[2016-02-26 17:27] clement59 commented on #165
Pour moi c'est bon! et vous?

[2016-02-26 17:29] clement59 commented on #170
Ok lé bon je close

[2016-02-26 17:29] #170 closed, assigned to sylvainbarbot

[2016-02-26 17:30] clement59 commented on #291
Je pense que ça se ferme cette issue!!

[2016-02-26 17:30] #291 closed, assigned to sylvainbarbot

[2016-02-26 17:44] clement59 opened #698 "Bug persistant au click d'un bouton"
Quand on clique le double load est toujours présent !! (Il faut changer de vue pour avoir cet évènement)

Fais péter les news, et effectue une reload peu visible mais tout de même

[2016-02-26 17:46] #573 closed, assigned to nobody

[2016-02-26 17:46] #373 closed, assigned to nobody

[2016-02-26 21:20] Kgneo commented on #696
![capture d ecran 2016-02-27 a 08 20 12](https://cloud.githubusercontent.com/assets/7578166/13365742/f585ef8c-dd2a-11e5-854a-c7ea30bb9010.png)
c'est corrigé : les événements font la même taille que les autres

[2016-02-26 21:20] #696 closed, assigned to Kgneo

[2016-02-26 21:21] Kgneo commented on #695
je ne peux rien faire pour IE : je suis sur mac

[2016-02-26 21:23] Kgneo commented on #691
![capture d ecran 2016-02-27 a 08 22 31](https://cloud.githubusercontent.com/assets/7578166/13365796/45b4b560-dd2b-11e5-82b6-e538a08fb405.png)
![capture d ecran 2016-02-27 a 08 22 24](https://cloud.githubusercontent.com/assets/7578166/13365797/45bac0a4-dd2b-11e5-95a0-ce0d6bc54c83.png)

réduction auto après 15 sec (parfois le chargement complet de la page prend plus de 15 sec)

[2016-02-26 21:30] Kgneo commented on #649
bah si si
![capture d ecran 2016-02-27 a 08 30 24](https://cloud.githubusercontent.com/assets/7578166/13365976/60b40bbc-dd2c-11e5-93a0-ba8bae542cbc.png)
![capture d ecran 2016-02-27 a 08 30 18](https://cloud.githubusercontent.com/assets/7578166/13365978/648f2582-dd2c-11e5-872e-b1115a398077.png)

[2016-02-26 21:48] Kgneo commented on #385
je viens de tester, ça a marché.
Mais parfois, j'ai remarqué que le marker ne peut pas être déplacé sur la carte...

[2016-02-27 01:31] clement59 commented on #695
Ok me too ! @RaphaelRIVIERE @oceatoon
Ca fait mal à dire mais mac sur ce coup a perdu !
Avec internet explorer, sur le formulaire d'enregistrement lorsqu'on saisit le code postal, la ville ne s'affiche pas donc inscription impossible

[2016-02-27 05:16] oceatoon commented on #36
on passe en 0.2 , il est pas terminer ce feature

[2016-02-27 05:17] oceatoon commented on #102
je pense qu'il a raison
mettre un message plus explicite

[2016-02-27 05:18] oceatoon commented on #559
si si j'ai recup les CGU de Cedric Herbin
je dois les convertir en PDF et les intégrer

[2016-02-27 05:59] oceatoon commented on #667
du github geojson https://idoco.github.io/GitMap/
ca pourrait se faire en interoperabilité
avec un lecture distante plutot qu'importer on perd en reactivité mais on gagne en distribué

[2016-02-27 08:39] Kgneo opened #699 "impossible de se logguer depuis une fiche organisation"
il doit y avoir un champ dans la fiche qui a le même nom que le champ de connexion.
vérifier si c'est pareil sur les autres fiche info

[2016-02-27 08:39] oceatoon opened #700 "detail page , add a new section"
en version wisiwig pouvoir ajouter des sections librement sur une page detail
il s'ajouter en dessous de description ou en mode onglet avec une page autonome
a définir précisement

[2016-02-27 08:45] #436 closed, assigned to oceatoon

[2016-02-27 08:46] oceatoon commented on #493
a revoir avec les scopes

[2016-02-27 08:49] oceatoon commented on #518
can't repoduce

[2016-02-27 08:49] #518 closed, assigned to oceatoon

[2016-02-27 08:50] oceatoon commented on #534
le chantier est globale est entre les mains des redacteurs

[2016-02-27 08:50] #534 closed, assigned to oceatoon

[2016-02-27 08:51] #186 closed, assigned to oceatoon

[2016-02-27 08:54] oceatoon commented on #492
il faut y ajouter
mon repertoire est public ou privé

[2016-02-27 09:02] Kgneo commented on #557
ça à l'air réglé depuis le nouveau process de communexion

[2016-02-27 09:21] Kgneo commented on #619
quand on recherchait une ville avec un tiret, on n'avait aucun résultat.
J'ai modifié pour garder les tiret, et ça marche impec.

[2016-02-27 09:21] #619 closed, assigned to Kgneo

[2016-02-27 09:24] Kgneo commented on #468
donc on enlève le user connecté ?
si je fais ça, ça va disparaitre partout, sauf quand l'user connecté se trouve effectivement dans la liste des membres à afficher.

[2016-02-27 09:26] Kgneo commented on #493
je suis pour enlever le bouton "où" des communes, et garder uniquement les filtres "locality" (en enlevant le mot "locality")
est-ce qu'on est d'accord ?

[2016-02-27 09:37] Kgneo commented on #375
avec Tib on avait parlé de passer à seulement 4 boutons :
- citoyens, projet, orga, event
  ça permettrait de ne pas créer de confusion entre les différents types d'orga

wdyt ?

[2016-02-27 11:30] oceatoon commented on #375
une autre idée serait d'ajouter une petite drop down dans le cadre orga
avec les 4 types ?

[2016-02-28 00:28] Kgneo commented on #699
j'ai renommé les input du form-login : #email-login, #password-login

[2016-02-28 02:00] Kgneo commented on #675
j'ai encore corrigé quelques petits truc.
ça marche assez bien maintenant

[2016-02-28 07:46] jeremyloreau commented on #694
Très bien. Dites-moi ce que vous en pensez ?
<img width="562" alt="capture d ecran 2016-02-28 a 11 44 25" src="https://cloud.githubusercontent.com/assets/8044105/13378073/ced4912c-de10-11e5-8559-00905479b6b9.png">

[2016-02-28 07:54] Kgneo commented on #694
j'aime beaucoup :)

[2016-02-28 07:59] RaphaelRIVIERE commented on #694
+1 :)

[2016-02-28 08:05] RaphaelRIVIERE commented on #375
Oui c'est plus cohérent  de mettre seulement ces 4 boutons

[2016-02-28 09:17] oceatoon commented on #694
j'aime bcp :-)
si on peut juste ne pas centrer sur le continent Americain,
mais plutot Africain
et peut etre mettr eune petite touche de reseau/maillage tout fin  ? wgyt ?
​

[2016-02-28 10:34] oceatoon opened #701 "exportMyDataBtn repair"

[2016-02-28 13:15] oceatoon opened #702 "when mouse out of browser viewport , desactivate focus Menu Panel ?"
je me demandais si ca serait pas moins imposant
que quand on quitte , l'appli se concentre sur le contenu meme si le menu est ouvert
et du coup fermerait le focus panel  du menu
wdyt ?

[2016-02-28 13:27] oceatoon commented on #698
ca yé je crois que je lui ai fait sa peau , dites moi ??

[2016-02-28 13:35] oceatoon opened #703 "how page, idem home page expliquer "comment" et donc les feature ?"
au meme format que la home page, on décrirait les diférents features du projet en 0.1?
- visualisation carto
- ajouter orga
- inviter des gens
- creer projet
- creer event
  ....
  cette section pourra alors evoluer avec nos milestone , avec des feature en mode "new"

le point de départ serait a la fin de pour quoi pourquoi
découvrir "comment" ? click loadByHash(#default.how)

wdyt ?

[2016-02-28 13:41] oceatoon opened #704 "passer par loadByHash pour faire showMap , comme ca ca marchera avec le back button"

[2016-02-28 13:49] oceatoon commented on #597
la meilleur façon de procédé , c'est qu'il n'est même pas à nous contact
c'est pour ça que je propose de faire la page comment
il pourra y avoir les liens vers les ressources et tout ce qu'il faut pour être référant

[2016-02-28 14:20] oceatoon commented on #704
on peut faire
http://127.0.0.1/ph/communecter#showTagOnMap.tag.developpeur
ou loadByHash("#showTagOnMap.tag.developpeur")
communecter.js  l.288

[code]

ca permet , de naviguer vers la carte avec le bouton pour la section construction collaborative

on pourra faire
#organization.map.id.xxx (idem pour tous les elements)
@Kgneo :) a toi de chargé les datas , je crois que tu les as deja
en tout cas p

[2016-02-28 14:32] oceatoon opened #705 "kit communecteur"

[2016-02-28 14:50] oceatoon commented on #559
a tester après la maj prod j'ai mis le lien sur
https://www.communecter.org/doc/Conditions Générales d'Utilisation.pdf

[2016-02-28 14:54] oceatoon commented on #503
importData n'est pas sécuriser à l'accés avec un check superAdmin @RaphaelRIVIERE

[2016-02-28 15:14] oceatoon commented on #705
added http://127.0.0.1/ph/communecter#define.ActiveCrowdfunder
loadByHash("#define.ActiveCrowdfunder")

[2016-02-28 15:18] oceatoon commented on #705
could be used anywhere to connect with the back button navigation

[2016-02-28 15:21] oceatoon commented on #200
je ne sais plus ce que j'ai voulu dire par ca ?
tu as comprit Sylvain ? héhéhéh
ca semble super interressant mais j'ai beau chercher je trouve pas

[2016-02-28 18:17] jeremyloreau commented on #694
Bien vu,
C'est modifié.
Vous en pensez quoi du maillage ? J'ai peur que ça surcharge un peu trop, nan
<img width="565" alt="capture d ecran 2016-02-28 a 22 15 00" src="https://cloud.githubusercontent.com/assets/8044105/13380974/f11100ce-de68-11e5-857d-724a338b090d.png">
?

[2016-02-28 20:25] Kgneo commented on #704
hmm oué, mais il faut utiliser loadByHash seulement quand on a pas déjà les données chargées dans la page courante, sinon on va les charger 2 fois à chaque fois...

[2016-02-28 20:29] Kgneo commented on #703
bonne idée

[2016-02-28 23:08] clement59 commented on #698
Ok min fieu tu lui as mis le dernier coup de grâce ! Je close !!

[2016-02-28 23:08] #698 closed, assigned to clement59

[2016-02-29 04:49] oceatoon commented on #704
bien sur , il faut faire les meme tests que si tu click direct

[2016-02-29 05:12] #476 closed, assigned to RaphaelRIVIERE

[2016-02-29 06:02] Kgneo commented on #375
![capture d ecran 2016-02-29 a 17 02 10](https://cloud.githubusercontent.com/assets/7578166/13386963/34c7159a-df06-11e5-9bdf-11f7b2b37076.png)

[2016-02-29 08:08] oceatoon opened #706 "news : raccourci : Ctrl+Enter pour envoyé un post"
c'est devenu un standard pour envoyé des post (gmail, github...)

[2016-02-29 08:12] RaphaelRIVIERE commented on #265
Nickel ça marche, je close

[2016-02-29 08:12] #265 closed, assigned to RaphaelRIVIERE

[2016-02-29 08:12] MathieuCoste commented on #265
je viens de tester mais rien ne se passe quand je clique sur "changer de mot de passe" ... mais je ne suis peut être pas sur le bon serveur ...

[2016-02-29 08:16] oceatoon opened #707 "clean params ?... dans loadByHash"

[2016-02-29 08:22] RaphaelRIVIERE commented on #697
C'est bon j'ai corrigée, a testé

[2016-02-29 08:34] sylvainbarbot opened #708 "Tag avec une "," dans le nom : duplication de tag"
A la création d'une news, si je mets une virgule dans le nom du tag, il est scindé en 2.
![capture d ecran 2016-02-29 a 12 33 07](https://cloud.githubusercontent.com/assets/2662262/13389356/aad6f7b2-dee0-11e5-9f90-cbab2e8242fe.png)
![capture d ecran 2016-02-29 a 12 33 16](https://cloud.githubusercontent.com/assets/2662262/13389357/aad9fe12-dee0-11e5-8373-c2154738649f.png)

[2016-02-29 08:44] jeremyloreau opened #709 "Homepage — Section valeur communecter"
Ajouter les valeurs en html sur la home page
div(valueSection)

[2016-02-29 08:45] sylvainbarbot opened #710 "Création d'une news - divers remarques sur carto"
- A la création d'une news, la liste des news n'est pas mis à jour dans la carto
  ![capture d ecran 2016-02-29 a 12 36 25](https://cloud.githubusercontent.com/assets/2662262/13389421/4178d294-dee1-11e5-8a47-1b69495916d6.png)
  ![capture d ecran 2016-02-29 a 12 37 59](https://cloud.githubusercontent.com/assets/2662262/13389423/48a5581c-dee1-11e5-90f4-11fffe478f62.png)
- Les résultats + le panel da

[2016-02-29 09:11] clement59 commented on #492
Ok pour les preferences stockée en DB ! à vous de jouer pour le front ;)

[2016-02-29 09:31] clement59 commented on #708
En même temps un tag, c'est UN mot donc sans virgule ;-)

[2016-02-29 09:48] clement59 commented on #697
ok

[2016-02-29 09:48] #697 closed, assigned to clement59

[2016-02-29 09:52] clement59 commented on #706
a yep je n'utilisais pas ! interesting

[2016-02-29 09:59] #668 closed, assigned to sylvainbarbot

[2016-02-29 10:05] #384 closed, assigned to sylvainbarbot

[2016-02-29 10:14] sylvainbarbot opened #711 "Bouton Supprimer sur orga"
Le process de suppression d'une orga n'est pas encore code.
Le bouton "supprimer" ne doit donc pas être présent sur l'interface.
![capture d ecran 2016-02-29 a 14 10 19](https://cloud.githubusercontent.com/assets/2662262/13391529/6363dfd6-deee-11e5-8838-c4051ba6bbe9.png)

[2016-02-29 10:14] #165 closed, assigned to sylvainbarbot

[2016-02-29 10:43] oceatoon commented on #602
ce point a bien été traité et sera bientot finalisé
pour le suivre c'est ici
https://github.com/pixelhumain/communecter/issues/492

[2016-02-29 10:43] #602 closed, assigned to clement59

[2016-02-29 11:12] sylvainbarbot opened #712 "Suivre une orga - ajout de l'orga dans mes contacts"
Lorsque je follow une organisation, l'organisation est ajouté en tant que contact dans le répertoire "Mes contact" du flipDrawer.
Un reload de la page corrige le problème.

[2016-02-29 11:43] sylvainbarbot opened #713 "Label Person Directory"
![capture d ecran 2016-02-29 a 15 38 29](https://cloud.githubusercontent.com/assets/2662262/13393379/8eda312c-defa-11e5-87d8-2b06f30506d1.png)

Proposition d'affichage / Labels pour la fiche "Personne"
![capture d ecran 2016-02-29 a 15 38 29](https://cloud.githubusercontent.com/assets/2662262/13393404/c8bdc46c-defa-11e5-883e-bf7d092e0d93.png)
- Lorsque c'est moi qui est connecté : "Mon répertoire"

[2016-02-29 11:47] #694 closed, assigned to jeremyloreau

[2016-02-29 11:51] jeremyloreau opened #714 "Décallage Flêches "friendsSection""
Recaller les flèches de la "friendsSection" En responsive.

[2016-02-29 12:17] RaphaelRIVIERE commented on #674
Je cache la partie pour ajouter des membres via un csv et on la teste pour la V0.2?

[2016-02-29 12:19] #705 closed, assigned to oceatoon

[2016-02-29 12:38] oceatoon opened #715 "api open data project"
recup un projet unique
127.0.0.1/ph/communecter/data/get/type/projects/id/54f5897ef6b95c8c74005c04

recup tous les projets
127.0.0.1/ph/communecter/data/get/type/projects

recup tous les projets avec un tag
127.0.0.1/ph/communecter/data/get/type/projects/tags/xxxx,yyy,zzzzz

recup tous les projets avec un sourceKey
127.0.0.1/ph/communecter/data/get/type/projects/sourceKey/xxxx

recup le projet ave

[2016-02-29 13:33] oceatoon commented on #704
tu crois qu'on te vois pas Sylvain , essayer de rentrer par la petit lucarne
revenir à la charge avec ton optimisation de process :-)
je suis pour mais c'est pas tout a fait le meme point de discussion
on ne tue pas un moustique avec une machette , dicton du jour ;-)

[2016-02-29 13:39] oceatoon opened #716 "aprés communection zoomer sur ma commune , avec le geoshape"

[2016-02-29 16:48] clement59 commented on #695
Je sais pas ! C'était sur un ordi le temps d'une demo ! J'ai pas eu le temps de vérifier quelle version

Envoyé de mon iPhone

Le 29 févr. 2016 à 12:55, sylvainbarbot notifications@github.com a écrit :

[2016-02-29 16:50] clement59 commented on #713
+1

Envoyé de mon iPhone

Le 29 févr. 2016 à 12:43, sylvainbarbot notifications@github.com a écrit :

[2016-02-29 22:01] Kgneo commented on #557
![capture d ecran 2016-03-01 a 08 56 27](https://cloud.githubusercontent.com/assets/7578166/13410483/22c10dd4-df8c-11e5-8bf1-940d3fc8ac0d.png)
ok c'est réparé dans la recherche globale.

[2016-03-01 05:30] #557 closed, assigned to sylvainbarbot

[2016-03-01 06:27] RaphaelRIVIERE opened #717 "Ajout de mapping dans l'import data"
Possibilité d'ajouter un mapping , afin que l'assignation des valeurs entre le fichier source et la communecter sois automatique.

Proccess :
- un select qui donne le choix de "ne pas avoir de mapping", "d'ajouter un mapping via un fichier json", "sois d'utiliser un mapping de la bd"
- Si "ne pas choisir de mapping" : au moment de l'import , demander si on ajoute le mapping dans la bd
- Si "ajoute

[2016-03-01 08:26] oceatoon commented on #707
to test, a priori c'est bon mais si vous avez des comportements bizare sur cette urls que j'aurais raté
faite moi signe

[2016-03-01 08:43] oceatoon opened #718 "mutualiser : function callbackFindByInseeSuccessAdd(obj){"
j'ai remarqué cette fonction dupliquer  dans les 4 formulaires
a refactorer pour mutualiser, non ?

[2016-03-01 18:04] oceatoon opened #719 "rendre l'addres optionel pour les projet en 0.1 ??"
on nous reproche souvent qu'un projet n'a pas forcement d'address

[2016-03-01 18:28] oceatoon opened #720 "on middle click : loadByHash open in new tab, broken"

[2016-03-02 10:25] oceatoon opened #721 "accepté les posts anonymous, mias on les garde que 10 ou 15min"
pour motivé les inscription
sur un event tu pourrais poster en anonymous sans compte , mais ca dure que 30min
inscrit toi pour que ca reste

[2016-03-02 13:30] RaphaelRIVIERE opened #722 "New proccess pour l'import"
EN raison d'un bug apparue récemment : la fonction ajax  ne permet que d'envoie une partie d'un array (998 élément).

Récupérer les éléments par groupe de 900 :
- pour récupérer les pathMapping.

Partie VIsualisation :
- ajouter une checkbox , pour dire si on est en test de visualisation ou pas
- Si test de visualisation : sélectionne un certain nombre d'entité pour voir si les données sont bien a

[2016-03-03 02:34] Kgneo commented on #712
je viens de tester chez moi, mais ça s'ajoute au bon endroit, dans mes orga.
on en parle ?

[2016-03-03 02:39] Kgneo commented on #702
j'ai rajouté ça :
$(document).mouseleave(function(){});
apparement ça marche :)

[2016-03-03 02:51] Kgneo commented on #691
oui pour l'instant il faut mettre à jour à la main.
pour info si besoin : dans default/menu.php l.470 :
![capture d ecran 2016-03-03 a 13 50 06](https://cloud.githubusercontent.com/assets/7578166/13483256/fb37c6ec-e146-11e5-8244-75d44b793b6e.png)

[2016-03-03 02:52] Kgneo commented on #691
question : est-ce que vous voulez que j'essaie de "bidouiller" pour récupérer ces valeurs à partir du widget kkbb ?

[2016-03-03 03:10] Kgneo commented on #661
- le bouton "asso open atlas" renvoi sur un 404 (en prod)

![capture d ecran 2016-03-03 a 14 07 58](https://cloud.githubusercontent.com/assets/7578166/13483561/804b56ee-e149-11e5-9e5e-ab254fb0a555.png)
- les autres boutons montrent une carte vide : il faudrait mettre les tags sur toutes les personnes du projet !
  @sylvainbarbot :
  "Le citoyen connecté se retrouve dans toutes les catégories."
  J

[2016-03-03 06:07] sylvainbarbot opened #723 "Box événement sur détail organisation"
Dans le pod listant les événements d'une organisation, le type affiché est le code et non pas le libellé.
En amélioration, j'ajouterais les dates de l'événement et je trierai les événements par date.

![capture d ecran 2016-03-03 a 09 58 20](https://cloud.githubusercontent.com/assets/2662262/13486005/b4584ef6-e126-11e5-8b48-c56c16eb75a8.png)

[2016-03-03 07:31] oceatoon commented on #691
si ca peut nous faire gagner du temps
et surtout ne pas avoir a maj la PROD a chaque contribution

[2016-03-03 07:48] oceatoon opened #724 "nouvlle info sur les data réunion, a voir comment les intégrer"
https://gist.github.com/michelt/7f47acbd3ee5da7b6818

[2016-03-03 09:20] RaphaelRIVIERE commented on #724
Je peux facilement faire une comparaison avec se qu'on a déjà

[2016-03-03 11:30] Kgneo commented on #691
ok

[2016-03-03 12:20] Kgneo commented on #495
j'ai réussi à passer le script pour les zéro dans la bd,
du coup la communexion fonctionne bien avec des CP à 5 chiffres, et pas pour 4.
Pareil pour le formulaire d'inscription.
Et j'ai corrigé les formulaires event, project, orga, pour qu'ils ne prennent que les CP 5 chiffres.
Je pense que c'est bon.
A tester

[2016-03-03 13:26] RaphaelRIVIERE opened #725 "Création d'un compte pour sécurisé les données des services publiques"
Le but est de liée les services publiques a un compte qui serait admin des services publiques afin d'éviter que les autres utilisateurs se les appropries.

Si une personne compétente se présente est souhaite devenir admin d'un service publique , on n'aura plus qu'a faire la passe.

wdyt?

[2016-03-03 13:48] #138 closed, assigned to oceatoon

[2016-03-03 13:48] #109 closed, assigned to oceatoon

[2016-03-03 13:49] oceatoon commented on #699
a priori c bon
a tester

[2016-03-03 13:59] FlorentLivin opened #726 "Ajout un événement impossible"
A partir de ma page orga, j'appuie sur "Créer un événement" et le temps de chargement est infini

[2016-03-03 14:01] FlorentLivin opened #727 "Ajout besoin impossible"
Le bouton "Ajouter un besoin" est inactif sur la page orga

[2016-03-03 14:12] #716 closed, assigned to oceatoon

[2016-03-03 14:15] FlorentLivin opened #728 "Fautes d'orthographes nombreuses"
Dans l'explication de la "gamification citoyenne", il y a de nombreuses fautes. J'ai corrigé par le texte suivant :

Gamification (ou ludification) Citoyenne
Dans Communecter on comptabilise la valeur par l'usage. Celle-ci est calculée par rapport à chaque lien de chaque individu fait avec des personnes, organisations, événements, projets. Pour résumé, la valeur calculée par les liens que vous ave

[2016-03-04 03:04] Kgneo commented on #691
les valeur % et Collectés sont maintenant récupérées depuis le widget kkbb à chaque reload.
Donc plus besoin de mettre à jour à la main.
![capture d ecran 2016-03-04 a 14 02 46](https://cloud.githubusercontent.com/assets/7578166/13516839/ffcd14ac-e211-11e5-9de1-f50d74a6891e.png)

[2016-03-04 04:18] Kgneo commented on #468
le user connecté n'est plus affiché en permanance.
Il est bien présent sur la carte quand on affiche son Répertoire

[2016-03-04 07:25] oceatoon opened #729 "carto : images par defaut manquante user , 1ere connection"
![image](https://cloud.githubusercontent.com/assets/192076/13520645/9299c616-e1fb-11e5-987f-8a33d80a874c.png)

[2016-03-04 07:28] oceatoon opened #730 "longueur du username minimum 8 caracter, trop contraignant ?"
je trouve ca trop contraignant
c'est une remarque de qlqun dont le pseudo est spidou , il peut pas l'utiliser
wdyt ?

[2016-03-04 07:33] oceatoon opened #731 "create account : pas de drop down ville, cause latence"
un user a eut un pb pour creer son compte
car il avait le bouton submit sans que la ville ne soit affiché aprés avoir entré son CP
à cause d'un pb de latence
- soit on cache le btn submit tant qu'une ville n'est pas rempli ?
- on ne fait qu'un input de selection de la ville en mode auto complete  ?
- on permet de rentrer sans la ville ?
  on peut en parler au scrum ?

[2016-03-04 07:43] clement59 commented on #730
+1 ! J'ai eu les mêmes remontés ! poupou etc

2016-03-04 8:28 GMT+01:00 Tibor Katelbach notifications@github.com:

##

Clément Damiens
Co-fondateur de l'association Livin'Coop
Diplomé de la formation ITEEM
Département de l'École Centrale de Lille codirigée avec la SKEMA Business
School
_+33-6-98-27-67-24_

_http://youtu.be/dERtXwNjgic http://youtu.be/dERtXwNjgic_

[2016-03-04 07:47] clement59 commented on #731
Problème internet explorer - pas de ville lors de l'inscription #695
C'est sur quel navigateur ?

[2016-03-04 09:00] #707 closed, assigned to sylvainbarbot

[2016-03-04 09:01] #200 closed, assigned to oceatoon

[2016-03-04 09:11] oceatoon commented on #702
+1

[2016-03-04 09:11] #702 closed, assigned to oceatoon

[2016-03-04 09:12] oceatoon commented on #375
+1

[2016-03-04 09:12] #375 closed, assigned to oceatoon

[2016-03-04 09:13] oceatoon commented on #583
ca l'est deja
il faudrait juste renommer ph-dori

[2016-03-04 09:13] #583 closed, assigned to oceatoon

[2016-03-04 11:17] FlorentLivin opened #732 "Désactiver panneaux d'affichage"
Pas possible de "Ne plus afficher les panneaux d'explications"

[2016-03-04 11:33] FlorentLivin opened #733 "Problème connexion"
obligation de recharger la page pour qu'il interpréter bien identifiant/mdp

[2016-03-04 12:18] FlorentLivin opened #734 "Position géographique des orga"
Lorsque l'on rentre une adresse précise sur le formulaire pour créer nouvelle organisation, celle-ci n'est pas interprétée et le curseur se met par faut au centre ville

[2016-03-04 12:33] #495 closed, assigned to sylvainbarbot

[2016-03-04 12:39] #699 closed, assigned to oceatoon

[2016-03-04 12:45] #691 closed, assigned to sylvainbarbot

[2016-03-04 13:07] sylvainbarbot opened #735 "Lenteur et 404 à l'affichage de la Map"
En PROD (https)
A l'affichage de la carte (centrée sur la réunion) et j'ai des tonnes d'erreur 404. Et c'est super lent.
![capture d ecran 2016-03-04 a 17 02 13](https://cloud.githubusercontent.com/assets/2662262/13527774/ec946d72-e22a-11e5-8b10-66d5f38e4f7e.png)

Est ce du au changement du serveur de tiles : passage de https://stamen-tiles.a.ssl.fastly.net à https://otile1-s.mqcdn.com/tiles/ ?
Ce

[2016-03-04 13:19] sylvainbarbot opened #736 "Cohérence Map / Detail organisations"
Il manque les projets sur la carto.
![capture d ecran 2016-03-04 a 17 18 33](https://cloud.githubusercontent.com/assets/2662262/13528045/268af008-e22d-11e5-8cb6-55799b3e2127.png)
![capture d ecran 2016-03-04 a 17 19 16](https://cloud.githubusercontent.com/assets/2662262/13528059/3ebf171c-e22d-11e5-9c29-0a20cd252a85.png)

[2016-03-04 13:22] sylvainbarbot opened #737 "Affichage des followers sur la map"
Lors de l'affichage d'un projet ou d'une orga sur la carte, ajouter une option/bouton pour afficher les followers en mode carte.
Par défaut, les followers sont cachés.

[2016-03-04 13:22] #468 closed, assigned to Kgneo

[2016-03-04 13:25] #729 closed, assigned to Kgneo

[2016-03-04 14:09] oceatoon commented on #734
forent tu peux nous envoyer ton use case STP
quelle adresse ?

[2016-03-04 14:23] FlorentLivin commented on #734
C'est un bug générique pour correction. Cela se passe à chaque fois qu'on rentre une adresse précise.

[2016-03-04 14:24] FlorentLivin commented on #734
je ne sais pas si j'ai répondu à ta question

[2016-03-04 14:27] sylvainbarbot opened #738 "Homepage : Image et sélection de texte sur la page d'accueil = nouvelle scrollbar"
Sur la home page : quand je passe la souris sur une image de la page d'accueil, ça fait apparaître une deuxième scrollbar à droite, du coup ça donne une impression de mouvement bizarre du contenu de la page

[2016-03-04 14:31] sylvainbarbot opened #739 "6 boutons + 1 popup : fatiguant et antiergonomique"
Je trouve que le fait que 6 boutons + 1 popup s'allument chaque fois que je bouge ma souris est anti-ergonomique et fatigant. Le visuel est très beau, mais je préfèrerais que seul le bouton sur lequel je passe ma souris apparaisse, c'est plus logique.

[2016-03-04 14:38] sylvainbarbot opened #740 "Suppression des messages subliminaux"
@MaiaDereva dit :
je persiste pour les messages subliminaux : même si ça attriste les développeurs, je ne pourrai pas faire la promotion d'une plateforme qui impose des messages comme ça (j'imagine la tête de la dame de la médiathèque si j'organise un café des pixels chez elle et que je lui montre ça...)

[2016-03-04 14:44] sylvainbarbot opened #741 "le pavé d'explications masque Mon répertoire"
@MaiaDereva dit
le pavé d'explications masque Mon répertoire
![580d0aa6-7452-4830-b48c-f13856370a36](https://cloud.githubusercontent.com/assets/2662262/13530015/9aa9d3fe-e238-11e5-9f12-ae295fe12da0.jpeg)

[2016-03-04 14:47] sylvainbarbot opened #742 "Actualité de ma ville ? Ou mon actualité ?"
@MaiaDereva :
J'avoue, je m'en fiche un peu des actualités de ma ville, mon territoire c'est le monde, dommage que le bouton "Mon fil d'actualités" soit caché comme ça. Pourquoi ne pas afficher cette page par défaut à la connexion plutôt que la page actuelle dont je n'ai pas besoin ? (d'autant que le bouton "Accueil" ne sert à rien, quand on est connecté à la plateforme, on s'en fiche un peu de re

[2016-03-04 14:52] sylvainbarbot opened #743 "Notification "vous suis""
Il y a écrit plusieurs fois "vous suit" dans les notifications mais il n'y a pas de nom et le clic mène sur ma page perso
![capture d ecran 2016-03-04 a 18 49 08](https://cloud.githubusercontent.com/assets/2662262/13530260/f5a36166-e239-11e5-9e85-ff7b3fe9a94c.png)

[2016-03-04 14:54] oceatoon commented on #734
si c'est systématique alors oui :)

[2016-03-04 14:56] oceatoon commented on #739
a voir et testé

[2016-03-04 15:00] FlorentLivin commented on #734
yes

[2016-03-04 15:03] sylvainbarbot opened #744 "2 scrollbars dans la boite de notif"
@MaiaDereva say.
En PROD sous chorme :
Il y a 2 scrollbars dans la boite de notifications
![screen2](https://cloud.githubusercontent.com/assets/2662262/13530524/2fb4ecac-e23b-11e5-9d29-88806b4de860.jpg)

[2016-03-04 15:11] sylvainbarbot opened #745 "Intéragir directement depuis le directory"
@MaiaDereva say :
Quand je suis dans le répertoire d'un ami, j'aimerais pouvoir cliquer sur "Suivre" ou "Rejoindre" sans devoir visiter une page à chaque fois. C'est pénible de construire son réseau si on doit à chaque fois rentrer dans la page, se taper la page d'attente puis revenir en arrière.
![capture d ecran 2016-03-04 a 19 06 42](https://cloud.githubusercontent.com/assets/2662262/13530776/8

[2016-03-04 15:14] sylvainbarbot opened #746 "Ajouter une page et un lien Mentions légales dans le footer"
Ajouter un lien vers une page "Mentions légales" (c'est obligatoire sur un site...) dans le footer.
Est ce que les CGU et les mentions légales c'est la même chose ?

[2016-03-04 16:50] clement59 commented on #745
+1

2016-03-04 16:11 GMT+01:00 sylvainbarbot notifications@github.com:

##

Clément Damiens
Co-fondateur de l'association Livin'Coop
Diplomé de la formation ITEEM
Département de l'École Centrale de Lille codirigée avec la SKEMA Business
School
_+33-6-98-27-67-24_

_http://youtu.be/dERtXwNjgic http://youtu.be/dERtXwNjgic_

[2016-03-04 18:00] clement59 commented on #744
Je n'arrive pas à le reproduire

[2016-03-04 18:03] clement59 commented on #739
Yep ça peut etre intéressant

2016-03-04 15:56 GMT+01:00 Tibor Katelbach notifications@github.com:

##

Clément Damiens
Co-fondateur de l'association Livin'Coop
Diplomé de la formation ITEEM
Département de l'École Centrale de Lille codirigée avec la SKEMA Business
School
_+33-6-98-27-67-24_

_http://youtu.be/dERtXwNjgic http://youtu.be/dERtXwNjgic_

[2016-03-04 18:12] oceatoon commented on #707
si tu les vois plus comme avant ,
c'est bon

[2016-03-04 18:14] clement59 commented on #743
C'est des actions récentes ???
Parcequ'il y avait un pb ya pas longtemps
Re teste et dis moi si ca persiste

[2016-03-04 18:16] MaiaDereva commented on #744
C'est observé sous Chrome 48.0.2564.116 m / Windows 7 Professional Service Pack 1 2009 / Résolution 1680 X 1050

Voilà, vous savez tout...
(je veux un ordi neeeeeeeuuuufff !!! ;) )

[2016-03-04 18:16] clement59 commented on #732
Wep c'est le hover qui bouge trop vite

[2016-03-04 18:17] clement59 commented on #727
quel idée d'avoir une asso livin'coop ^^
C'est réglé

[2016-03-04 18:19] oceatoon commented on #744
ca va pouvoir se trouver tres bientot
un peu de patience

[2016-03-04 18:44] clement59 commented on #744
Tu l'as toi tib?

[2016-03-04 18:49] clement59 commented on #742
+1

Le 4 mars 2016 à 15:47, sylvainbarbot notifications@github.com a écrit :

##

Clément Damiens
Co-fondateur de l'association Livin'Coop
Diplomé de la formation ITEEM
Département de l'École Centrale de Lille codirigée avec la SKEMA Business
School
_+33-6-98-27-67-24_

_http://youtu.be/dERtXwNjgic http://youtu.be/dERtXwNjgic_

[2016-03-04 18:51] MaiaDereva commented on #744
C'est la boite autour qui ne devrait pas avoir de scroll. Je sais pas en quoi vous codez, mais faudrait juste empêcher celle-la d'apparaître (en html scrollbar=no)

[2016-03-04 18:57] clement59 commented on #730
+1

Le 4 mars 2016 à 14:24, sylvainbarbot notifications@github.com a écrit :

##

Clément Damiens
Co-fondateur de l'association Livin'Coop
Diplomé de la formation ITEEM
Département de l'École Centrale de Lille codirigée avec la SKEMA Business
School
_+33-6-98-27-67-24_

_http://youtu.be/dERtXwNjgic http://youtu.be/dERtXwNjgic_

[2016-03-04 19:00] oceatoon commented on #730
+1

[2016-03-04 19:02] MaiaDereva commented on #746
Non, les CGU c'est les conditions pour utiliser le site, les mentions légales c'est l'hébergeur, le directeur de publication, l'adresse de l'association, etc...
https://www.service-public.fr/professionnels-entreprises/vosdroits/F31228

[2016-03-04 21:04] sylvainbarbot opened #747 "Notification sur Commentaires et Like/dislike/abuse"
Pas de notification sur les commentaires et les like/dislike/abuse.
Règles de gestion à définir et à développer.

[2016-03-04 21:11] RaphaelRIVIERE commented on #725
+1

[2016-03-05 09:17] clement59 commented on #747
Ça me fait penser qu'il faut rajouter du abuse partout ;)

Envoyé de mon iPhone

Le 4 mars 2016 à 22:04, sylvainbarbot notifications@github.com a écrit :

[2016-03-05 13:27] Kgneo commented on #734
ça n'arrive pas tout le temps, ça arrive seulement quand l'adresse est inconnue par notre système de géoloc. Quand il ne trouve pas l'adresse précise demandée, il affiche la position de la ville demandée.
Ce n'est pas un bug à proprement parler. C'est juste qu'on atteint les limites du système.
Pour le moment, je peux éventuellement rajouter un message pour préciser que l'adresse n'a pas été trouv

[2016-03-05 13:48] Kgneo commented on #735
Quand j'affiche la carto en prod sur la réunion, je vois effectivement des 404, mais je pense qu'on ne peut pas y faire grand chose.
J'ai remarqué que certaines tiles sont en 404 mais finissent par passer après 2 ou 3 requêtes :
![capture d ecran 2016-03-06 a 00 41 36](https://cloud.githubusercontent.com/assets/7578166/13547806/4ccd500a-e334-11e5-89c7-092ed2750861.png)
Je pense que ça vient des se

[2016-03-05 16:33] oceatoon commented on #719
on peut le localiser direct sur la personne qui le creer ?
il faudra aussi ajouter des projet "online"

[2016-03-05 16:58] oceatoon opened #748 "proposition de login : c un peu aggresif mais au moins on cherche pas"
https://www.educative.io/collection/5642554087309312/5679846214598656
des la premiere connection
wdyt ?

[2016-03-06 07:10] RaphaelRIVIERE commented on #734
Yep je confirme , quand nominatim ne trouve pas je passe par google maps, lundi je te mets la fonction dans sig.js

[2016-03-06 10:56] Kgneo commented on #739
je trouvais la popup fatigante moi aussi, mais apparemment elle ne s'affiche plus quand on est connecté, seulement quand on est déco. Je trouve ça mieux. (testé en local)
Le mieux serais d'avoir une checkbox pour activer/désactiver les messages d'info, je pense que ce serait top.
Par contre je trouve ça bien d'afficher les 6 boutons.

[2016-03-06 11:36] Kgneo commented on #738
sur quelle image ? avec quel navigateur ?

[2016-03-06 11:38] Kgneo commented on #734
top cool :) ça marche bien avec google ?

[2016-03-06 11:39] Kgneo commented on #732
je propose de rajouter une checkbox dans le menu à gauche qui s'affiche en même temps que les panel, pour pouvoir activer/desactiver l'affichage des panel.
?

[2016-03-06 11:46] Kgneo commented on #661
- quand tu dis "j'ai modifié les paramètres de prod pour que ça fonctionne le lien sur Open Atlas." comment tu as fais ?
- Comment faire pour modifier les citoyens afin de leur ajouter le tag ?
  Dans nos données, on pourrait utiliser un "tag secondaire" qu'on appellerais par exemple "pixelTag", qui serait comme un tag, mais que seul les admin peuvent rajouter sur les Citoyens, orga ou autres.
  D

[2016-03-06 12:05] clement59 commented on #732
Ce serait plus dans les settings de l'utilisateur, non?

Histoire d'avoir tous les réglages au même endroit ... Sinon on va mettre
des settings un peu partout et l'utilisateur ne va pas prendre l'habitude
d'un endroit logique pour lui.

D'ailleurs il faudrait un affichage pas en pop-up mais en view car les
paramètres et préférences vont commencer à etre exploités en 0.2

Wdyt?

Le 6 mars 2016 à 12

[2016-03-06 12:06] clement59 commented on #734
- 1 les mans !

2016-03-06 12:38 GMT+01:00 Tristan Goguet notifications@github.com:

##

Clément Damiens
Co-fondateur de l'association Livin'Coop
Diplomé de la formation ITEEM
Département de l'École Centrale de Lille codirigée avec la SKEMA Business
School
_+33-6-98-27-67-24_

_http://youtu.be/dERtXwNjgic http://youtu.be/dERtXwNjgic_

[2016-03-06 14:35] oceatoon commented on #661
+1 Tango
ou mettre des tags dans role ?

[2016-03-06 14:36] oceatoon commented on #732
yaura une page parametrage en 0.2

[2016-03-06 14:38] oceatoon commented on #734
+1
@clement : vide tes message en repondant
sinon ya des bout de message dupliqué comme dans les mails et ta signature

[2016-03-07 03:54] Kgneo opened #749 "Communexion Multi-scope"
Je pense que ce serait bien d'améliorer la communexion assez rapidement.
J'ai fait quelques essaie au niveau de l'interface pour qu'on puisse étendre le scope sur 3 niveau :
- niv 1 : commune
- niv 2 : code postal (plusieurs communes)
- niv 3 : département (déduit à partir du CP)

![capture d ecran 2016-03-07 a 14 47 13](https://cloud.githubusercontent.com/assets/7578166/13560534/6bc8839e-e474-11e

[2016-03-07 04:14] Kgneo commented on #749
ça pourrait être une première étape avant de pouvoir gérer une liste de "scopes favoris" par exemple.
wdyt ?

[2016-03-07 04:36] oceatoon commented on #749
+1 j'aime bcp , a l'époque , tu te souviens on parlait de curseur
administratif
je trouve ta proposition encore mieux
voici les scope qu'on c'etait dit
- moi + mon réseau
- mon quartier
- ma ou mes villes
- departement
- region
- pays

​

[2016-03-07 05:17] Kgneo commented on #749
oui, il faudra mettre tout ça, mais je pense qu'il faut y aller par étape.
je peux déjà rajouter le CP et le département sans trop de pb (ça marchait avant qu'on passe sur le code insee) ça peut être fait pour demain je pense.
Ça permettra par exemple aux parisiens de visualiser tout le réseau Parisien, sans être bloqué sur un seul arrondissement. Ou pour les villages de campagne où il y a peu de

[2016-03-07 05:21] Kgneo commented on #749
Quartier : dès qu'on a les données en bdd, on pourra le rajouter.
Région : ça me semble pas trop compliqué.
Pays : on n'a qu'un seul pays pour l'instant, donc ça revient à désactiver la communexion. Ça deviendra intéressant quand on aura d'autres pays.

[2016-03-07 05:24] oceatoon commented on #749
yes lé bon

[2016-03-07 05:26] oceatoon commented on #749
ergonomiquement , je ne mettrais pas 2 couleurs par contre , que le rouge
ou des different niveau de rouge peut etre

[2016-03-07 05:31] Kgneo commented on #749
ok je vais essayer avec un rouge plus clair

[2016-03-07 06:02] Kgneo commented on #749
![capture d ecran 2016-03-07 a 17 01 54](https://cloud.githubusercontent.com/assets/7578166/13561904/547ffb74-e486-11e5-9299-94dabff5178d.png)

[2016-03-07 06:10] Kgneo commented on #749
même mieux :
![capture d ecran 2016-03-07 a 17 09 59](https://cloud.githubusercontent.com/assets/7578166/13562013/80bf524c-e487-11e5-903d-74539030df4b.png)
![capture d ecran 2016-03-07 a 17 09 50](https://cloud.githubusercontent.com/assets/7578166/13562014/80c202f8-e487-11e5-9018-86115d774f96.png)
![capture d ecran 2016-03-07 a 17 09 44](https://cloud.githubusercontent.com/assets/7578166/13562015/

[2016-03-07 07:07] oceatoon commented on #749
yes c'est trés bon ca

[2016-03-07 11:02] FlorentLivin commented on #734
Pour moi les seules adresses interprétées sont celles repositionnées manuellement avec le pointeur. Sinon toutes les adresses entrées textuellement ne se situent pas au bon endroit.

[2016-03-07 12:52] Kgneo commented on #749
![capture d ecran 2016-03-07 a 23 52 06](https://cloud.githubusercontent.com/assets/7578166/13570011/a71e8b64-e4bf-11e5-896a-599edf98ee58.png)

[2016-03-07 13:40] oceatoon commented on #749
wow on ne voit plus que ca :)
j'aime bien l'intégration dans le coin et surtout remonté le bouton commune
en haut
et le communecteur en bas +1
en mode reduit ca donnerait quoi ?

[2016-03-07 13:49] oceatoon commented on #733
tu confirmes @FlorentLivin que le probleme existe encore ?

[2016-03-07 13:51] oceatoon commented on #328
tu confirmes @sylvainbarbot que c'est bon à présent , ou on doit changer le get avec les role comme l'a proposer @Kgneo
d'ailleur c'est pas un doublon cet issue ?

[2016-03-07 13:52] #595 closed, assigned to oceatoon

[2016-03-07 13:53] #627 closed, assigned to Kgneo

[2016-03-07 13:56] Kgneo commented on #749
j'avais beaucoup réduit la fenêtre.
Sur un écran macbook 13'' ça donne ça :
![capture d ecran 2016-03-08 a 00 55 03](https://cloud.githubusercontent.com/assets/7578166/13571353/809bb710-e4c8-11e5-92e0-156baa662dce.png)

c'est vrai que c'est un peu gros, mais en plus petit ça devient plus compliqué à manipuler.

[2016-03-07 13:59] Kgneo commented on #749
c'est un peu gros parce que j'ai réussi à faire marcher tous les scopes :
- 1 - commune
- 2 - code postal
- 3 - département
- 4 - région
- 5 - tout le réseau (== Pays / France)

[2016-03-07 13:59] Kgneo commented on #749
![capture d ecran 2016-03-08 a 00 59 21](https://cloud.githubusercontent.com/assets/7578166/13571435/06bd6d66-e4c9-11e5-9509-6ce01ae6502f.png)

[2016-03-07 14:01] Kgneo commented on #749
il manque plus que les quartiers !

[2016-03-07 14:10] oceatoon commented on #725
je sais pas trop , ce serait bien que la population puisse remplir tous les acteurs du territoire , non ?

[2016-03-07 14:12] FlorentLivin commented on #733
Non, je ne rencontre plus ce problème depuis quelques jours

[2016-03-07 14:12] oceatoon commented on #749
ca se cache juste en mode mobile ?

[2016-03-07 14:17] Kgneo commented on #749
il faudra l'afficher autrement sur mobile
pour l'instant il reste toujours affiché.
Tu penses qu'il faudrait le masquer ?

[2016-03-07 15:27] Kgneo commented on #749
v1 commité
à tester !

[2016-03-08 04:21] Kgneo commented on #562
je viens de commencer à bosser sur cette tâche.
J'ai réussi à différer le chargement de la carto (timeout 10 sec) mais ça pose quelques difficultés :
- il y a beaucoup de page qui affichent des données sur la carte dès leur chargement (directory, agenda, news, etc) Si on ne charge pas la carto dès le départ, il va falloir sécuriser chaque appel à des fonctions SIG, dans toutes les pages, toutes le

[2016-03-08 04:35] sylvainbarbot opened #750 "Injecter les données des villes de Mayotte"
Source : https://fr.wikipedia.org/wiki/Liste_des_communes_de_Mayotte (Y a pas la geoloc par contre).
A voir dans les dernières versions de l'open data de l'état au cas ou.

[2016-03-08 06:03] oceatoon commented on #562
cool
je suis d'accord , on le met en prio 0.2

[2016-03-08 06:43] #733 closed, assigned to oceatoon

[2016-03-08 07:28] #328 closed, assigned to sylvainbarbot

[2016-03-08 08:45] oceatoon commented on #735
ca peut se faire coté apache mais c'est pas simple
un load balancer avec analyse des 404

[2016-03-08 09:16] oceatoon commented on #661
role.pixelactif : ['developper','coco']
perso , ca me semble etre un role
je le trouve bien approprié

2016-03-08 11:28 GMT+04:00 sylvainbarbot notifications@github.com:

##

Tibor Katelbach – Senior Developer - Gérant Bénévole Association Open Atlas
_CAMPAGNE DE CROWDFUNDING EN COURS_

http://www.kisskissbankbank.com/en/projects/communecter-se-connecter-a-sa-commune
projet : https://www.communect

[2016-03-08 10:11] oceatoon commented on #748
dés la connection , on proposerais a l'utilisateur de nous dire où il est ?
pays + ville > ca permettrer d'acceler l'etape 2 si jamais il veut creer
wdyt ? @Kgneo

[2016-03-08 10:42] sylvainbarbot opened #751 "Evénement et carto"
Pour un événement organisé par une organisation ou un projet, l'organisation ou le projet n'est pas affiché sur la carto
![capture d ecran 2016-03-08 a 14 41 45](https://cloud.githubusercontent.com/assets/2662262/13599357/f2678086-e53b-11e5-8f51-5baf12ca4616.png)
![capture d ecran 2016-03-08 a 14 42 19](https://cloud.githubusercontent.com/assets/2662262/13599363/fe948d0e-e53b-11e5-91ae-8c75c57003f

[2016-03-08 10:47] sylvainbarbot opened #752 "Onglet non sélectionné"
A l'affichage du détail d'une organisation, l'onglet en cours n'est pas sélectionné.
![capture d ecran 2016-03-08 a 14 43 31](https://cloud.githubusercontent.com/assets/2662262/13599424/3f39aca4-e53c-11e5-90ae-8c5c508178f8.png)

Pareil pour les onglets "activités" et "communauté".
Pareil sur le détail d'un Projet.

Par contre fonctionne sur Profil : Détail du citoyen mais pas sur Répertoire.
![cap

[2016-03-08 14:26] clement59 commented on #727
ok j'avais pas la suite mais je l'ai réglé tout de même entre temps ;)
To test !

[2016-03-08 14:29] clement59 commented on #743
Intéressant mais autre issue ouverte sur le sujet : Notifications intelligentes #685
On close celle-ci?

[2016-03-08 22:35] MaiaDereva commented on #738
Oui ça le fait encore.
Navigateur : Chrome 49.0.2623.75 m
![double-scroll-bar](https://cloud.githubusercontent.com/assets/17183356/13618818/69d59ef6-e586-11e5-9126-eade7baa6ff0.jpg)

Images concernées :
- https://www.communecter.org/assets/d8941b81/images/bandeauKiss.jpg
- https://www.communecter.org/assets/d8941b81/images/network-for-all.png
- https://www.communecter.org/assets/d8941b81/images/sc

[2016-03-09 05:57] Kgneo commented on #748
je comprend pas bien l'idée

[2016-03-09 06:14] #726 closed, assigned to clement59

[2016-03-09 07:06] oceatoon commented on #661
typiquement role.developer=true a deja existé
pour montré ou caché des chose en dev par exemple
ca pourrait etre la meme chose pour les editeur , qui pourrait avoir un
wisiwig un jour pour modifier le txt du site en edit in place

2016-03-09 10:50 GMT+04:00 sylvainbarbot notifications@github.com:

##

Tibor Katelbach – Senior Developer - Gérant Bénévole Association Open Atlas
_CAMPAGNE DE CROWDFUN

[2016-03-09 07:07] oceatoon commented on #748
dés l'arrivé sur le site , s'il n'y a pas de cookie localisation
une pop up un peu intrusive , javoue, permet de localiser le nouvel arrivant

[2016-03-09 07:13] Kgneo commented on #748
ok. Perso je pense que le process actuel est très bien.
On peut pas demander aux gens de se localiser sur un site qu'ils ne connaissent même pas, non ?

[2016-03-09 07:24] oceatoon commented on #748
je sais pas trop
c'etait une idée

[2016-03-09 10:02] FlorentLivin opened #753 "pb affichage communauté orga"
Lorsqu'on consulte l'ensemble de la communauté d'une orga : onglet "tous" ; on ne voit que les membres, pas les coups de coeur qui disparaissent au bout d'une seconde (cf capture écran). Si on ne veut pas les faire apparaître c'est alors le nombre indiqué qui est incorrect (ici 9)

[2016-03-09 10:02] FlorentLivin commented on #753
![communaute_orga](https://cloud.githubusercontent.com/assets/15836919/13631710/714effd2-e5e6-11e5-84fc-8e9842952522.png)

[2016-03-09 10:13] clement59 commented on #753
On a pris la décision de les cacher pour éviter le surplus de fiche
Car la communauté d'abonnés peut devenir très grande !

[2016-03-09 10:28] clement59 opened #754 "Repositionnement citoyen"
Je pense que cette issue est déjà ouverte quelque part. Mais je refais le use case entier avec screenshot :
1. Sur ma fiche profil j'édite mon adresse:
   ![capture d ecran 2016-03-09 a 11 00 10](https://cloud.githubusercontent.com/assets/6576514/13632366/90c34cd0-e5e9-11e5-803c-a8089a90f576.png)
2. Celle-ci s'enregistre bien et me repère impeccable sur la carte:
   ![capture d ecran 2016-03-09 a

[2016-03-09 11:01] FlorentLivin commented on #753
Dans ce cas le nombre affiché est à changer

[2016-03-09 11:05] FlorentLivin commented on #753
Yes, bien résumé Sylvain

[2016-03-09 12:08] oceatoon commented on #725
peut etre leur faire peur avec un message preventif
c'est ecrit dans la charte comme un abus
et peut etre passible d'une poursuite en justice

[2016-03-09 12:51] MaiaDereva commented on #738
Résolution 1680 X 1050
Windows 7 Professional Service Pack 1 - 2009

[2016-03-09 14:04] clement59 commented on #744
Si quelqu'un arrive à le reproduire je veux bien que vous le repreniez

[2016-03-09 14:06] clement59 commented on #672
je close

[2016-03-09 14:06] #672 closed, assigned to clement59

[2016-03-09 14:07] clement59 commented on #558
je l'ai caché ! avec Role:isDeveloper

[2016-03-09 15:25] oceatoon opened #755 "3 points de refactor"
$.subview
openMainPanelFromPanel
$.hideSubview();
old

[2016-03-09 17:34] clement59 opened #756 "Bug nbProgress.start() communecter.js"

[2016-03-10 08:08] #756 closed, assigned to oceatoon

[2016-03-10 09:02] #730 closed, assigned to oceatoon

[2016-03-10 09:10] Kgneo commented on #749
bonnes remarques.
Je n'ai pas encore géré la taille smartphone

[2016-03-11 04:52] Kgneo opened #757 "pouvoir supprimer/fermer/effacer son compte"
il me semble qu'il n'y a aucun moyen actuellement pour supprimer son compte.

[2016-03-11 05:04] oceatoon commented on #757
effectivement , le sujet n'est pas simple
retirer un compte c'est facil
- il faut retirer tout les links associé
- on garde la meme approche pour les Orga, Projet et Event d'une personne ?
  cad if is creator, et qu'il est tout seul dans l'orga alors remove
  sinon on retire jsute le lijnk

[2016-03-11 05:08] Kgneo commented on #757
oui ça me semble bien.
Il faudrait aussi supprimer toutes ses News.
Et au niveau interface, où est-ce qu'on met le bouton "supprimer mon compte" ?

[2016-03-11 06:46] oceatoon commented on #757
dans la page paramtre ?
il faudrait aussi laisser un temps
pour les rigolos , qui vont s'amuser à effacer les comptes de leurs potes
​ou un system de recuperation archiver dans une collection deleted ?

[2016-03-11 07:28] sylvainbarbot opened #758 "Supprimer le bouton communecter sur dashboard city si c'est ma ville de communection"
Supprimer le bouton communecter sur dashboard city si c'est ma ville de communection
![capture d ecran 2016-03-11 a 11 26 11](https://cloud.githubusercontent.com/assets/2662262/13695899/30dd63fc-e77c-11e5-9311-8b50df12aeaa.png)

[2016-03-11 07:31] sylvainbarbot opened #759 "Message toujours présent sur la carto hors contexte"
Détail de la carto d'une orga : affichage d'un message hors contexte. Je n'ai rien à déplacé.
![capture d ecran 2016-03-11 a 11 28 48](https://cloud.githubusercontent.com/assets/2662262/13695950/92e60216-e77c-11e5-89b0-f07c2e5294a7.png)

[2016-03-11 09:25] oceatoon commented on #757
je ne penses pas en 0.1 mais rapidement
c'est pas qlqs chose qui prend beaucoup de temps une fois bien décrit
​

[2016-03-11 09:55] sylvainbarbot opened #760 "Erreur lorsqu'un projet contient des double quote (")"
Impossible d'afficher le fil d'actu + Communauté d'un projet dont le nom contient des guillemets (")
![capture d ecran 2016-03-11 a 13 54 28](https://cloud.githubusercontent.com/assets/2662262/13698966/e5de8542-e790-11e5-9647-9ad87c895dbb.png)

[2016-03-11 09:59] #752 closed, assigned to clement59

[2016-03-11 11:02] sylvainbarbot opened #761 "Amélioration performance - count sur homepage"
Plutot que de faire un count de toutes les person, projet, organisations et événements à chaque affichage de la page d'accueil (donc à chaque user), je propose un batch qui fait ce calcul X fois par jours.
@childee : tu te sentirais capable de faire ça ?

[2016-03-11 11:34] oceatoon commented on #761
tu parles de la Gamification ?

[2016-03-11 11:51] Kgneo commented on #761
tu parles de ça ?
![capture d ecran 2016-03-11 a 22 50 46](https://cloud.githubusercontent.com/assets/7578166/13701408/d1ae49ea-e7db-11e5-9b0c-5da7fdf72d1d.png)

[2016-03-11 12:48] #728 closed, assigned to sylvainbarbot

[2016-03-11 13:18] oceatoon commented on #761
pour la gamification , a ce moment là par contre , il faudrait incrémenter à chaque création de lien
ca pourrait etre pas mal effectivement ,

[2016-03-11 14:07] oceatoon commented on #564
un loadByHash c'est un ShowAjaxPanel
faut lui donner la bonne url a manger

[2016-03-11 14:30] clement59 commented on #564
C'est bon c'est réglé
je le push tout à l'heure

[2016-03-14 07:13] RaphaelRIVIERE opened #762 "Fusionner 2 entité ensemble (2 orga par exemple)"
Admettons que 2 utilisateurs ont créer la même association dans la même ville, sans faire gaffe que l'association existe déjà.

Avoir une interface qui va fusionner les 2 entités  afin d'évité les doublons.

Affiche 2 colonnes pour les 2 orgas et a chaque ligne les différentes info des orgas
- descript
- email
- etc

Et avoir un input type ="radio" qui choisirait lequel des infos on prend en compt

[2016-03-14 08:07] sylvainbarbot opened #763 "Nouvelles données qui peuvent être utilisées pour l'exploitation"
Ajouter en base de données des informations qui peuvent être utiles pour l'exploitation.
- Enregistrer les IP des nouveaux utilisateurs qui s'enregistrent (peut être pratique pour bannir des bots)
- Enregistrer les historiques de connexion des utilisateurs (login / logout / perte de session pour inaction ?)

@oceatoon @childee
A définir si les données peuvent être stockées dans la collection Citoy

[2016-03-14 08:19] oceatoon commented on #763
a l'epoque on avait une collection log​
une entrée par user, avec ce qu'on voulait dedans , mais ca dat
c'est pour comprendre les pratiques de l'utilisateur

[2016-03-14 09:48] RaphaelRIVIERE opened #764 "Modele Entity"
Crée une Class Entity qui regroupe toutes les méthodes que Person/Orga/Event/Project ont en commun
Et après que (Person/Orga/Event/Project) hérite de la class Entity

[2016-03-14 10:00] clement59 commented on #764
C'est une excellente idée !! très intéressant !

[2016-03-14 10:07] clement59 commented on #753
Je suis parti sur la première solution du coup !!
Soit on n'affiche plus du tout les coups de coeurs et dans ce cas là, le compteur c'est la somme des membres du réseau => Solution la plus simple

Soit on affiche tous les "coups de coeurs" (avec risque de surcharge en effet) et dans ce cas là, le compteur c'est la somme des membres du réseau + les coups de coeur **=> fait dans un premier temps mai

[2016-03-14 10:22] clement59 commented on #708
Espace je laisserais quand même mais virgule je suis pour l'interdir ...
@oceatoon @Kgneo @RaphaelRIVIERE wdyt?

[2016-03-14 11:40] sylvainbarbot opened #765 "Affecter un username lors de l'invitation d'un utilisateur"
Lors de la création d'un user, la donnée username et obligatoire dans le cadre du dev Météor @aboire.
Mais lors d'une invitation, on n'alimente pas le username.
A corrigé

[2016-03-14 11:58] oceatoon commented on #708
+1 interdiction virgule et espace garder​

[2016-03-14 11:59] RaphaelRIVIERE commented on #708
Yep même avis

[2016-03-14 12:03] childee commented on #760
addslashes - Fixed

[2016-03-14 12:59] childee commented on #763
Proposition de la structure de la collection "logs" et réalisation :

{
    "userId" : ObjectId("56e655a63780eadb168b4568"),
    "browser" : Mo....
    "ipAddress" : XXX.XXX.XXX.XXX
    "date" : ISODate("2016-03-10T12:51:27.000Z"),
    "action" : "person/authenticate",
    "params" : {
        "email":"ccccc@ddd.dd",
        "pwd":"kjzejkdz"
    },
    "result" : {
        result:"false",

[2016-03-14 13:01] #765 closed, assigned to sylvainbarbot

[2016-03-14 13:18] oceatoon commented on #763
je voyais un truc comme ca
dans la collection logs
une entrée :
userId : xx
detail:[
{"browser" : Mo....
"ip" : XXX.XXX.XXX.XXX},...
]
actions : {
 "person/authenticate" : [
     { date : }, // sans les param
     { date : } ///ou jsute le dernier update
]
"error500" : [{date: }..],
"error301" : [{date: }..]
"error404" : [{date: }..]
}

ca permet de diminuer les repetitions , et reduire la taille

[2016-03-14 14:17] childee commented on #763
Avoir une clé userId risque de nous bloquer s'il l'on souhaite voir le comportement d'une action qui ne nécessite pas un compte/une authentification dans le futur. Il peut aussi y avoir un ou plusieurs Browser /IP par user donc nous ne pourrons pas savoir quel browser à réellement fait l'action. Pour les erreurs type 500, n'est ce pas plutôt un analyseur de trafic genre awstat, piwik.
Demain matin

[2016-03-14 15:19] oceatoon commented on #763
+1 pour en discuter

[2016-03-14 17:55] oceatoon opened #766 "decentraliser : heberger la map personnel localement , sur son localStorage ou autre solution de DB locale"

[2016-03-14 23:10] numahell opened #767 "Export des données"
Offrir la possibilité d'exporter les données en GeoJson pour les données carto, en iCal ou aussi GeoJson pour les données agenda.
Le but serait de pouvoir récupérer des données filtrées (par thème ou par commune par exemple) pour les afficher dans un autre site.

[2016-03-14 23:12] numahell opened #768 "Confidentialité : profil privé"
Donner la posibilité de rendre son profil complètement privé.
Certaines personnes souhaitent peut-être ne pas du tout être visible par d'autres que leurs contacts directs, ou par les visiteurs non connectés.

[2016-03-14 23:18] numahell opened #769 "Confidentialité informations personnelles"
Juste après s'être connecté, si on va sur les paramètres de confidentialité, on ne voit pas quel sont les paramètres choisis.

Et sinon, lorsqu'on choisi un paramètre, il semble être directement enregistré par une requête ajax, mais il y a quand même un bouton "enregistrer" : on aurait peut-être besoin de choisir.

[2016-03-14 23:25] numahell commented on #87
+1
C'est marrant sur le form de création d'un événement on n'a pas le wysiwyg, mais sur l'édition c'est bon.

[2016-03-15 03:35] Kgneo commented on #759
modifié pour que le message disparaisse à chaque fois qu'on fait showMap(false)

[2016-03-15 03:37] Kgneo commented on #758
Quand on est sur la page de la commune à laquelle on est communecté, le bouton affiche "communecté"

![capture d ecran 2016-03-15 a 14 36 27](https://cloud.githubusercontent.com/assets/7578166/13767093/70fed6ae-eabb-11e5-8ea0-a19cc8be1373.png)
Sinon, il reste sur "communecter" et change la communection quand on click dessus
![capture d ecran 2016-03-15 a 14 37 13](https://cloud.githubusercontent.c

[2016-03-15 03:56] Kgneo commented on #749
- Trouver un design pour les small screens
  Proposition :
  ![capture d ecran 2016-03-15 a 14 56 14](https://cloud.githubusercontent.com/assets/7578166/13767414/228fa2ac-eabe-11e5-83d8-6ddc7662b883.png)

[2016-03-15 04:24] Kgneo commented on #749
![capture d ecran 2016-03-15 a 15 23 22](https://cloud.githubusercontent.com/assets/7578166/13767733/04a3dade-eac2-11e5-9ef9-1d6c536a1371.png)

[2016-03-15 04:40] Kgneo commented on #749
- Ca ne marche pas sur les directory (des orgas par exemple). Du coup je supprimerai les cercles (comme pour actus) et je ne les afficherais seulement là ou ça a un impact.

ok c'est fait. Ça s'affiche que sur Annuaire Communecté et Agenda Communecté

[2016-03-15 05:05] Kgneo commented on #738
j'ai testé sur Chrome (mac) mais il n'y a pas de pb
Il faudrait tester sur Windows

[2016-03-15 05:13] childee commented on #675
J'ai enlevé le "to test" car j'ai le même problème que sylvain

[2016-03-15 05:36] childee commented on #429
Je n'ai eu aucun souci pour ajouter les membres, par contre difficile de vérifier les mails sur QA :)

[2016-03-15 15:49] sylvainbarbot opened #770 "Ajout d'une nouvelle organisation en tant que membre : process d'invitation"
Lorsqu'une orga est nouvellement créée via le process Add Member :
1. Envoyer un mail à l'email de l'orga précisant que une organisation "Toto" a été automatiquement créée lors de l'ajout en tant que membre de l'organisation "Tata" par le citoyen "Tutu". En cliquant sur ce lien, on lui demandera de créer un compte CITOYEN et devenir ainsi administrateur de l'organisation "Toto".
2. Le mail contien

[2016-03-16 03:37] #63 closed, assigned to sylvainbarbot

[2016-03-16 03:42] #294 closed, assigned to sylvainbarbot

[2016-03-16 03:44] #262 closed, assigned to clement59

[2016-03-16 04:00] #427 closed, assigned to sylvainbarbot

[2016-03-16 04:09] #193 closed, assigned to sylvainbarbot

[2016-03-16 04:31] #102 closed, assigned to sylvainbarbot

[2016-03-16 05:07] RaphaelRIVIERE commented on #670
ça fonctionne

[2016-03-16 05:07] #670 closed, assigned to RaphaelRIVIERE

[2016-03-16 06:56] RaphaelRIVIERE opened #771 "News : Public vs Mon Réseau"
![capture du 2016-03-16 10 49 36](https://cloud.githubusercontent.com/assets/8775448/13804331/7cac1412-eb65-11e5-878c-a3ea29fa8db4.png)

On a rien qui indique si la new que j'ai publié est pour le Public ou pour mon réseau

![capture du 2016-03-16 10 53 41](https://cloud.githubusercontent.com/assets/8775448/13804355/a1a7612c-eb65-11e5-84a7-da217a583c6f.png)

[2016-03-16 07:29] RaphaelRIVIERE opened #772 "Notification : obliger d'actualiser la page"
On est obliger d'actualiser la page pour voir qu'on à des notifications

[2016-03-16 09:00] clement59 commented on #558
Bah oui !! effectivement je l'avais signalé dans le chat hangout !
J'ai repris la ligne (déjà exitante sur un autre fichier) if (@$me["isDev])
Mais le isDev n'est pas généré dans le $me
Donc ça ne fonctionne pas à plusieurs endroits !

[2016-03-16 12:35] Kgneo commented on #731
- Affecter la combo box au pays de la ville présent dans le cookie : **OK**
- Cas tordu : Gérer le cas où je choisi une ville qui n'est pas dans le pays que j'ai choisi en première étape ?
  **===> si je cherche manuellement (nom ville / CP), les résultats sont filtrés en fonction du pays choisi précédemment.
  ===> si je choisi "geoloc auto", le pays choisi n'est pas pris en compte.
  MAIS au fin

[2016-03-16 13:18] RaphaelRIVIERE commented on #666
Corrigé

[2016-03-16 13:18] #666 closed, assigned to sylvainbarbot

[2016-03-16 13:28] RaphaelRIVIERE commented on #564
ça fonctionne , je ferme

[2016-03-16 13:28] #564 closed, assigned to clement59

[2016-03-17 05:34] oceatoon commented on #772
c'est un choix , de ne pas pinger le serveur à intervalle , tu as ce que tu
as a l'ouverture et ca suffit :)
et non c'est pas compliqué du tout , mais ca fait des requetes recurrentes
et tu demultipli par le nombre de connecté
je serais pour quand on aura de bon server , mais là, est ce vraiment utile
? bof
​

[2016-03-17 05:43] RaphaelRIVIERE commented on #715
C'est fait, reste plus que tester

[2016-03-17 06:01] RaphaelRIVIERE commented on #503
La redirection fonctionne bien.

[2016-03-17 06:01] #503 closed, assigned to RaphaelRIVIERE

[2016-03-17 06:37] #722 closed, assigned to RaphaelRIVIERE

[2016-03-17 07:45] childee opened #773 "Process volontaire dans organisation"
Quel doit être le comportement de la partie "Volontaires" sur un besoin dans une organisation ?

Si je me propose :
1 - changement du logo avec smile (fontionne déjà)
2 - Incrémentation du nombre de volontaire
3 - Désactivation bouton "Se proposer" par "Validation en cours" avec le texte qui va bien au dessus

Pour info, sur le smile est écrit "wait for validation".
A en discuter,

[2016-03-17 07:51] RaphaelRIVIERE opened #774 "Différencier les events"
![capture du 2016-03-17 11 47 24](https://cloud.githubusercontent.com/assets/8775448/13839673/4c444df4-ec36-11e5-9f5d-2d6a6ca501c8.png)

Tous ces events ont des dates différentes, on a pas de moyen de les différenciers

[2016-03-17 07:55] RaphaelRIVIERE opened #775 "Ne pas afficher les entités incomplets"
Tout ceux qui ont  : "state" : "uncomplete"  , ne doit pas apparaittre dans la recherche.

[2016-03-17 08:24] clement59 commented on #558
impeccable !!

[2016-03-17 10:40] clement59 commented on #558
Porke tu l'as fermé?

[2016-03-17 12:22] oceatoon opened #776 "carto : btn inscrire connecter KO"

[2016-03-17 16:49] clement59 commented on #558
Ca plante, je rouvre !! erreur 500 => roles is undefined

[2016-03-17 16:50] clement59 commented on #558
ya pas les roles dedans !

[2016-03-17 16:55] clement59 commented on #558
ok autant pour moi, j'avais rafraichit mes variables de session

[2016-03-17 16:55] #558 closed, assigned to clement59

[2016-03-17 17:55] thoka opened #777 "explain how to switch language"
As it seems, communecter should be available in french and english already.

Please explain, how language can be switched at https://www.communecter.org

[2016-03-17 18:11] oceatoon commented on #777
It is available
but the switch is still manuel , it's in my asap todo list
I'll inform you as soon as it comes out
Thanks for insisting for it :)

[2016-03-17 18:16] thoka commented on #777
Perhaps you could guess the language from the requests headers provided by
the browser ?

http://stackoverflow.com/questions/17803702/auto-detect-language-and-redirect-user

2016-03-17 19:11 GMT+01:00 Tibor Katelbach notifications@github.com:

[2016-03-17 18:32] oceatoon commented on #777
yes that's part of the plan , but a switcher will also be available

[2016-03-18 05:01] #746 closed, assigned to oceatoon

[2016-03-18 05:13] aboire commented on #772
Je dirai websocket et nodejs
Le 17 mars 2016 09:34, "Tibor Katelbach" notifications@github.com a
écrit :

[2016-03-18 05:30] oceatoon commented on #772
100% d'accord pour l'implémentation
mais je decale jsute ca en 0.2 :)

[2016-03-18 06:49] RaphaelRIVIERE opened #778 "Refractor : Document::uploadImage"

[2016-03-18 07:22] #759 closed, assigned to sylvainbarbot

[2016-03-18 07:28] #753 closed, assigned to clement59

[2016-03-18 08:13] childee commented on #727
Ok pour moi

[2016-03-18 08:13] #727 closed, assigned to childee

[2016-03-18 09:37] clement59 commented on #659
Non c'est d'ailleurs sur toutes les news !!
Bien vu

[2016-03-18 09:48] #659 closed, assigned to clement59

[2016-03-18 09:50] Kgneo commented on #775
ok j'ai fait la modif, à tester.
Par contre j'ai commité sur la branche "register_simple" du CTK (erreur de ma part)

[2016-03-18 09:50] Kgneo commented on #776
c'est à dire ?

[2016-03-18 10:00] clement59 commented on #776
Quand tu es sur la carte le bouton de connexion n'affiche pas la box. Le bouton inscription non plus d'ailleurs

[2016-03-18 10:13] #257 closed, assigned to sylvainbarbot

[2016-03-18 11:28] #295 closed, assigned to oceatoon

[2016-03-18 11:50] RaphaelRIVIERE commented on #775
ok super je vais testé

[2016-03-18 14:07] MaiaDereva commented on #738
OK, j'attends la prochaine livraison pour vous donner un feed-back (je saurais comment que je peux retester / que la livraison est faite ?)

[2016-03-18 14:51] oceatoon commented on #738
On y est presque
Merci maia
Le 18 mars 2016 6:08 PM, "Maïa Dereva" notifications@github.com a écrit :

[2016-03-18 16:01] clement59 commented on #744
Ya bouene !

[2016-03-18 16:01] clement59 commented on #743
0.2 ?

[2016-03-18 23:30] aboire opened #779 "bug sur link/connect pour participer à un event pour communEvent"
on avait reglé le problème avec sylvain cette après midi
mais il y a nouveau un problème j'ai en retour : Incorrect request

[2016-03-19 08:06] clement59 commented on #723
C'est réglé pour le label !! Par contre la boulette, c'est que les listes sont en Français alors quelles devraient être en anglais avec une traduction sur le front !!!!
Je pense que les autres features on peut passer en 0.2

[2016-03-21 03:18] #776 closed, assigned to Kgneo

[2016-03-21 03:19] Kgneo commented on #775
à fermer si c'est ok.

[2016-03-21 03:41] Kgneo opened #780 "intégrer la saisie des commentaires dans la même div que la news"
![capture d ecran 2016-03-21 a 14 39 34](https://cloud.githubusercontent.com/assets/7578166/13910231/e66d2272-ef72-11e5-8067-9d4b18f79854.png)

[2016-03-21 03:57] Kgneo commented on #751
j'ai rajouté l'organisateur sur la carte (projet ou orga)

![capture d ecran 2016-03-21 a 14 56 41](https://cloud.githubusercontent.com/assets/7578166/13910370/2aa83754-ef75-11e5-95ca-aa0b4650a0d9.png)
![capture d ecran 2016-03-21 a 14 56 22](https://cloud.githubusercontent.com/assets/7578166/13910371/2aab22e8-ef75-11e5-8bbd-838119f80540.png)